@import 'common';

.charter {
    .box {
        .content {
            padding: 133px 20px 20px;
            background-image: url(/assets/images/customer/bg_logo.jpg);
            strong {
                color: $kcolor;
            }
            @media(min-width: $sm) {
                padding: 35px 40px 35px 140px;
                background-position: 20px 50%;
            }
        }
    }
    .promise {
        margin-top: 30px;
        padding: 30px 20px;
        border-radius: 10px;
        border: 1px solid #ddd;
        background-color: #f6f6f6;
        > li {
            & ~ li {
                margin-top: 25px;
            }
            font-size: 14px;
            color: #666;
            font-weight: 300;
            line-height: 24px;
            strong {
                font-size: 16px;
                color: $kcolor;
                font-weight: 500;
                margin-right: 5px;
            }
        }
        @media(min-width: $md) {
            margin-top: 40px;
            padding: 40px 30px;
            > li {
                & ~ li {
                    margin-top: 35px;
                }
                font-size: 16px;
                line-height: 28px;
                strong {
                    font-size: 21px;
                    line-height: 28px;
                }
            }
        }
    }
    hr {
        display: block;
        margin: 20px 0;
        border-top: 1px dashed #ddd;
        @media(min-width: $md) {
            margin: 30px 0;
        }
    }
    .attention {
        font-size: 14px;
        @media(min-width: $md) {
            font-size: 16px;
        }
    }
}

.fulfill-criteria {
    .tab-list {
        font-size: 0;
        > li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            &:last-child {
                margin-right: 0;
            }
            > a {
                font-size: 14px;
                color: #898989;
                @include transition();
                padding: 5px 10px;
                border: 1px solid #ddd;
                border-radius: 5px;
                background-color: #f5f5f5;
                &:hover {
                    opacity: .8;
                    color: $kcolor;
                    border-color: $kcolor;
                    background-color: #9ad0ff;
                }
                &.active {
                    color: $kcolor;
                    border-color: $kcolor;
                    background-color: #9ad0ff;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .tab-content {
        margin-top: 30px;
        .tab-pane {
            article {
                padding-left: 15px;
                .sub-title {
                    margin-left: -15px;
                }
                & ~ article {
                    margin-top: 30px;
                }
            }
            ul, ol {
                > ul, ol {
                    padding-left: 20px;
                }
            }
            .practice {
                .decimal-list {
                    > li {
                        & ~ li {
                            margin-top: 20px;
                        }
                        strong {
                            display: block;
                            color: $kcolor;
                            margin-bottom: 15px;
                        }
                        .dashed-list {
                            li {
                                & ~ li {
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                    &.type-1 {
                        li {
                            &:before {
                                color: $kcolor;
                            }
                        }
                    }
                }
            }
            .guide {
                .decimal-list {
                    > li {
                        & ~ li {
                            margin-top: 20px;
                        }
                        strong {
                            display: block;
                            color: $kcolor;
                            margin-bottom: 15px;
                        }
                        .dashed-list {
                            li {
                                & ~ li {
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                    &.type-1 {
                        li {
                            &:before {
                                color: $kcolor;
                            }
                        }
                    }
                }
                .note {
                    font-size: 16px;
                    line-height: 24px;
                    color: #333;
                    &:before {
                        content: '• ';
                    }
                }
                .table-responsive {
                    margin-top: 20px;
                    thead {
                        tr {
                            th {
                                &:last-child {
                                    border-right: 0;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                &:last-child {
                                    border-right: 0;
                                }
                            }
                        }
                    }
                }
            }
            .cooperation {
                .decimal-list {
                    li {
                        & ~ li {
                            margin-top: 10px;
                        }
                        &:nth-of-type(9) ~ li {
                            padding-left: 25px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .tab-list {
            > li {
                > a {
                    font-size: 16px;
                }
            }
        }
        .tab-content {
            margin-top: 60px;
            .tab-pane {
                article {
                    & ~ article {
                        margin-top: 60px;
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        
    }
    @media(min-width: 1400px) {
        
    }
}

.fulfill-standard {
    article {
        strong {
            display: block;
            font-size: 18px;
            color: #333;
            margin-bottom: 20px;
        }
        .box {
            .content {
                text-align: left;
                padding: 20px;
                background: none;
                background-color: #fff;
            }
            .white-dot {
                > li {
                    position: relative;
                    font-size: 16px;
                    color: #666;
                    font-weight: 400;
                    line-height: 24px;
                    padding-left: 10px;
                    & ~ li {
                        margin-top: 20px;
                    }
                    &:before {
                        position: absolute;
                        top: 3px;
                        left: 0;
                        content: '° ';
                    }
                    @media(min-width: $md) {
                        line-height: 28px;
                    }
                }
            }
        }
        .decimal-list {
            margin-top: 20px;
            > li {
                & ~ li {
                    margin-top: 20px;
                }
                strong {
                    display: block;
                    color: $kcolor;
                    margin-bottom: 10px;
                }
            }
            &.type-1 {
                li {
                    &:before {
                        color: $kcolor;
                    }
                }
            }
        }
        .dot-list {
            margin-top: 20px;
            > li {
                & ~ li {
                    margin-top: 10px;
                }
                > dl {
                    overflow: hidden;
                    dt {
                        font-size: 16px;
                        color: #333;
                        float: left;
                        clear: both;
                        font-weight: 400;
                        &:after {
                            content: ':';
                            margin: 0 10px;
                        }
                    }
                    dd {
                        font-size: 16px;
                        color: #666;
                        font-weight: 400;
                    }
                }
            }
        }
        hr {
            margin: 30px 0;
            display: block;
            border-top: 1px solid #ddd;
        }
    }
    @media(min-width: $sm) {
        article {
            .decimal-list {
                margin-top: 30px;
            }
            hr {
                margin: 40px 0;
            }
        }
    }
}

.faqlist {
    .search-form {
        margin-top: 45px;
        @media(min-width: $md) {
            margin-top: 60px;
        }
    }
    .faq-list {
        margin-top: 30px;
        @media(min-width: $md) {
            margin-top: 40px;
        }
    }
    .question-list {
        > li {
            position: relative;
            line-height: 24px;
            font-size: 16px;
            color: #333;
            padding-left: 20px;
            font-weight: 400;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                color: $kcolor;
                font-family: 'fontello';
                content: '\E80B';
            }
            & ~ li {
                margin-top: 20px;
            }
            @media(min-width: $sm) {
                line-height: 28px;
            }
        }
    }
    .dot-list {
        margin-top: 5px;
        > li {
            padding-left: 13px;
            &:before {
                font-size: 20px;
                color: #ff6262;
            }
        }
        &.space {
            > li {
                & ~ li {
                    margin-top: 10px;
                }
            }
        }
    }
    .dashed-list {
        li {
            margin-top: 5px;
        }
    }
    .arrow-list {
        > li {
            position: relative;
            font-size: 16px;
            color: #666;
            line-height: 24px;
            font-weight: 400;
            padding-left: 15px;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 10px;
                content: '▶';
            }
            & ~ li {
                margin-top: 20px;
            }
            @media(min-width: $sm) {
                line-height: 28px;
            }
            .arrow-list2 {
                li {
                    position: relative;
                    padding-left: 15px;
                    font-size: inherit;
                    color: inherit;
                    line-height: inherit;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-size: 10px;
                        content: '→';
                    }
                }
            }
        }
    }
    .decimal-list {
        li {
            padding-left: 20px;
            &:before {
                content: counter(list-index) ")";
            }
            &:nth-of-type(9) ~ li {
                padding-left: 28px;
            }
        }
    }
    .table-responsive {
        margin-top: 20px;
        .table {
            thead {
                tr {
                    th {
                        &:last-child {
                            border-right: 0;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        &:last-child {
                            border-right: 0;
                        }
                    }
                }
            }
            @media(min-width: $lg) {
                thead {
                    tr {
                        th {
                            white-space: normal;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            white-space: normal;
                        }
                    }
                }
            }
        }
    }
}

.advice-write {
    .write-form {
        .table-wrap {
            text-align: right;
            margin-top: 30px;
            @media(min-width: $sm) {
                margin-top: 40px;
            }
            @media(min-width: $lg) {
                margin-top: 60px;
            }
            > .indispensable {
                display: inline-block;
                font-size: 16px;
                color: #666;
                margin-bottom: 10px;
                &:before {
                    content: '* ';
                    color: $kcolor;
                }
            }
            tbody {
                tr {
                    td {
                        .form-group {
                            textarea {
                                padding: 10px !important;
                                width: 100% !important;
                                height: 140px !important;
                            }
                        }
                        &.u-name {
                            .form-group {
                                .form-control {
                                    max-width: 300px;
                                }
                            }
                        }
                    }
                }
                @media(min-width: $sm) {
                    tr {
                        td {
                            .form-group {
                                textarea {
                                    height: 200px !important;
                                }
                            }
                        }
                    }
                }
                @media(min-width: $lg) {
                    tr {
                        td {
                            .form-group {
                                textarea {
                                    height: 300px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            text-align: center;
            margin-top: 30px;
            .btn-submit {
                width: 150px;
                line-height: 40px;
                font-size: 16px;
                text-align: center;
                color: #fff;
                background-color: $kcolor;
                @include transition();
                &:hover {
                    opacity: .7;
                }
            }
            @media(min-width: $sm) {
                margin-top: 45px;
                .btn-submit {
                    width: 180px;
                    line-height: 45px;
                }
            }
        }
    }
}

.common-list {
    .search-form {
        margin-top: 45px;
    }
    .table-wrap {
        margin-top: 30px;
    }
    .paging {
        margin-top: 30px;
    }
    .btn-area {
        text-align: right;
        margin-top: 30px;
        > .btn-default {
            display: inline-block;
            width: 138px;
            line-height: 38px;
            font-size: 16px;
            color: #fff;
            text-align: center;
            @include transition();
            background-color: #016ecd;
            &:hover {
                opacity: .8;
            }
        }
    }
    @media(min-width: $md) {
        .search-form {
            margin-top: 60px;
        }
        .table-wrap {
            margin-top: 40px;
        }
        .btn-area {
            margin-top: 40px;
            > .btn-default {
                width: 180px;
                line-height: 46px;
            }
        }
    }
}

.praise-list {
    .table-wrap {
        .list-type1 {
            thead {
                tr {
                    th {
                        display: none;
                        &.subject {
                            width: 70%;
                            display: table-cell;
                        }
                        &.writer {
                            width: 30%;
                            display: table-cell;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        display: none;
                        &.subject {
                            display: table-cell;
                        }
                        &.writer {
                            display: table-cell;
                        }
                    }
                }
            }
            @media(min-width: $sm) {
                thead {
                    tr {
                        th {
                            display: table-cell;
                            &.num {
                                width: 10%;
                            }
                            &.subject {
                                width: 50%;
                            }
                            &.writer {
                                width: 15%;
                            }
                            &:nth-of-type(4) {
                                width: 15%;
                            }
                            &:nth-of-type(5) {
                                width: 10%;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            display: table-cell;
                        }
                    }
                }
            }
        }
    }
}

.praise-write {
    .write-form {
        .table-wrap {
            text-align: right;
            > .indispensable {
                display: inline-block;
                font-size: 16px;
                color: #666;
                margin-bottom: 10px;
                &:before {
                    content: '* ';
                    color: $kcolor;
                }
            }
            tbody {
                tr {
                    td {
                        .form-group {
                            textarea {
                                padding: 10px !important;
                                width: 100% !important;
                                height: 140px !important;
                            }
                        }
                        &.u-name {
                            .form-group {
                                .form-control {
                                    max-width: 300px;
                                }
                            }
                        }
                    }
                }
                @media(min-width: $sm) {
                    tr {
                        td {
                            .form-group {
                                textarea {
                                    height: 200px !important;
                                }
                            }
                        }
                    }
                }
                @media(min-width: $lg) {
                    tr {
                        td {
                            .form-group {
                                textarea {
                                    height: 300px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            text-align: center;
            margin-top: 30px;
            .btn {
                display: inline-block;
                width: 130px;
                line-height: 40px;
                font-size: 16px;
                text-align: center;
                color: #fff;
                margin-right: 10px;
                @include transition();
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    opacity: .7;
                }
                &.btn-submit {
                    background-color: $kcolor;
                }
                &.btn-cancel {
                    background-color: #7a899b;
                }
            }
            @media(min-width: $sm) {
                margin-top: 45px;
                .btn {
                    width: 180px;
                    line-height: 45px;
                }
            }
        }
    }
}

.privacy {
    article {
        > .article-header {
            .box {
                .content {
                    padding: 133px 20px 20px;
                    background-image: url(/assets/images/customer/bg_logo.jpg);
                    strong {
                        color: $kcolor;
                    }
                    @media(min-width: $sm) {
                        padding: 35px 40px 35px 173px;
                    }
                }
            }
            > strong {
                display: block;
                font-size: 16px;
                color: #333;
                font-weight: 400;
                margin-top: 30px;
            }
            > p {
                font-size: 14px;
                line-height: 24px;
                color: #666;
                font-weight: 300;
                margin-top: 10px;
            }
            @media(min-width: $md) {
                > strong {
                    font-size: 18px;
                    margin-top: 40px;
                }
                > p {
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }
        > .article-content {
            margin-top: 30px;
            .ordered-list {
                > li {
                    & ~ li {
                        margin-top: 20px;
                    }
                    strong {
                        font-size: 16px;
                        color: #333;
                        font-weight: 400;
                        display: block;
                        line-height: 24px;
                        @media(min-width: $md) {
                            font-size: 18px;
                            line-height: 28px;
                        }
                    }
                    .circle-decimal {
                        > li {
                            position: relative;
                            font-size: 14px;
                            color: #666;
                            line-height: 22px;
                            font-weight: 300;
                            padding-left: 20px;
                            counter-increment: my-list-index;
                            &:before {
                                position: absolute;
                                top: 4px;
                                left: 0;
                                width: 16px;
                                height: 16px;
                                line-height: 14px;
                                font-size: 10px;
                                text-align: center;
                                font-weight: 400;
                                display: block;
                                color: #666;
                                border-radius: 50%;
                                border: 1px solid #666;
                                content: counter(my-list-index);
                                @media(min-width: $md) {
                                    top: 6px;
                                }
                            }
                            & ~ li {
                                margin-top: 20px;
                            }
                            @media(min-width: $md) {
                                font-size: 16px;
                                line-height: 26px;
                            }
                        }
                    }
                    .decimal-list {
                        > li {
                            font-size: 14px;
                            color: #666;
                            line-height: 22px;
                            font-weight: 300;
                            margin-top: 20px;
                            @media(min-width: $md) {
                                font-size: 16px;
                                line-height: 26px;
                            }
                        }
                    }
                    .dashed-list {
                        > li {
                            font-size: 14px;
                            color: #666;
                            line-height: 22px;
                            font-weight: 300;
                            @media(min-width: $md) {
                                font-size: 16px;
                                line-height: 26px;
                            }
                        }
                    }
                    .table-responsive {
                        margin-top: 10px;
                        .table {
                            thead {
                                tr {
                                    th {
                                        font-size: 14px;
                                        line-height: 22px;
                                        &:last-child {
                                            border-right: 0;
                                        }
                                        @media(min-width: $md) {
                                            font-size: 16px;
                                            line-height: 26px;
                                        }
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    td {
                                        font-size: 14px;
                                        line-height: 22px;
                                        &:last-child {
                                            border-right: 0;
                                        }
                                        @media(min-width: $md) {
                                            font-size: 16px;
                                            line-height: 26px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .attention {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 22px;
                        margin-top: 10px;
                        @media(min-width: $md) {
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }
                    .information {
                        b {
                            font-size: 14px;
                            display: block;
                            color: #666;
                            font-weight: 300;
                            small {
                                position: relative;
                                top: -2px;
                                font-size: 10px;
                            }
                            @media(min-width: $md) {
                                font-size: 16px;
                                line-height: 26px;
                            }
                        }
                        > dl {
                            overflow: hidden;
                            > dt {
                                float: left;
                                clear: both;
                                font-size: 14px;
                                font-weight: 300;
                                line-height: 22px;
                                color: #666;
                                &:after {
                                    content: ':';
                                    margin: 0 5px;
                                }
                                @media(min-width: $md) {
                                    font-size: 16px;
                                    line-height: 26px;
                                }
                            }
                            > dd {
                                float: left;
                                display: inline;
                                font-size: 14px;
                                font-weight: 300;
                                line-height: 22px;
                                color: #666;
                                @media(min-width: $md) {
                                    font-size: 16px;
                                    line-height: 26px;
                                }
                            }
                            &.dashed {
                                dt {
                                    &:before {
                                        content: '- ';
                                    }
                                }
                            }
                        }
                    }
                    .note {
                        font-size: 14px;
                        color: #666;
                        line-height: 22px;
                        font-weight: 300;
                        @media(min-width: $md) {
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }
                }
            }
        }
    }
}

.bc-faqlist {
    .search-form {
        margin-top: 45px;
        @media(min-width: $md) {
            margin-top: 60px;
        }
    }
    .faq-list {
        margin-top: 30px;
        @media(min-width: $md) {
            margin-top: 40px;
        }
        .item {
            .answer {
                .content {
                    .note {
                        font-size: 12px;
                        color: #666;
                        font-weight: 300;
                        line-height: 26px;
                        text-align: center;
                        padding: 15px 0;
                        margin: 10px 0;
                        border: 1px solid #333;
                        @media(min-width: $sm) {
                            font-size: 16px;
                        }
                    }
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.counseling {
    .write-form {
        .table-wrap {
            text-align: right;
            margin-top: 30px;
            @media(min-width: $sm) {
                margin-top: 40px;
            }
            @media(min-width: $lg) {
                margin-top: 60px;
            }
            > .indispensable {
                display: inline-block;
                font-size: 16px;
                color: #666;
                margin-bottom: 10px;
                &:before {
                    content: '* ';
                    color: $kcolor;
                }
            }
            tbody {
                tr {
                    td {
                        .form-group {
                            textarea {
                                padding: 10px !important;
                                width: 100% !important;
                                height: 140px !important;
                            }
                        }
                        &.u-name {
                            .form-group {
                                .form-control {
                                    max-width: 300px;
                                }
                            }
                        }
                    }
                }
                @media(min-width: $sm) {
                    tr {
                        td {
                            .form-group {
                                textarea {
                                    height: 200px !important;
                                }
                            }
                        }
                    }
                }
                @media(min-width: $lg) {
                    tr {
                        td {
                            .form-group {
                                textarea {
                                    height: 300px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            text-align: center;
            margin-top: 30px;
            .btn-submit {
                width: 150px;
                line-height: 40px;
                font-size: 16px;
                text-align: center;
                color: #fff;
                background-color: $kcolor;
                @include transition();
                &:hover {
                    opacity: .7;
                }
            }
            @media(min-width: $sm) {
                margin-top: 45px;
                .btn-submit {
                    width: 180px;
                    line-height: 45px;
                }
            }
        }
    }
}

.outline, .claim, .nondisclosure, .procedure {
    article {
        .sub-title {
            & ~ .sub-title {
                margin-top: 30px;
                @media(min-width: $md) {
                    margin-top: 60px;
                }
            }
            > a {
                color: $kcolor;
            }
        }
        > dl {
            dt {
                font-size: 16px;
                color: $kcolor;
                font-weight: 400;
                margin-bottom: 15px;
                & ~ dt {
                    margin-top: 40px;
                }
            }
            dd {
                font-size: 16px;
                color: #666;
                font-weight: 300;
                strong {
                    display: block;
                    font-weight: 400;
                }
                .dot-list {
                    li {
                        &:before {
                            color: $kcolor;
                            font-size: 18px;
                        }
                        & ~ li {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

.procedure {
    article {
        > figure {
            img {
                display: block;
                margin: 0 auto;
            }
            @media(min-width: $sm) {
                padding: 45px 0;
                border: 1px solid #ddd;
                border-radius: 10px;
                background-color: #f6f6f6;
            }
            @media(min-width: $lg) {
                padding: 65px 0;
            }
        }
    }
}

.officially {
    article {
        & ~ article {
            margin-top: 30px;
            @media(min-width: $md) {
                margin-top: 60px;
            }
        }
        .sub-title {
            & ~ .sub-title {
                margin-top: 30px;
                @media(min-width: $md) {
                    margin-top: 60px;
                }
            }
        }
        > dl {
            dt {
                font-size: 16px;
                color: $kcolor;
                font-weight: 400;
                margin-bottom: 15px;
            }
            dd {
                font-size: 16px;
                color: #666;
                font-weight: 300;
            }
        }
        &.summary {
            > p {
                font-size: 16px;
                color: #666;
                font-weight: 300;
            }
        }
    }
    .officially-list, .officially-view {
        .search-form {
            margin-top: 30px;
        }
        .tab-menu {
            margin-top: 30px;
            > ul {
                overflow: hidden;
                > li {
                    float: left;
                    width: 25%;
                    color: #fff;
                    border: 1px solid #ddd;
                    border-right: 0;
                    &:nth-of-type(4) {
                        border-right: 1px solid #ddd;
                    }
                    &:last-child {
                        border-right: 1px solid #ddd;
                    }
                    &:nth-of-type(4) ~ li {
                        width: 33.33333%;
                        border-top: 0;
                    }
                    > a {
                        position: relative;
                        font-size: 13px;
                        color: #666;
                        font-weight: 400;
                        display: block;
                        text-align: center;
                        line-height: 42px;
                        letter-spacing: -1px;
                        @include transition();
                        &:hover {
                            opacity: .7;
                            color: #fff;
                            background-color: $kcolor;
                        }
                    }
                    &.active {
                        > a {
                            color: #fff;
                            background-color: $kcolor;
                            &:after {
                                position: absolute;
                                bottom: -1px;
                                left: 50%;
                                color: #fff;
                                content: '';
                                margin-left: -6px;
                                display: inline-block;
                                vertical-align: .255em;
                                border-top: 0;
                                border-right: 6px solid transparent;
                                border-bottom: 6px solid;
                                border-left: 6px solid transparent;
                            }
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        .table-wrap {
            margin-top: 30px;
            .table {
                thead {
                    tr {
                        th {
                            font-size: 13px;
                            display: none;
                            &:nth-of-type(2) {
                                width: 35%;
                                display: table-cell;
                            }
                            &.subject {
                                width: 65%;
                                display: table-cell;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            font-size: 13px;
                            display: none;
                            &:nth-of-type(2) {
                                letter-spacing: -.5px;
                                display: table-cell;
                            }
                            &.subject {
                                display: table-cell;
                                > a {
                                    position: relative;
                                    padding-left: 10px;
                                    padding-right: 20px;
                                    .icon-floppy {
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        color: #333;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .paging {
            margin-top: 30px;
        }
        .board-view {
            margin-top: 30px;
        }
        @media(min-width: $sm) {
            .search-form {
                margin-top: 40px;
            }
            .tab-menu {
                margin-top: 40px;
                > ul {
                    > li {
                        width: 15% !important;
                        &:nth-of-type(1) {
                            width: 10% !important;
                        }
                        &:nth-of-type(4) {
                            border-right: 0;
                        }
                        &:nth-of-type(4) ~ li {
                            border-top: 1px solid #ddd;
                        }
                        > a {
                            font-size: 14px;
                        }
                    }
                }
            }
            .table-wrap {
                margin-top: 40px;
                .table {
                    thead {
                        tr {
                            th {
                                font-size: 14px;
                                &:nth-of-type(2) {
                                    width: 20%;
                                }
                                &:nth-of-type(3) {
                                    width: 10%;
                                    display: table-cell;
                                }
                                &.subject {
                                    width: 50%;
                                }
                                &:nth-of-type(5) {
                                    width: 20%;
                                    display: table-cell;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                font-size: 14px;
                                &:nth-of-type(3) {
                                    display: table-cell;
                                }
                                &:nth-of-type(5) {
                                    display: table-cell;
                                }
                            }
                        }
                    }
                }
            }
            .paging {
                margin-top: 40px;
            }
            .board-view {
                margin-top: 40px;
            }
        }
        @media(min-width: $md) {
            .table-wrap {
                .table {
                    thead {
                        tr {
                            th {
                                font-size: 15px;
                                display: table-cell;
                                &:nth-of-type(1) {
                                    width: 10%;
                                }
                                &:nth-of-type(2) {
                                    width: 15%;
                                }
                                &:nth-of-type(3) {
                                    width: 10%;
                                }
                                &.subject {
                                    width: 29%;
                                }
                                &:nth-of-type(5) {
                                    width: 13%;
                                }
                                &:nth-of-type(6) {
                                    width: 13%;
                                }
                                &:nth-of-type(7) {
                                    width: 10%;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                font-size: 15px;
                                display: table-cell;
                            }
                        }
                    }
                }
            }
        }
        @media(min-width: 1400px) {
            .table-wrap {
                .table {
                    thead {
                        tr {
                            th {
                                &:nth-of-type(1) {
                                    width: 8%;
                                }
                                &:nth-of-type(2) {
                                    width: 15%;
                                }
                                &:nth-of-type(3) {
                                    width: 10%;
                                }
                                &.subject {
                                    /*width: 29%;*/
                                }
                                &:nth-of-type(5) {
                                    width: 13%;
                                }
                                &:nth-of-type(6) {
                                    width: 13%;
                                }
                                &:nth-of-type(7) {
                                    width: 8%;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media(min-width: 1600px) {
            .tab-menu {
                > ul {
                    > li {
                        > a {
                            font-size: 16px;
                        }
                    }
                }
            }
            .table-wrap {
                .table {
                    thead {
                        tr {
                            th {
                                font-size: 16px;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}























