@charset "UTF-8";
@import url(/assets/css/font/noto-sans-korean.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 300; }
  dl dd {
    font-weight: lighter;
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button {
  outline: none !important; }
  button:hover, button:focus {
    box-shadow: none !important; }

.form-group {
  margin-bottom: 0; }

label {
  font-weight: 400;
  margin: 0; }

input, .form-control {
  margin-bottom: 0;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0; }

a {
  color: #666;
  outline: none !important; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.table {
  margin: 0; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none !important; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

@media (min-width: 1200px) {
  .customer .fulfill-criteria {
    min-height: 2756px !important; } }

.charter .box {
  padding: 133px 20px 20px;
  background-image: url(/assets/images/customer/bg_logo.jpg); }
  .charter .box strong {
    color: #016ecd; }
  @media (min-width: 768px) {
    .charter .box {
      padding: 35px 40px 35px 173px; } }
.charter .promise {
  padding: 30px 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #f6f6f6; }
  .charter .promise > li {
    font-size: 14px;
    color: #666;
    font-weight: 300;
    line-height: 24px; }
    .charter .promise > li ~ li {
      margin-top: 25px; }
    .charter .promise > li strong {
      font-size: 16px;
      color: #016ecd;
      font-weight: 500;
      margin-right: 5px; }
  @media (min-width: 992px) {
    .charter .promise {
      padding: 40px 30px; }
      .charter .promise > li {
        font-size: 16px;
        line-height: 28px; }
        .charter .promise > li ~ li {
          margin-top: 35px; }
        .charter .promise > li strong {
          font-size: 21px;
          line-height: 28px; } }
.charter hr {
  display: block;
  margin: 20px 0;
  border-top: 1px dashed #ddd; }
  @media (min-width: 992px) {
    .charter hr {
      margin: 30px 0; } }
.charter .attention {
  font-size: 14px; }
  @media (min-width: 992px) {
    .charter .attention {
      font-size: 16px; } }

.fulfill-criteria .tab-list {
  font-size: 0; }
  .fulfill-criteria .tab-list > li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px; }
    .fulfill-criteria .tab-list > li:last-child {
      margin-right: 0; }
    .fulfill-criteria .tab-list > li > a {
      font-size: 14px;
      color: #898989;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      padding: 5px 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f5f5f5; }
      .fulfill-criteria .tab-list > li > a:hover {
        opacity: .8;
        color: #016ecd;
        border-color: #016ecd;
        background-color: #9ad0ff; }
      .fulfill-criteria .tab-list > li > a.active {
        color: #016ecd;
        border-color: #016ecd;
        background-color: #9ad0ff; }
        .fulfill-criteria .tab-list > li > a.active:hover {
          opacity: 1; }
.fulfill-criteria .tab-content {
  margin-top: 30px; }
  .fulfill-criteria .tab-content .tab-pane article {
    padding-left: 15px; }
    .fulfill-criteria .tab-content .tab-pane article .sub-title {
      margin-left: -15px; }
    .fulfill-criteria .tab-content .tab-pane article ~ article {
      margin-top: 30px; }
  .fulfill-criteria .tab-content .tab-pane ul > ul, .fulfill-criteria .tab-content .tab-pane ul ol, .fulfill-criteria .tab-content .tab-pane ol > ul, .fulfill-criteria .tab-content .tab-pane ol ol {
    padding-left: 20px; }
  .fulfill-criteria .tab-content .tab-pane .practice .decimal-list > li ~ li {
    margin-top: 20px; }
  .fulfill-criteria .tab-content .tab-pane .practice .decimal-list > li strong {
    display: block;
    color: #016ecd;
    margin-bottom: 15px; }
  .fulfill-criteria .tab-content .tab-pane .practice .decimal-list > li .dashed-list li ~ li {
    margin-top: 10px; }
  .fulfill-criteria .tab-content .tab-pane .practice .decimal-list.type-1 li:before {
    color: #016ecd; }
  .fulfill-criteria .tab-content .tab-pane .guide .decimal-list > li ~ li {
    margin-top: 20px; }
  .fulfill-criteria .tab-content .tab-pane .guide .decimal-list > li strong {
    display: block;
    color: #016ecd;
    margin-bottom: 15px; }
  .fulfill-criteria .tab-content .tab-pane .guide .decimal-list > li .dashed-list li ~ li {
    margin-top: 10px; }
  .fulfill-criteria .tab-content .tab-pane .guide .decimal-list.type-1 li:before {
    color: #016ecd; }
  .fulfill-criteria .tab-content .tab-pane .guide .note {
    font-size: 16px;
    line-height: 24px;
    color: #333; }
    .fulfill-criteria .tab-content .tab-pane .guide .note:before {
      content: '• '; }
  .fulfill-criteria .tab-content .tab-pane .guide .table-responsive {
    margin-top: 20px; }
    .fulfill-criteria .tab-content .tab-pane .guide .table-responsive thead tr th:last-child {
      border-right: 0; }
    .fulfill-criteria .tab-content .tab-pane .guide .table-responsive tbody tr td:last-child {
      border-right: 0; }
  .fulfill-criteria .tab-content .tab-pane .cooperation .decimal-list li ~ li {
    margin-top: 10px; }
  .fulfill-criteria .tab-content .tab-pane .cooperation .decimal-list li:nth-of-type(9) ~ li {
    padding-left: 25px; }
@media (min-width: 992px) {
  .fulfill-criteria .tab-list > li > a {
    font-size: 16px; }
  .fulfill-criteria .tab-content {
    margin-top: 60px; }
    .fulfill-criteria .tab-content .tab-pane article ~ article {
      margin-top: 60px; } }

.fulfill-standard article strong {
  display: block;
  font-size: 18px;
  color: #333;
  margin-bottom: 20px; }
.fulfill-standard article .box.gray {
  text-align: left;
  padding: 20px; }
@media (min-width: 768px) {
  .fulfill-standard article .box.gray {
    padding: 35px 40px; } }

/*# sourceMappingURL=customer.css.map */
