@charset "UTF-8";
@import url(/assets/css/font/noto-sans-korean.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 300; }
  dl dd {
    font-weight: lighter;
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button {
  outline: none !important; }
  button:hover, button:focus {
    box-shadow: none !important; }

.form-group {
  margin-bottom: 0; }

label {
  font-weight: 400;
  margin: 0; }

input, .form-control {
  margin-bottom: 0;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0; }

input[type="file"] {
  padding-top: 5px !important; }

a {
  color: #666;
  outline: none !important; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.table {
  margin: 0; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none !important; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.charter .box .content {
  padding: 133px 20px 20px;
  background-image: url(/assets/images/customer/bg_logo.jpg); }
  .charter .box .content strong {
    color: #016ecd; }
  @media (min-width: 768px) {
    .charter .box .content {
      padding: 35px 40px 35px 140px;
      background-position: 20px 50%; } }
.charter .promise {
  margin-top: 30px;
  padding: 30px 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #f6f6f6; }
  .charter .promise > li {
    font-size: 14px;
    color: #666;
    font-weight: 300;
    line-height: 24px; }
    .charter .promise > li ~ li {
      margin-top: 25px; }
    .charter .promise > li strong {
      font-size: 16px;
      color: #016ecd;
      font-weight: 500;
      margin-right: 5px; }
  @media (min-width: 992px) {
    .charter .promise {
      margin-top: 40px;
      padding: 40px 30px; }
      .charter .promise > li {
        font-size: 16px;
        line-height: 28px; }
        .charter .promise > li ~ li {
          margin-top: 35px; }
        .charter .promise > li strong {
          font-size: 21px;
          line-height: 28px; } }
.charter hr {
  display: block;
  margin: 20px 0;
  border-top: 1px dashed #ddd; }
  @media (min-width: 992px) {
    .charter hr {
      margin: 30px 0; } }
.charter .attention {
  font-size: 14px; }
  @media (min-width: 992px) {
    .charter .attention {
      font-size: 16px; } }

.fulfill-criteria .tab-list {
  font-size: 0; }
  .fulfill-criteria .tab-list > li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px; }
    .fulfill-criteria .tab-list > li:last-child {
      margin-right: 0; }
    .fulfill-criteria .tab-list > li > a {
      font-size: 14px;
      color: #898989;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      padding: 5px 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f5f5f5; }
      .fulfill-criteria .tab-list > li > a:hover {
        opacity: .8;
        color: #016ecd;
        border-color: #016ecd;
        background-color: #9ad0ff; }
      .fulfill-criteria .tab-list > li > a.active {
        color: #016ecd;
        border-color: #016ecd;
        background-color: #9ad0ff; }
        .fulfill-criteria .tab-list > li > a.active:hover {
          opacity: 1; }
.fulfill-criteria .tab-content {
  margin-top: 30px; }
  .fulfill-criteria .tab-content .tab-pane article {
    padding-left: 15px; }
    .fulfill-criteria .tab-content .tab-pane article .sub-title {
      margin-left: -15px; }
    .fulfill-criteria .tab-content .tab-pane article ~ article {
      margin-top: 30px; }
  .fulfill-criteria .tab-content .tab-pane ul > ul, .fulfill-criteria .tab-content .tab-pane ul ol, .fulfill-criteria .tab-content .tab-pane ol > ul, .fulfill-criteria .tab-content .tab-pane ol ol {
    padding-left: 20px; }
  .fulfill-criteria .tab-content .tab-pane .practice .decimal-list > li ~ li {
    margin-top: 20px; }
  .fulfill-criteria .tab-content .tab-pane .practice .decimal-list > li strong {
    display: block;
    color: #016ecd;
    margin-bottom: 15px; }
  .fulfill-criteria .tab-content .tab-pane .practice .decimal-list > li .dashed-list li ~ li {
    margin-top: 10px; }
  .fulfill-criteria .tab-content .tab-pane .practice .decimal-list.type-1 li:before {
    color: #016ecd; }
  .fulfill-criteria .tab-content .tab-pane .guide .decimal-list > li ~ li {
    margin-top: 20px; }
  .fulfill-criteria .tab-content .tab-pane .guide .decimal-list > li strong {
    display: block;
    color: #016ecd;
    margin-bottom: 15px; }
  .fulfill-criteria .tab-content .tab-pane .guide .decimal-list > li .dashed-list li ~ li {
    margin-top: 10px; }
  .fulfill-criteria .tab-content .tab-pane .guide .decimal-list.type-1 li:before {
    color: #016ecd; }
  .fulfill-criteria .tab-content .tab-pane .guide .note {
    font-size: 16px;
    line-height: 24px;
    color: #333; }
    .fulfill-criteria .tab-content .tab-pane .guide .note:before {
      content: '• '; }
  .fulfill-criteria .tab-content .tab-pane .guide .table-responsive {
    margin-top: 20px; }
    .fulfill-criteria .tab-content .tab-pane .guide .table-responsive thead tr th:last-child {
      border-right: 0; }
    .fulfill-criteria .tab-content .tab-pane .guide .table-responsive tbody tr td:last-child {
      border-right: 0; }
  .fulfill-criteria .tab-content .tab-pane .cooperation .decimal-list li ~ li {
    margin-top: 10px; }
  .fulfill-criteria .tab-content .tab-pane .cooperation .decimal-list li:nth-of-type(9) ~ li {
    padding-left: 25px; }
@media (min-width: 992px) {
  .fulfill-criteria .tab-list > li > a {
    font-size: 16px; }
  .fulfill-criteria .tab-content {
    margin-top: 60px; }
    .fulfill-criteria .tab-content .tab-pane article ~ article {
      margin-top: 60px; } }

.fulfill-standard article strong {
  display: block;
  font-size: 18px;
  color: #333;
  margin-bottom: 20px; }
.fulfill-standard article .box .content {
  text-align: left;
  padding: 20px;
  background: none;
  background-color: #fff; }
.fulfill-standard article .box .white-dot > li {
  position: relative;
  font-size: 16px;
  color: #666;
  font-weight: 400;
  line-height: 24px;
  padding-left: 10px; }
  .fulfill-standard article .box .white-dot > li ~ li {
    margin-top: 20px; }
  .fulfill-standard article .box .white-dot > li:before {
    position: absolute;
    top: 3px;
    left: 0;
    content: '° '; }
  @media (min-width: 992px) {
    .fulfill-standard article .box .white-dot > li {
      line-height: 28px; } }
.fulfill-standard article .decimal-list {
  margin-top: 20px; }
  .fulfill-standard article .decimal-list > li ~ li {
    margin-top: 20px; }
  .fulfill-standard article .decimal-list > li strong {
    display: block;
    color: #016ecd;
    margin-bottom: 10px; }
  .fulfill-standard article .decimal-list.type-1 li:before {
    color: #016ecd; }
.fulfill-standard article .dot-list {
  margin-top: 20px; }
  .fulfill-standard article .dot-list > li ~ li {
    margin-top: 10px; }
  .fulfill-standard article .dot-list > li > dl {
    overflow: hidden; }
    .fulfill-standard article .dot-list > li > dl dt {
      font-size: 16px;
      color: #333;
      float: left;
      clear: both;
      font-weight: 400; }
      .fulfill-standard article .dot-list > li > dl dt:after {
        content: ':';
        margin: 0 10px; }
    .fulfill-standard article .dot-list > li > dl dd {
      font-size: 16px;
      color: #666;
      font-weight: 400; }
.fulfill-standard article hr {
  margin: 30px 0;
  display: block;
  border-top: 1px solid #ddd; }
@media (min-width: 768px) {
  .fulfill-standard article .decimal-list {
    margin-top: 30px; }
  .fulfill-standard article hr {
    margin: 40px 0; } }

.faqlist .search-form {
  margin-top: 45px; }
  @media (min-width: 992px) {
    .faqlist .search-form {
      margin-top: 60px; } }
.faqlist .faq-list {
  margin-top: 30px; }
  @media (min-width: 992px) {
    .faqlist .faq-list {
      margin-top: 40px; } }
.faqlist .question-list > li {
  position: relative;
  line-height: 24px;
  font-size: 16px;
  color: #333;
  padding-left: 20px;
  font-weight: 400; }
  .faqlist .question-list > li:before {
    position: absolute;
    top: 0;
    left: 0;
    color: #016ecd;
    font-family: 'fontello';
    content: '\E80B'; }
  .faqlist .question-list > li ~ li {
    margin-top: 20px; }
  @media (min-width: 768px) {
    .faqlist .question-list > li {
      line-height: 28px; } }
.faqlist .dot-list {
  margin-top: 5px; }
  .faqlist .dot-list > li {
    padding-left: 13px; }
    .faqlist .dot-list > li:before {
      font-size: 20px;
      color: #ff6262; }
  .faqlist .dot-list.space > li ~ li {
    margin-top: 10px; }
.faqlist .dashed-list li {
  margin-top: 5px; }
.faqlist .arrow-list > li {
  position: relative;
  font-size: 16px;
  color: #666;
  line-height: 24px;
  font-weight: 400;
  padding-left: 15px; }
  .faqlist .arrow-list > li:before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    content: '▶'; }
  .faqlist .arrow-list > li ~ li {
    margin-top: 20px; }
  @media (min-width: 768px) {
    .faqlist .arrow-list > li {
      line-height: 28px; } }
  .faqlist .arrow-list > li .arrow-list2 li {
    position: relative;
    padding-left: 15px;
    font-size: inherit;
    color: inherit;
    line-height: inherit; }
    .faqlist .arrow-list > li .arrow-list2 li:before {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 10px;
      content: '→'; }
.faqlist .decimal-list li {
  padding-left: 20px; }
  .faqlist .decimal-list li:before {
    content: counter(list-index) ")"; }
  .faqlist .decimal-list li:nth-of-type(9) ~ li {
    padding-left: 28px; }
.faqlist .table-responsive {
  margin-top: 20px; }
  .faqlist .table-responsive .table thead tr th:last-child {
    border-right: 0; }
  .faqlist .table-responsive .table tbody tr td:last-child {
    border-right: 0; }
  @media (min-width: 1200px) {
    .faqlist .table-responsive .table thead tr th {
      white-space: normal; }
    .faqlist .table-responsive .table tbody tr td {
      white-space: normal; } }

.advice-write .write-form .table-wrap {
  text-align: right;
  margin-top: 30px; }
  @media (min-width: 768px) {
    .advice-write .write-form .table-wrap {
      margin-top: 40px; } }
  @media (min-width: 1200px) {
    .advice-write .write-form .table-wrap {
      margin-top: 60px; } }
  .advice-write .write-form .table-wrap > .indispensable {
    display: inline-block;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px; }
    .advice-write .write-form .table-wrap > .indispensable:before {
      content: '* ';
      color: #016ecd; }
  .advice-write .write-form .table-wrap tbody tr td .form-group textarea {
    padding: 10px !important;
    width: 100% !important;
    height: 140px !important; }
  .advice-write .write-form .table-wrap tbody tr td.u-name .form-group .form-control {
    max-width: 300px; }
  @media (min-width: 768px) {
    .advice-write .write-form .table-wrap tbody tr td .form-group textarea {
      height: 200px !important; } }
  @media (min-width: 1200px) {
    .advice-write .write-form .table-wrap tbody tr td .form-group textarea {
      height: 300px !important; } }
.advice-write .write-form .btn-area {
  text-align: center;
  margin-top: 30px; }
  .advice-write .write-form .btn-area .btn-submit {
    width: 150px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #016ecd;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .advice-write .write-form .btn-area .btn-submit:hover {
      opacity: .7; }
  @media (min-width: 768px) {
    .advice-write .write-form .btn-area {
      margin-top: 45px; }
      .advice-write .write-form .btn-area .btn-submit {
        width: 180px;
        line-height: 45px; } }

.common-list .search-form {
  margin-top: 45px; }
.common-list .table-wrap {
  margin-top: 30px; }
.common-list .paging {
  margin-top: 30px; }
.common-list .btn-area {
  text-align: right;
  margin-top: 30px; }
  .common-list .btn-area > .btn-default {
    display: inline-block;
    width: 138px;
    line-height: 38px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-color: #016ecd; }
    .common-list .btn-area > .btn-default:hover {
      opacity: .8; }
@media (min-width: 992px) {
  .common-list .search-form {
    margin-top: 60px; }
  .common-list .table-wrap {
    margin-top: 40px; }
  .common-list .btn-area {
    margin-top: 40px; }
    .common-list .btn-area > .btn-default {
      width: 180px;
      line-height: 46px; } }

.praise-list .table-wrap .list-type1 thead tr th {
  display: none; }
  .praise-list .table-wrap .list-type1 thead tr th.subject {
    width: 70%;
    display: table-cell; }
  .praise-list .table-wrap .list-type1 thead tr th.writer {
    width: 30%;
    display: table-cell; }
.praise-list .table-wrap .list-type1 tbody tr td {
  display: none; }
  .praise-list .table-wrap .list-type1 tbody tr td.subject {
    display: table-cell; }
  .praise-list .table-wrap .list-type1 tbody tr td.writer {
    display: table-cell; }
@media (min-width: 768px) {
  .praise-list .table-wrap .list-type1 thead tr th {
    display: table-cell; }
    .praise-list .table-wrap .list-type1 thead tr th.num {
      width: 10%; }
    .praise-list .table-wrap .list-type1 thead tr th.subject {
      width: 50%; }
    .praise-list .table-wrap .list-type1 thead tr th.writer {
      width: 15%; }
    .praise-list .table-wrap .list-type1 thead tr th:nth-of-type(4) {
      width: 15%; }
    .praise-list .table-wrap .list-type1 thead tr th:nth-of-type(5) {
      width: 10%; }
  .praise-list .table-wrap .list-type1 tbody tr td {
    display: table-cell; } }

.praise-write .write-form .table-wrap {
  text-align: right; }
  .praise-write .write-form .table-wrap > .indispensable {
    display: inline-block;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px; }
    .praise-write .write-form .table-wrap > .indispensable:before {
      content: '* ';
      color: #016ecd; }
  .praise-write .write-form .table-wrap tbody tr td .form-group textarea {
    padding: 10px !important;
    width: 100% !important;
    height: 140px !important; }
  .praise-write .write-form .table-wrap tbody tr td.u-name .form-group .form-control {
    max-width: 300px; }
  @media (min-width: 768px) {
    .praise-write .write-form .table-wrap tbody tr td .form-group textarea {
      height: 200px !important; } }
  @media (min-width: 1200px) {
    .praise-write .write-form .table-wrap tbody tr td .form-group textarea {
      height: 300px !important; } }
.praise-write .write-form .btn-area {
  text-align: center;
  margin-top: 30px; }
  .praise-write .write-form .btn-area .btn {
    display: inline-block;
    width: 130px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-right: 10px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .praise-write .write-form .btn-area .btn:last-child {
      margin-right: 0; }
    .praise-write .write-form .btn-area .btn:hover {
      opacity: .7; }
    .praise-write .write-form .btn-area .btn.btn-submit {
      background-color: #016ecd; }
    .praise-write .write-form .btn-area .btn.btn-cancel {
      background-color: #7a899b; }
  @media (min-width: 768px) {
    .praise-write .write-form .btn-area {
      margin-top: 45px; }
      .praise-write .write-form .btn-area .btn {
        width: 180px;
        line-height: 45px; } }

.privacy article > .article-header .box .content {
  padding: 133px 20px 20px;
  background-image: url(/assets/images/customer/bg_logo.jpg); }
  .privacy article > .article-header .box .content strong {
    color: #016ecd; }
  @media (min-width: 768px) {
    .privacy article > .article-header .box .content {
      padding: 35px 40px 35px 173px; } }
.privacy article > .article-header > strong {
  display: block;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  margin-top: 30px; }
.privacy article > .article-header > p {
  font-size: 14px;
  line-height: 24px;
  color: #666;
  font-weight: 300;
  margin-top: 10px; }
@media (min-width: 992px) {
  .privacy article > .article-header > strong {
    font-size: 18px;
    margin-top: 40px; }
  .privacy article > .article-header > p {
    font-size: 16px;
    line-height: 28px; } }
.privacy article > .article-content {
  margin-top: 30px; }
  .privacy article > .article-content .ordered-list > li ~ li {
    margin-top: 20px; }
  .privacy article > .article-content .ordered-list > li strong {
    font-size: 16px;
    color: #333;
    font-weight: 400;
    display: block;
    line-height: 24px; }
    @media (min-width: 992px) {
      .privacy article > .article-content .ordered-list > li strong {
        font-size: 18px;
        line-height: 28px; } }
  .privacy article > .article-content .ordered-list > li .circle-decimal > li {
    position: relative;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    font-weight: 300;
    padding-left: 20px;
    counter-increment: my-list-index; }
    .privacy article > .article-content .ordered-list > li .circle-decimal > li:before {
      position: absolute;
      top: 4px;
      left: 0;
      width: 16px;
      height: 16px;
      line-height: 14px;
      font-size: 10px;
      text-align: center;
      font-weight: 400;
      display: block;
      color: #666;
      border-radius: 50%;
      border: 1px solid #666;
      content: counter(my-list-index); }
      @media (min-width: 992px) {
        .privacy article > .article-content .ordered-list > li .circle-decimal > li:before {
          top: 6px; } }
    .privacy article > .article-content .ordered-list > li .circle-decimal > li ~ li {
      margin-top: 20px; }
    @media (min-width: 992px) {
      .privacy article > .article-content .ordered-list > li .circle-decimal > li {
        font-size: 16px;
        line-height: 26px; } }
  .privacy article > .article-content .ordered-list > li .decimal-list > li {
    font-size: 14px;
    color: #666;
    line-height: 22px;
    font-weight: 300;
    margin-top: 20px; }
    @media (min-width: 992px) {
      .privacy article > .article-content .ordered-list > li .decimal-list > li {
        font-size: 16px;
        line-height: 26px; } }
  .privacy article > .article-content .ordered-list > li .dashed-list > li {
    font-size: 14px;
    color: #666;
    line-height: 22px;
    font-weight: 300; }
    @media (min-width: 992px) {
      .privacy article > .article-content .ordered-list > li .dashed-list > li {
        font-size: 16px;
        line-height: 26px; } }
  .privacy article > .article-content .ordered-list > li .table-responsive {
    margin-top: 10px; }
    .privacy article > .article-content .ordered-list > li .table-responsive .table thead tr th {
      font-size: 14px;
      line-height: 22px; }
      .privacy article > .article-content .ordered-list > li .table-responsive .table thead tr th:last-child {
        border-right: 0; }
      @media (min-width: 992px) {
        .privacy article > .article-content .ordered-list > li .table-responsive .table thead tr th {
          font-size: 16px;
          line-height: 26px; } }
    .privacy article > .article-content .ordered-list > li .table-responsive .table tbody tr td {
      font-size: 14px;
      line-height: 22px; }
      .privacy article > .article-content .ordered-list > li .table-responsive .table tbody tr td:last-child {
        border-right: 0; }
      @media (min-width: 992px) {
        .privacy article > .article-content .ordered-list > li .table-responsive .table tbody tr td {
          font-size: 16px;
          line-height: 26px; } }
  .privacy article > .article-content .ordered-list > li .attention {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 10px; }
    @media (min-width: 992px) {
      .privacy article > .article-content .ordered-list > li .attention {
        font-size: 16px;
        line-height: 26px; } }
  .privacy article > .article-content .ordered-list > li .information b {
    font-size: 14px;
    display: block;
    color: #666;
    font-weight: 300; }
    .privacy article > .article-content .ordered-list > li .information b small {
      position: relative;
      top: -2px;
      font-size: 10px; }
    @media (min-width: 992px) {
      .privacy article > .article-content .ordered-list > li .information b {
        font-size: 16px;
        line-height: 26px; } }
  .privacy article > .article-content .ordered-list > li .information > dl {
    overflow: hidden; }
    .privacy article > .article-content .ordered-list > li .information > dl > dt {
      float: left;
      clear: both;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      color: #666; }
      .privacy article > .article-content .ordered-list > li .information > dl > dt:after {
        content: ':';
        margin: 0 5px; }
      @media (min-width: 992px) {
        .privacy article > .article-content .ordered-list > li .information > dl > dt {
          font-size: 16px;
          line-height: 26px; } }
    .privacy article > .article-content .ordered-list > li .information > dl > dd {
      float: left;
      display: inline;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      color: #666; }
      @media (min-width: 992px) {
        .privacy article > .article-content .ordered-list > li .information > dl > dd {
          font-size: 16px;
          line-height: 26px; } }
    .privacy article > .article-content .ordered-list > li .information > dl.dashed dt:before {
      content: '- '; }
  .privacy article > .article-content .ordered-list > li .note {
    font-size: 14px;
    color: #666;
    line-height: 22px;
    font-weight: 300; }
    @media (min-width: 992px) {
      .privacy article > .article-content .ordered-list > li .note {
        font-size: 16px;
        line-height: 26px; } }

.bc-faqlist .search-form {
  margin-top: 45px; }
  @media (min-width: 992px) {
    .bc-faqlist .search-form {
      margin-top: 60px; } }
.bc-faqlist .faq-list {
  margin-top: 30px; }
  @media (min-width: 992px) {
    .bc-faqlist .faq-list {
      margin-top: 40px; } }
  .bc-faqlist .faq-list .item .answer .content .note {
    font-size: 12px;
    color: #666;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    padding: 15px 0;
    margin: 10px 0;
    border: 1px solid #333; }
    @media (min-width: 768px) {
      .bc-faqlist .faq-list .item .answer .content .note {
        font-size: 16px; } }
  .bc-faqlist .faq-list .item .answer .content span {
    text-decoration: underline; }

.counseling .write-form .table-wrap {
  text-align: right;
  margin-top: 30px; }
  @media (min-width: 768px) {
    .counseling .write-form .table-wrap {
      margin-top: 40px; } }
  @media (min-width: 1200px) {
    .counseling .write-form .table-wrap {
      margin-top: 60px; } }
  .counseling .write-form .table-wrap > .indispensable {
    display: inline-block;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px; }
    .counseling .write-form .table-wrap > .indispensable:before {
      content: '* ';
      color: #016ecd; }
  .counseling .write-form .table-wrap tbody tr td .form-group textarea {
    padding: 10px !important;
    width: 100% !important;
    height: 140px !important; }
  .counseling .write-form .table-wrap tbody tr td.u-name .form-group .form-control {
    max-width: 300px; }
  @media (min-width: 768px) {
    .counseling .write-form .table-wrap tbody tr td .form-group textarea {
      height: 200px !important; } }
  @media (min-width: 1200px) {
    .counseling .write-form .table-wrap tbody tr td .form-group textarea {
      height: 300px !important; } }
.counseling .write-form .btn-area {
  text-align: center;
  margin-top: 30px; }
  .counseling .write-form .btn-area .btn-submit {
    width: 150px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #016ecd;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .counseling .write-form .btn-area .btn-submit:hover {
      opacity: .7; }
  @media (min-width: 768px) {
    .counseling .write-form .btn-area {
      margin-top: 45px; }
      .counseling .write-form .btn-area .btn-submit {
        width: 180px;
        line-height: 45px; } }

.outline article .sub-title ~ .sub-title, .claim article .sub-title ~ .sub-title, .nondisclosure article .sub-title ~ .sub-title, .procedure article .sub-title ~ .sub-title {
  margin-top: 30px; }
  @media (min-width: 992px) {
    .outline article .sub-title ~ .sub-title, .claim article .sub-title ~ .sub-title, .nondisclosure article .sub-title ~ .sub-title, .procedure article .sub-title ~ .sub-title {
      margin-top: 60px; } }
.outline article .sub-title > a, .claim article .sub-title > a, .nondisclosure article .sub-title > a, .procedure article .sub-title > a {
  color: #016ecd; }
.outline article > dl dt, .claim article > dl dt, .nondisclosure article > dl dt, .procedure article > dl dt {
  font-size: 16px;
  color: #016ecd;
  font-weight: 400;
  margin-bottom: 15px; }
  .outline article > dl dt ~ dt, .claim article > dl dt ~ dt, .nondisclosure article > dl dt ~ dt, .procedure article > dl dt ~ dt {
    margin-top: 40px; }
.outline article > dl dd, .claim article > dl dd, .nondisclosure article > dl dd, .procedure article > dl dd {
  font-size: 16px;
  color: #666;
  font-weight: 300; }
  .outline article > dl dd strong, .claim article > dl dd strong, .nondisclosure article > dl dd strong, .procedure article > dl dd strong {
    display: block;
    font-weight: 400; }
  .outline article > dl dd .dot-list li:before, .claim article > dl dd .dot-list li:before, .nondisclosure article > dl dd .dot-list li:before, .procedure article > dl dd .dot-list li:before {
    color: #016ecd;
    font-size: 18px; }
  .outline article > dl dd .dot-list li ~ li, .claim article > dl dd .dot-list li ~ li, .nondisclosure article > dl dd .dot-list li ~ li, .procedure article > dl dd .dot-list li ~ li {
    margin-top: 10px; }

.procedure article > figure img {
  display: block;
  margin: 0 auto; }
@media (min-width: 768px) {
  .procedure article > figure {
    padding: 45px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f6f6f6; } }
@media (min-width: 1200px) {
  .procedure article > figure {
    padding: 65px 0; } }

.officially article ~ article {
  margin-top: 30px; }
  @media (min-width: 992px) {
    .officially article ~ article {
      margin-top: 60px; } }
.officially article .sub-title ~ .sub-title {
  margin-top: 30px; }
  @media (min-width: 992px) {
    .officially article .sub-title ~ .sub-title {
      margin-top: 60px; } }
.officially article > dl dt {
  font-size: 16px;
  color: #016ecd;
  font-weight: 400;
  margin-bottom: 15px; }
.officially article > dl dd {
  font-size: 16px;
  color: #666;
  font-weight: 300; }
.officially article.summary > p {
  font-size: 16px;
  color: #666;
  font-weight: 300; }
.officially .officially-list .search-form, .officially .officially-view .search-form {
  margin-top: 30px; }
.officially .officially-list .tab-menu, .officially .officially-view .tab-menu {
  margin-top: 30px; }
  .officially .officially-list .tab-menu > ul, .officially .officially-view .tab-menu > ul {
    overflow: hidden; }
    .officially .officially-list .tab-menu > ul > li, .officially .officially-view .tab-menu > ul > li {
      float: left;
      width: 25%;
      color: #fff;
      border: 1px solid #ddd;
      border-right: 0; }
      .officially .officially-list .tab-menu > ul > li:nth-of-type(4), .officially .officially-view .tab-menu > ul > li:nth-of-type(4) {
        border-right: 1px solid #ddd; }
      .officially .officially-list .tab-menu > ul > li:last-child, .officially .officially-view .tab-menu > ul > li:last-child {
        border-right: 1px solid #ddd; }
      .officially .officially-list .tab-menu > ul > li:nth-of-type(4) ~ li, .officially .officially-view .tab-menu > ul > li:nth-of-type(4) ~ li {
        width: 33.33333%;
        border-top: 0; }
      .officially .officially-list .tab-menu > ul > li > a, .officially .officially-view .tab-menu > ul > li > a {
        position: relative;
        font-size: 13px;
        color: #666;
        font-weight: 400;
        display: block;
        text-align: center;
        line-height: 42px;
        letter-spacing: -1px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .officially .officially-list .tab-menu > ul > li > a:hover, .officially .officially-view .tab-menu > ul > li > a:hover {
          opacity: .7;
          color: #fff;
          background-color: #016ecd; }
      .officially .officially-list .tab-menu > ul > li.active > a, .officially .officially-view .tab-menu > ul > li.active > a {
        color: #fff;
        background-color: #016ecd; }
        .officially .officially-list .tab-menu > ul > li.active > a:after, .officially .officially-view .tab-menu > ul > li.active > a:after {
          position: absolute;
          bottom: -1px;
          left: 50%;
          color: #fff;
          content: '';
          margin-left: -6px;
          display: inline-block;
          vertical-align: .255em;
          border-top: 0;
          border-right: 6px solid transparent;
          border-bottom: 6px solid;
          border-left: 6px solid transparent; }
        .officially .officially-list .tab-menu > ul > li.active > a:hover, .officially .officially-view .tab-menu > ul > li.active > a:hover {
          opacity: 1; }
.officially .officially-list .table-wrap, .officially .officially-view .table-wrap {
  margin-top: 30px; }
  .officially .officially-list .table-wrap .table thead tr th, .officially .officially-view .table-wrap .table thead tr th {
    font-size: 13px;
    display: none; }
    .officially .officially-list .table-wrap .table thead tr th:nth-of-type(2), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(2) {
      width: 35%;
      display: table-cell; }
    .officially .officially-list .table-wrap .table thead tr th.subject, .officially .officially-view .table-wrap .table thead tr th.subject {
      width: 65%;
      display: table-cell; }
  .officially .officially-list .table-wrap .table tbody tr td, .officially .officially-view .table-wrap .table tbody tr td {
    font-size: 13px;
    display: none; }
    .officially .officially-list .table-wrap .table tbody tr td:nth-of-type(2), .officially .officially-view .table-wrap .table tbody tr td:nth-of-type(2) {
      letter-spacing: -.5px;
      display: table-cell; }
    .officially .officially-list .table-wrap .table tbody tr td.subject, .officially .officially-view .table-wrap .table tbody tr td.subject {
      display: table-cell; }
      .officially .officially-list .table-wrap .table tbody tr td.subject > a, .officially .officially-view .table-wrap .table tbody tr td.subject > a {
        position: relative;
        padding-left: 10px;
        padding-right: 20px; }
        .officially .officially-list .table-wrap .table tbody tr td.subject > a .icon-floppy, .officially .officially-view .table-wrap .table tbody tr td.subject > a .icon-floppy {
          position: absolute;
          top: 0;
          right: 0;
          color: #333; }
.officially .officially-list .paging, .officially .officially-view .paging {
  margin-top: 30px; }
.officially .officially-list .board-view, .officially .officially-view .board-view {
  margin-top: 30px; }
@media (min-width: 768px) {
  .officially .officially-list .search-form, .officially .officially-view .search-form {
    margin-top: 40px; }
  .officially .officially-list .tab-menu, .officially .officially-view .tab-menu {
    margin-top: 40px; }
    .officially .officially-list .tab-menu > ul > li, .officially .officially-view .tab-menu > ul > li {
      width: 15% !important; }
      .officially .officially-list .tab-menu > ul > li:nth-of-type(1), .officially .officially-view .tab-menu > ul > li:nth-of-type(1) {
        width: 10% !important; }
      .officially .officially-list .tab-menu > ul > li:nth-of-type(4), .officially .officially-view .tab-menu > ul > li:nth-of-type(4) {
        border-right: 0; }
      .officially .officially-list .tab-menu > ul > li:nth-of-type(4) ~ li, .officially .officially-view .tab-menu > ul > li:nth-of-type(4) ~ li {
        border-top: 1px solid #ddd; }
      .officially .officially-list .tab-menu > ul > li > a, .officially .officially-view .tab-menu > ul > li > a {
        font-size: 14px; }
  .officially .officially-list .table-wrap, .officially .officially-view .table-wrap {
    margin-top: 40px; }
    .officially .officially-list .table-wrap .table thead tr th, .officially .officially-view .table-wrap .table thead tr th {
      font-size: 14px; }
      .officially .officially-list .table-wrap .table thead tr th:nth-of-type(2), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(2) {
        width: 20%; }
      .officially .officially-list .table-wrap .table thead tr th:nth-of-type(3), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(3) {
        width: 10%;
        display: table-cell; }
      .officially .officially-list .table-wrap .table thead tr th.subject, .officially .officially-view .table-wrap .table thead tr th.subject {
        width: 50%; }
      .officially .officially-list .table-wrap .table thead tr th:nth-of-type(5), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(5) {
        width: 20%;
        display: table-cell; }
    .officially .officially-list .table-wrap .table tbody tr td, .officially .officially-view .table-wrap .table tbody tr td {
      font-size: 14px; }
      .officially .officially-list .table-wrap .table tbody tr td:nth-of-type(3), .officially .officially-view .table-wrap .table tbody tr td:nth-of-type(3) {
        display: table-cell; }
      .officially .officially-list .table-wrap .table tbody tr td:nth-of-type(5), .officially .officially-view .table-wrap .table tbody tr td:nth-of-type(5) {
        display: table-cell; }
  .officially .officially-list .paging, .officially .officially-view .paging {
    margin-top: 40px; }
  .officially .officially-list .board-view, .officially .officially-view .board-view {
    margin-top: 40px; } }
@media (min-width: 992px) {
  .officially .officially-list .table-wrap .table thead tr th, .officially .officially-view .table-wrap .table thead tr th {
    font-size: 15px;
    display: table-cell; }
    .officially .officially-list .table-wrap .table thead tr th:nth-of-type(1), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(1) {
      width: 10%; }
    .officially .officially-list .table-wrap .table thead tr th:nth-of-type(2), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(2) {
      width: 15%; }
    .officially .officially-list .table-wrap .table thead tr th:nth-of-type(3), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(3) {
      width: 10%; }
    .officially .officially-list .table-wrap .table thead tr th.subject, .officially .officially-view .table-wrap .table thead tr th.subject {
      width: 29%; }
    .officially .officially-list .table-wrap .table thead tr th:nth-of-type(5), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(5) {
      width: 13%; }
    .officially .officially-list .table-wrap .table thead tr th:nth-of-type(6), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(6) {
      width: 13%; }
    .officially .officially-list .table-wrap .table thead tr th:nth-of-type(7), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(7) {
      width: 10%; }
  .officially .officially-list .table-wrap .table tbody tr td, .officially .officially-view .table-wrap .table tbody tr td {
    font-size: 15px;
    display: table-cell; } }
@media (min-width: 1400px) {
  .officially .officially-list .table-wrap .table thead tr th:nth-of-type(1), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(1) {
    width: 8%; }
  .officially .officially-list .table-wrap .table thead tr th:nth-of-type(2), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(2) {
    width: 15%; }
  .officially .officially-list .table-wrap .table thead tr th:nth-of-type(3), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(3) {
    width: 10%; }
  .officially .officially-list .table-wrap .table thead tr th.subject, .officially .officially-view .table-wrap .table thead tr th.subject {
    /*width: 29%;*/ }
  .officially .officially-list .table-wrap .table thead tr th:nth-of-type(5), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(5) {
    width: 13%; }
  .officially .officially-list .table-wrap .table thead tr th:nth-of-type(6), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(6) {
    width: 13%; }
  .officially .officially-list .table-wrap .table thead tr th:nth-of-type(7), .officially .officially-view .table-wrap .table thead tr th:nth-of-type(7) {
    width: 8%; } }
@media (min-width: 1600px) {
  .officially .officially-list .tab-menu > ul > li > a, .officially .officially-view .tab-menu > ul > li > a {
    font-size: 16px; }
  .officially .officially-list .table-wrap .table thead tr th, .officially .officially-view .table-wrap .table thead tr th {
    font-size: 16px; }
  .officially .officially-list .table-wrap .table tbody tr td, .officially .officially-view .table-wrap .table tbody tr td {
    font-size: 16px; } }

/*# sourceMappingURL=customer.css.map */
