@import 'common';

html, body {
    font-size: 14px;
    color: #666;
    font-weight: 300;
    word-break: keep-all;
    @include noto();
}

// header 
#header {
    position: relative;
    text-align: center;
    height: 98px;
    border-bottom: 1px solid #ddd;
    > .logo {
        margin-top: 26px;
        display: inline-block;
        a {
            display: block;
            img {
                vertical-align: top;
            }
        }
    }
    > .btn-nav {
        position: absolute;
        top: 50%;
        left: 15px;
        padding: 3px 0;
        height: 26px;
        margin-top: -13px;
        z-index: 2;
        @include transition();
        .bar {
            display: block;
            height: 2px;
            width: 26px;
            display: block;
            background-color: #323232;
            @include transition();
            & ~ .bar {
                margin-top: 7px;
            }
            &:nth-of-type(2) {
                width: 17px;
            }
        }
    }
    @media(min-width: $sm) {
        > .btn-nav {
            left: 30px;
        }
    }
}

// gnb
#gnb {
    position: fixed;
    top: 0;
    left: -100%;
    width: 0;
    height: 100%;
    background-color: rgba(#000, .7);
    @include transition();
    .backdrop {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .nav-wrap {
        overflow-y: auto;
        width: 260px;
        height: 100%;
        padding-bottom: 80px;
        background-color: #fff;
        .nav-logo {
            height: 98px;
            padding-top: 30px;
            img {
                display: block;
                width: 170px;
                margin: 0 auto;
                vertical-align: top;
            }
        }
        .nav-body {
            border-top: 1px solid #ddd;
            > ul {
                > li {
                    text-align: left;
                    > a {
                        font-size: 16px;
                        color: #333;
                        font-weight: 400;
                        display: block;
                        line-height: 46px;
                        padding: 0 20px;
                        @include transition();
                        &:after {
                            float: right;
                            content: "\E802";
                            color: #333;
                            font-family: "fontello";
                            @include transition();
                        }
                    }
                    > ul {
                        display: none;
                        padding: 10px 0 10px 20px;
                        background-color: #f4f4f4;
                        > li {
                            > a {
                                font-size: 14px;
                                color: #333;
                                line-height: 31px;
                                font-weight: 400;
                                &:before {
                                    content: 'ã† ';
                                }
                            }
                        }
                    }
                    &.active {
                        > a {
                            color: #fff;
                            background-color: $kcolor;
                            &:after {
                                color: #fff;
                                transform: rotate(180deg);
                                -webkit-transform: rotate(180deg);
                            }
                        }
                        > ul {
                            display: block;
                        }
                    }
                }
            }
        }
        .gnb-foot {
            margin-top: 30px;
            > ul {
                overflow: hidden;
                > li {
                    float: left;
                    width: 33.33333%;
                    > a {
                        display: block;
                        text-align: center;
                        .icon {
                            display: block;
                            width: 44px;
                            height: 44px;
                            margin: 0 auto;
                            border-radius: 50%;
                            background-color: #ebebeb;
                            background-repeat: no-repeat;
                            background-position: 50% 50%;
                            background-size: auto;
                            @include transition();
                        }
                        > p {
                            font-size: 12px;
                            color: #333;
                            margin-top: 5px;
                            @include transition();
                        }
                        &:hover {
                            .icon {
                                background-color: $kcolor;
                            }
                            > p {
                                color: $kcolor;
                            }
                        }
                    }
                    &:nth-of-type(3n + 1) {
                        clear: both;
                    }
                    &:nth-of-type(3) ~ li {
                        margin-top: 15px;
                    }
                    &:nth-of-type(1) {
                        a {
                            .icon {
                                background-image: url(/assets/images/ico_nav01.png);
                            }
                        }
                    }
                    &:nth-of-type(2) {
                        a {
                            .icon {
                                background-image: url(/assets/images/ico_nav02.png);
                            }
                        }
                    }
                    &:nth-of-type(3) {
                        a {
                            .icon {
                                background-image: url(/assets/images/ico_nav03.png);
                            }
                        }
                    }
                    &:nth-of-type(4) {
                        a {
                            .icon {
                                background-image: url(/assets/images/ico_nav04.png);
                            }
                        }
                    }
                    &:nth-of-type(5) {
                        a {
                            .icon {
                                background-image: url(/assets/images/ico_nav05.png);
                            }
                        }
                    }
                    &:nth-of-type(6) {
                        a {
                            .icon {
                                background-image: url(/assets/images/ico_nav06.png);
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        .nav-wrap {
            width: 320px;
        }
    }
}

.nav-opened {
    #header {
        .btn-nav {
            left: 270px;
            .bar {
                position: relative;
                background-color: #fff;
                & ~ .bar {
                    margin-top: 0;
                }
                &:nth-of-type(1) {
                    top: 2px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    top: -2px;
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                }
            }
        }
    }
    #gnb {
        left: 0;
        width: 100%;
        
    }
    @media(min-width: $sm) {
        #header {
            .btn-nav {
                left: 340px;
            }
        }
    }
}

#content {
    height: 400px;
    background-color: olive;
}

// footer
#footer {
    background-color: #ebebeb;
    .policy {
        font-size: 0;
        padding: 20px 0 20px 15px;
        border-bottom: 1px solid #d2d2d2;
        > li {
            display: inline-block;
            > a {
                font-size: 13px;
                color: #888;
                letter-spacing: -1px;
            }
            &:after {
                position: relative;
                top: -2px;
                display: inline-block;
                font-size: 10px;
                color: #888;
                margin: 0 6px 0 8px;
                content: '|';
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
        &:first-child {
            > a {
                color: #333;
            }
        }
    }
}





























