@import url(/assets/css/font/noto-sans-korean.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 300;
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button {
  outline: none !important; }
  button:hover, button:focus {
    box-shadow: none !important; }

.form-group {
  margin-bottom: 0; }

label {
  font-weight: 400;
  margin: 0; }

input, .form-control {
  margin-bottom: 0;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0; }

input[type="file"] {
  padding-top: 5px !important; }

a {
  color: #666;
  outline: none !important; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.table {
  margin: 0; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none !important; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.greeting article > figure {
  text-align: center; }
  .greeting article > figure figcaption {
    margin-top: 15px; }
    .greeting article > figure figcaption > dl > dt {
      font-size: 18px;
      color: #666;
      font-weight: 300; }
    .greeting article > figure figcaption > dl > dd {
      font-size: 36px;
      color: #333;
      font-weight: 400;
      line-height: 36px; }
.greeting article .article-content {
  margin-top: 30px; }
  .greeting article .article-content > h5 {
    font-size: 20px;
    color: #016ecd;
    font-weight: 400;
    line-height: 28px; }
    .greeting article .article-content > h5 strong {
      font-weight: 500; }
    .greeting article .article-content > h5 > br {
      display: none; }
  .greeting article .article-content hr {
    display: block;
    width: 80px;
    margin: 20px auto;
    margin-left: 0;
    border-top: 2px solid #016ecd; }
  .greeting article .article-content > p {
    font-size: 16px;
    color: #666;
    font-weight: 400;
    line-height: 28px; }
    .greeting article .article-content > p > br {
      display: none; }
      .greeting article .article-content > p > br.line-break {
        display: block; }
@media (min-width: 768px) {
  .greeting article .article-content {
    margin-top: 40px; }
    .greeting article .article-content > h5 {
      font-size: 24px;
      line-height: 32px; }
    .greeting article .article-content hr {
      margin: 30px auto;
      margin-left: 0; }
    .greeting article .article-content > p {
      font-size: 18px;
      line-height: 30px; } }
@media (min-width: 992px) {
  .greeting article {
    position: relative;
    padding-left: 260px; }
    .greeting article > figure {
      position: absolute;
      top: 0;
      left: 0;
      width: 222px; }
    .greeting article .article-content {
      margin-top: 0; }
      .greeting article .article-content > h5 > br {
        display: block; }
      .greeting article .article-content > p > br {
        display: block; } }

.ci article ~ article {
  margin-top: 30px; }
.ci article > p {
  position: relative;
  font-size: 16px;
  color: #666;
  line-height: 24px;
  font-weight: 300;
  padding-left: 10px; }
  .ci article > p:before {
    position: absolute;
    top: 10px;
    left: 0;
    width: 4px;
    height: 4px;
    display: block;
    content: "";
    background-color: #016ecd; }
.ci article > ul {
  margin-top: 15px; }
  .ci article > ul > li .item {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .ci article > ul > li .item > figure {
      height: 130px;
      display: table-cell;
      vertical-align: middle;
      border: 1px solid #ccc;
      background-image: url(/assets/images/introduction/bg_ci.jpg); }
      .ci article > ul > li .item > figure img {
        display: block;
        margin: 0 auto; }
  .ci article > ul > li > .details {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    text-align: center; }
    .ci article > ul > li > .details:before {
      content: '<';
      margin-right: 2px; }
    .ci article > ul > li > .details:after {
      content: '>';
      margin-left: 2px; }
  .ci article > ul.mixed-color > li ~ li {
    margin-top: 15px; }
  .ci article > ul.solid-color > li ~ li, .ci article > ul.signature-list > li ~ li {
    margin-top: 30px; }
.ci article.emblem .item {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .ci article.emblem .item > figure {
    display: table-cell;
    height: 400px;
    vertical-align: middle;
    border: 1px solid #ccc;
    background-image: url(/assets/images/introduction/bg_ci.jpg); }
    .ci article.emblem .item > figure img {
      display: block;
      margin: 0 auto; }
      .ci article.emblem .item > figure img ~ img {
        margin-top: 30px; }
.ci .btn-area {
  margin-top: 30px; }
  .ci .btn-area > .btn-default {
    display: block;
    width: 180px;
    font-weight: 300;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background-color: #016ecd; }
    .ci .btn-area > .btn-default:hover {
      opacity: .7; }
    .ci .btn-area > .btn-default:after {
      display: inline-block;
      font-family: 'fontello';
      content: '\F02E';
      margin-left: 10px; }
@media (min-width: 768px) {
  .ci article ~ article {
    margin-top: 40px; }
  .ci article > ul {
    margin-top: 40px; }
    .ci article > ul > li .item > figure {
      height: 140px; }
    .ci article > ul.mixed-color, .ci article > ul.signature-list {
      overflow: hidden; }
      .ci article > ul.mixed-color > li, .ci article > ul.signature-list > li {
        float: left;
        width: 50%; }
        .ci article > ul.mixed-color > li ~ li, .ci article > ul.signature-list > li ~ li {
          margin-top: 0; }
        .ci article > ul.mixed-color > li:nth-of-type(2n + 1), .ci article > ul.signature-list > li:nth-of-type(2n + 1) {
          padding-right: 10px; }
        .ci article > ul.mixed-color > li:nth-of-type(2n + 2), .ci article > ul.signature-list > li:nth-of-type(2n + 2) {
          padding-left: 10px; }
        .ci article > ul.mixed-color > li:nth-of-type(2) ~ li, .ci article > ul.signature-list > li:nth-of-type(2) ~ li {
          margin-top: 30px; }
    .ci article > ul.solid-color > li ~ li, .ci article > ul.signature-list > li ~ li {
      margin-top: 0; }
    .ci article > ul.solid-color {
      overflow: hidden; }
      .ci article > ul.solid-color > li {
        float: left;
        width: 33.33333333%; }
        .ci article > ul.solid-color > li:nth-of-type(3n + 1) {
          padding-right: 10px; }
        .ci article > ul.solid-color > li:nth-of-type(3n + 2) {
          padding: 0 5px; }
        .ci article > ul.solid-color > li:nth-of-type(3n + 3) {
          padding-left: 10px; }
  .ci article.emblem .item > figure {
    text-align: center;
    font-size: 0;
    height: 140px; }
    .ci article.emblem .item > figure img {
      display: inline-block;
      margin: 0 20px !important; }
  .ci .btn-area {
    margin-top: 40px; }
    .ci .btn-area .btn-default {
      width: 220px;
      font-size: 16px; } }

.vision .vision-mission > ul > li {
  text-align: center;
  padding: 25px 15px 30px;
  border-bottom: 1px solid #ddd; }
  .vision .vision-mission > ul > li h5 {
    width: 66px;
    height: 66px;
    line-height: 66px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #009438; }
  .vision .vision-mission > ul > li p {
    font-size: 18px;
    color: #666;
    font-weight: 300;
    line-height: 22px;
    margin-top: 15px;
    letter-spacing: -.5px; }
    .vision .vision-mission > ul > li p b {
      font-weight: 400;
      color: #009438; }
  .vision .vision-mission > ul > li:first-child {
    padding-top: 0; }
    .vision .vision-mission > ul > li:first-child h5 {
      background-color: #016ecd; }
.vision .working-principle, .vision .core-value {
  position: relative;
  margin-top: 50px;
  padding: 50px 20px 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f6f6f6; }
  .vision .working-principle > h5, .vision .core-value > h5 {
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -100px;
    display: block;
    width: 200px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 30px; }
  .vision .working-principle > ul > li ~ li, .vision .core-value > ul > li ~ li {
    margin-top: 10px; }
  .vision .working-principle > ul > li > dl, .vision .core-value > ul > li > dl {
    display: table;
    width: 100%; }
    .vision .working-principle > ul > li > dl > dt, .vision .core-value > ul > li > dl > dt {
      display: table-cell;
      width: 44px;
      height: 44px;
      text-align: center;
      line-height: 38px;
      font-size: 24px;
      font-weight: 500;
      border-radius: 50%;
      vertical-align: middle;
      background-color: #fff; }
    .vision .working-principle > ul > li > dl > dd, .vision .core-value > ul > li > dl > dd {
      display: table-cell;
      vertical-align: middle;
      font-size: 16px;
      color: #666;
      line-height: 22px;
      font-weight: 400;
      padding-left: 10px; }
      .vision .working-principle > ul > li > dl > dd br, .vision .core-value > ul > li > dl > dd br {
        display: none; }
  .vision .working-principle.working-principle h5, .vision .core-value.working-principle h5 {
    background-color: #016ecd; }
  .vision .working-principle.working-principle > ul > li > dl, .vision .core-value.working-principle > ul > li > dl {
    display: table;
    width: 100%; }
    .vision .working-principle.working-principle > ul > li > dl > dt, .vision .core-value.working-principle > ul > li > dl > dt {
      color: #016ecd;
      border: 2px solid #016ecd; }
  .vision .working-principle.core-value h5, .vision .core-value.core-value h5 {
    background-color: #009438; }
  .vision .working-principle.core-value > ul > li > dl, .vision .core-value.core-value > ul > li > dl {
    display: table;
    width: 100%; }
    .vision .working-principle.core-value > ul > li > dl > dt, .vision .core-value.core-value > ul > li > dl > dt {
      color: #009438;
      border: 1px solid #009438; }
.vision figure {
  margin-top: 40px; }
  .vision figure img {
    display: block;
    margin: 0 auto; }
@media (min-width: 768px) {
  .vision .vision-mission > ul > li {
    display: table;
    width: 100%;
    text-align: left;
    border-bottom: 0;
    padding: 0; }
    .vision .vision-mission > ul > li h5 {
      display: table-cell;
      margin: 0;
      width: 105px;
      height: 105px;
      line-height: 105px; }
    .vision .vision-mission > ul > li p {
      display: table-cell;
      padding-left: 30px;
      vertical-align: middle; }
    .vision .vision-mission > ul > li:first-child {
      padding-bottom: 15px; }
  .vision .working-principle, .vision .core-value {
    padding: 40px 0 20px; }
    .vision .working-principle > ul > li, .vision .core-value > ul > li {
      text-align: center; }
      .vision .working-principle > ul > li ~ li, .vision .core-value > ul > li ~ li {
        margin-top: 0; }
      .vision .working-principle > ul > li > dl, .vision .core-value > ul > li > dl {
        display: block; }
        .vision .working-principle > ul > li > dl > dt, .vision .core-value > ul > li > dl > dt {
          display: block;
          margin: 0 auto; }
        .vision .working-principle > ul > li > dl > dd, .vision .core-value > ul > li > dl > dd {
          display: block;
          text-align: center;
          margin-top: 10px; }
          .vision .working-principle > ul > li > dl > dd br, .vision .core-value > ul > li > dl > dd br {
            display: block; }
    .vision .working-principle.working-principle h5, .vision .core-value.working-principle h5 {
      background-color: #016ecd; }
    .vision .working-principle.working-principle > ul, .vision .core-value.working-principle > ul {
      overflow: hidden; }
      .vision .working-principle.working-principle > ul > li, .vision .core-value.working-principle > ul > li {
        float: left;
        width: 20%; }
    .vision .working-principle.core-value, .vision .core-value.core-value {
      text-align: center; }
      .vision .working-principle.core-value h5, .vision .core-value.core-value h5 {
        background-color: #009438; }
      .vision .working-principle.core-value > ul > li, .vision .core-value.core-value > ul > li {
        float: none;
        display: inline-block;
        margin-right: 70px; }
        .vision .working-principle.core-value > ul > li:last-child, .vision .core-value.core-value > ul > li:last-child {
          margin-right: 0; } }
@media (min-width: 992px) {
  .vision article {
    max-width: 710px;
    margin: 0 auto; } }

.general-status .history .summary {
  text-align: center;
  padding: 20px 25px;
  border-radius: 5px;
  border: 1px solid #ddd; }
  .general-status .history .summary h5 {
    font-size: 24px;
    color: #016ecd;
    font-weight: 400; }
  .general-status .history .summary p {
    font-size: 16px;
    color: #666;
    line-height: 22px;
    font-weight: 300;
    margin-top: 15px; }
    .general-status .history .summary p > br {
      display: none; }
.general-status .history .history-list {
  position: relative;
  margin-top: 50px; }
  .general-status .history .history-list:before {
    position: absolute;
    top: 10px;
    left: 76px;
    content: '';
    height: 100%;
    border-left: 1px solid #ddd; }
  .general-status .history .history-list > li {
    position: relative;
    display: table;
    width: 100%; }
    .general-status .history .history-list > li:before {
      position: absolute;
      top: 10px;
      left: 71px;
      display: block;
      content: '';
      width: 11px;
      height: 11px;
      border: 2px solid #016ecd;
      border-radius: 50%;
      background-color: #88dcff; }
    .general-status .history .history-list > li ~ li {
      margin-top: 30px; }
    .general-status .history .history-list > li > h6 {
      display: table-cell;
      vertical-align: top;
      width: 55px;
      font-size: 24px;
      color: #016ecd; }
    .general-status .history .history-list > li > dl {
      display: table-cell;
      vertical-align: top;
      padding-top: 3px;
      padding-left: 45px; }
      .general-status .history .history-list > li > dl > dt {
        font-size: 16px;
        color: #333;
        line-height: 22px;
        font-weight: 400; }
        .general-status .history .history-list > li > dl > dt ~ dt {
          margin-top: 5px; }
      .general-status .history .history-list > li > dl > dd {
        font-size: 16px;
        color: #666;
        line-height: 22px;
        font-weight: 300; }
@media (min-width: 768px) {
  .general-status .history {
    max-width: 748px;
    margin: 0 auto; }
    .general-status .history .summary p > br {
      display: block; } }

.tab-menu {
  margin-top: 30px; }
  .tab-menu > ul {
    display: table;
    width: 100%; }
    .tab-menu > ul > li {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
      color: #fff;
      border: 1px solid #ddd;
      border-right: 0; }
      .tab-menu > ul > li:last-child {
        border-right: 1px solid #ddd; }
      .tab-menu > ul > li > a {
        position: relative;
        font-size: 14px;
        color: #666;
        font-weight: 400;
        display: block;
        text-align: center;
        padding: 12px 0;
        height: 45px;
        letter-spacing: -1px;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .tab-menu > ul > li > a:hover {
          opacity: .7;
          color: #fff;
          background-color: #58626c; }
      .tab-menu > ul > li.active > a {
        color: #fff;
        background-color: #58626c; }
        .tab-menu > ul > li.active > a:hover {
          opacity: 1; }
      .tab-menu > ul > li.space > a {
        padding: 3px 0 0; }
  @media (min-width: 768px) {
    .tab-menu {
      margin-top: 40px; } }
  @media (min-width: 1200px) {
    .tab-menu > ul > li > a {
      font-size: 16px; } }

.management article, .result article {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .management article, .result article {
      margin-top: 40px; } }
.management .sub-title ~ .sub-title, .result .sub-title ~ .sub-title {
  margin-top: 30px; }
  @media (min-width: 768px) {
    .management .sub-title ~ .sub-title, .result .sub-title ~ .sub-title {
      margin-top: 40px; } }
.management p, .result p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #666;
  padding-left: 15px; }
.management .square-list, .result .square-list {
  padding-left: 15px; }
  .management .square-list > li, .result .square-list > li {
    color: #666;
    font-weight: 300; }
    .management .square-list > li ~ li, .result .square-list > li ~ li {
      margin-top: 0; }
    .management .square-list > li b, .result .square-list > li b {
      font-weight: 400;
      color: #333; }

.group figure img {
  display: block;
  margin: 0 auto; }
.group .box {
  margin-top: 30px; }
  .group .box ul {
    margin-top: 20px; }
  @media (min-width: 768px) {
    .group .box {
      margin-top: 60px; }
      .group .box ul {
        margin-top: 0; }
        .group .box ul li {
          display: inline-block; }
          .group .box ul li:first-child:after {
            position: relative;
            top: -2px;
            font-size: 12px;
            content: '|';
            margin: 0 10px; } }

.location .map img {
  width: 100%; }
.location .details {
  margin-top: 30px; }
  .location .details > dl > dt {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #016ecd;
    padding-left: 38px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: auto; }
    .location .details > dl > dt ~ dt {
      margin-top: 20px; }
    .location .details > dl > dt.addr {
      background-position: 7px 0;
      background-image: url(/assets/images/introduction/ico_addr.jpg); }
    .location .details > dl > dt.tel {
      background-image: url(/assets/images/introduction/ico_tel.jpg); }
    .location .details > dl > dt.fax {
      background-image: url(/assets/images/introduction/ico_fax.jpg); }
    .location .details > dl > dt.bus {
      background-image: url(/assets/images/introduction/ico_bus.jpg); }
  .location .details > dl > dd {
    font-size: 16px;
    line-height: 24px;
    color: #666;
    font-weight: 400;
    padding-left: 38px; }
  @media (min-width: 768px) {
    .location .details {
      margin-top: 60px; } }

/*# sourceMappingURL=introcution.css.map */
