@import url(/assets/css/font/noto-sans-korean.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 300; }
  dl dd {
    font-weight: lighter;
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button {
  outline: none !important; }
  button:hover, button:focus {
    box-shadow: none !important; }

.form-group {
  margin-bottom: 0; }

label {
  font-weight: 400;
  margin: 0; }

input, .form-control {
  margin-bottom: 0;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0; }

input[type="file"] {
  padding-top: 5px !important; }

a {
  color: #666;
  outline: none !important; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.table {
  margin: 0; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none !important; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

@media (min-width: 1200px) {
  #gnb {
    max-height: 992px; } }

.main-slider {
  position: relative;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  opacity: 0; }
  .main-slider ul li {
    height: 320px;
    background-repeat: no-repeat;
    background-position: 90% 100%;
    background-size: cover; }
    .main-slider ul li.first {
      background-image: url(/assets/images/main/bg_visual_xs.jpg); }
    .main-slider ul li.second {
      background-image: url(/assets/images/main/bg_visual_xs.jpg); }
    .main-slider ul li.third {
      background-image: url(/assets/images/main/bg_visual_xs.jpg); }
    .main-slider ul li .slogan {
      padding: 40px 15px; }
      .main-slider ul li .slogan > small {
        position: relative;
        top: -20px;
        font-size: 12px;
        font-weight: 300;
        color: #fff;
        letter-spacing: 1px;
        opacity: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.6s;
        transition-duration: 0.6s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .main-slider ul li .slogan > small span:nth-of-type(1) {
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s; }
        .main-slider ul li .slogan > small span:nth-of-type(2) {
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s; }
        .main-slider ul li .slogan > small span:nth-of-type(3) {
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 2.2s;
          transition-delay: 2.2s; }
      .main-slider ul li .slogan > h3 {
        position: relative;
        top: -20px;
        color: #fff;
        font-size: 30px;
        font-weight: lighter;
        line-height: 38px;
        margin-top: 10px;
        opacity: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.6s;
        transition-duration: 0.6s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s; }
        .main-slider ul li .slogan > h3 > strong {
          display: block;
          font-weight: 400; }
      .main-slider ul li .slogan p {
        position: relative;
        top: -20px;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        font-weight: lighter;
        margin-top: 10px;
        opacity: 0;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.6s;
        transition-duration: 0.6s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s; }
    .main-slider ul li.active .slogan > small {
      top: 0;
      opacity: 1; }
      .main-slider ul li.active .slogan > small span {
        color: #fffc00; }
    .main-slider ul li.active .slogan > h3 {
      top: 0;
      opacity: 1; }
  .main-slider.action {
    opacity: 1; }
  .main-slider .bx-controls {
    position: absolute;
    bottom: 15px;
    left: 50%;
    display: inline-block;
    margin-left: -36px;
    text-align: center; }
    .main-slider .bx-controls .bx-pager {
      display: inline-block;
      height: 10px;
      float: right; }
      .main-slider .bx-controls .bx-pager .bx-pager-item {
        display: inline-block; }
        .main-slider .bx-controls .bx-pager .bx-pager-item > a {
          width: 10px;
          height: 10px;
          display: block;
          text-indent: -999999px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          border: 1px solid #fff;
          border-radius: 50%;
          margin: 0 2px; }
          .main-slider .bx-controls .bx-pager .bx-pager-item > a.active {
            width: 30px;
            border-radius: 30px;
            background-color: #fff; }
    .main-slider .bx-controls .bx-controls-auto {
      float: right;
      display: inline-block;
      height: 10px; }
      .main-slider .bx-controls .bx-controls-auto .bx-controls-auto-item > a {
        display: block;
        position: relative;
        z-index: 1;
        font-size: 0;
        margin-left: 3px; }
        .main-slider .bx-controls .bx-controls-auto .bx-controls-auto-item > a:after {
          font-family: "fontello";
          font-size: 10px;
          color: #fff;
          line-height: 12px; }
        .main-slider .bx-controls .bx-controls-auto .bx-controls-auto-item > a.bx-start:after {
          content: "\E800"; }
        .main-slider .bx-controls .bx-controls-auto .bx-controls-auto-item > a.bx-stop:after {
          content: "\E801"; }
  @media (min-width: 768px) {
    .main-slider ul li .slogan {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1200px) {
    .main-slider .bx-wrapper, .main-slider .bx-viewport {
      height: 100.1% !important; }
    .main-slider ul {
      height: 100% !important; }
      .main-slider ul li {
        height: 100% !important; }
        .main-slider ul li.first {
          background-image: url(/assets/images/main/bg_visual_xl.jpg); }
        .main-slider ul li.second {
          background-image: url(/assets/images/main/bg_visual_xl.jpg); }
        .main-slider ul li.third {
          background-image: url(/assets/images/main/bg_visual_xl.jpg); }
        .main-slider ul li .slogan {
          padding: 180px 50px 0; }
          .main-slider ul li .slogan small {
            font-size: 14px; }
          .main-slider ul li .slogan h3 {
            font-size: 48px;
            line-height: 59px;
            margin-top: 20px; }
          .main-slider ul li .slogan p {
            font-size: 18px;
            line-height: 28px;
            margin-top: 30px; }
        .main-slider ul li.active .slogan p {
          top: 0;
          opacity: 1; }
    .main-slider .bx-controls {
      bottom: 45px; } }

.puc-news {
  padding: 30px 15px;
  background-color: #fff; }
  .puc-news > h3 {
    font-size: 22px;
    color: #333;
    font-weight: 500; }
    .puc-news > h3 > .more {
      position: relative;
      top: -3px;
      margin-left: 5px;
      display: inline-block; }
  .puc-news .article-content {
    margin-top: 20px; }
    .puc-news .article-content > .board-tab {
      border-bottom: 1px solid #e5e5e5; }
      .puc-news .article-content > .board-tab .nav-tabs {
        font-size: 0;
        border: 0; }
        .puc-news .article-content > .board-tab .nav-tabs > li {
          display: inline-block;
          text-align: center; }
          .puc-news .article-content > .board-tab .nav-tabs > li a {
            position: relative;
            font-size: 16px;
            color: #333;
            border: 0;
            letter-spacing: -.5px;
            padding: 0 7px 10px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            .puc-news .article-content > .board-tab .nav-tabs > li a:before {
              position: absolute;
              bottom: -1px;
              left: 50%;
              width: 0;
              display: block;
              content: "";
              z-index: 1;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
            .puc-news .article-content > .board-tab .nav-tabs > li a:after {
              position: absolute;
              top: 4px;
              right: -1px;
              display: inline-block;
              font-size: 10px;
              color: #666 !important;
              content: '|';
              z-index: 1; }
            .puc-news .article-content > .board-tab .nav-tabs > li a.active {
              color: #3976cf; }
              .puc-news .article-content > .board-tab .nav-tabs > li a.active:before {
                width: 100%;
                height: 2px;
                margin-left: -50%;
                background-color: #3976cf; }
          .puc-news .article-content > .board-tab .nav-tabs > li:last-child a:after {
            display: none; }
    .puc-news .article-content .tab-content {
      margin-top: 15px; }
      .puc-news .article-content .tab-content > .tab-pane > .board-list > li > a {
        position: relative;
        display: block;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 75px;
        line-height: 29px; }
        .puc-news .article-content .tab-content > .tab-pane > .board-list > li > a span {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 14px;
          color: #adadad;
          display: block; }
  @media (min-width: 768px) {
    .puc-news {
      padding-left: 30px;
      padding-right: 30px; }
      .puc-news .article-content > .board-tab .nav-tabs > li a {
        letter-spacing: 0px;
        padding: 0 15px 10px; }
      .puc-news .article-content > .board-tab .nav-tabs > li:last-child a:after {
        display: none; } }
  @media (min-width: 1200px) {
    .puc-news {
      padding: 30px; }
      .puc-news h3 {
        font-size: 24px; }
        .puc-news h3 > .more {
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .puc-news h3 > .more:hover {
            opacity: .7; }
      .puc-news .article-content > .board-tab .nav-tabs > li > a:hover {
        color: #016ecd;
        opacity: .7; }
      .puc-news .article-content > .board-tab .nav-tabs > li > a.active:hover {
        opacity: 1; } }

.banner-slider {
  position: relative;
  opacity: 0; }
  .banner-slider ul li {
    height: 220px;
    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: cover; }
    .banner-slider ul li.first {
      background-image: url(/assets/images/main/img_banner01_xs.jpg); }
    .banner-slider ul li.second {
      background-image: url(/assets/images/main/img_banner01_xs.jpg); }
    .banner-slider ul li.third {
      background-image: url(/assets/images/main/img_banner01_xs.jpg); }
    .banner-slider ul li > .details {
      display: table;
      width: 100%;
      height: 100%;
      padding: 0 15px; }
      .banner-slider ul li > .details > div {
        display: table-cell;
        vertical-align: middle;
        color: #fff; }
        .banner-slider ul li > .details > div > p {
          display: block;
          font-size: 24px;
          color: #fff;
          line-height: 30px;
          font-weight: 400; }
        .banner-slider ul li > .details > div > .btn-white {
          display: block;
          width: 180px;
          font-size: 14px;
          color: #fff;
          font-weight: 400;
          line-height: 38px;
          text-align: center;
          border: 1px solid #fff;
          margin-top: 20px;
          border-radius: 30px; }
  .banner-slider .bx-controls {
    position: absolute;
    bottom: 15px;
    left: 50%;
    display: inline-block;
    margin-left: -36px;
    text-align: center; }
    .banner-slider .bx-controls .bx-pager {
      display: inline-block;
      height: 10px;
      float: right; }
      .banner-slider .bx-controls .bx-pager .bx-pager-item {
        display: inline-block; }
        .banner-slider .bx-controls .bx-pager .bx-pager-item > a {
          width: 10px;
          height: 10px;
          display: block;
          text-indent: -999999px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          border: 1px solid #fff;
          border-radius: 50%;
          margin: 0 2px; }
          .banner-slider .bx-controls .bx-pager .bx-pager-item > a.active {
            width: 30px;
            border-radius: 30px;
            background-color: #fff; }
    .banner-slider .bx-controls .bx-controls-auto {
      float: right;
      display: inline-block;
      height: 10px; }
      .banner-slider .bx-controls .bx-controls-auto .bx-controls-auto-item > a {
        display: block;
        position: relative;
        z-index: 1;
        font-size: 0;
        margin-left: 3px; }
        .banner-slider .bx-controls .bx-controls-auto .bx-controls-auto-item > a:after {
          font-family: "fontello";
          font-size: 10px;
          color: #fff;
          line-height: 12px; }
        .banner-slider .bx-controls .bx-controls-auto .bx-controls-auto-item > a.bx-start:after {
          content: "\E800"; }
        .banner-slider .bx-controls .bx-controls-auto .bx-controls-auto-item > a.bx-stop:after {
          content: "\E801"; }
  .banner-slider.action {
    opacity: 1; }
  @media (min-width: 768px) {
    .banner-slider ul li .details {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (min-width: 1200px) {
    .banner-slider ul li .details > div > p {
      font-size: 28px;
      line-height: 33px; }
    .banner-slider ul li .details > div .btn-white {
      position: relative;
      overflow: hidden;
      z-index: 1;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
      .banner-slider ul li .details > div .btn-white:hover {
        color: #016ecd;
        background-color: #fff; } }

.community > a {
  padding: 20px 15px;
  height: 220px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%; }
  .community > a.communication {
    color: #fff;
    background-image: url(/assets/images/main/bg_communication.jpg); }
  .community > a.satisfaction-research {
    color: #333;
    background-image: url(/assets/images/main/bg_research.jpg); }
  .community > a > h3 {
    font-size: 20px;
    font-weight: 400; }
  .community > a > p {
    font-size: 14px;
    margin-top: 5px;
    font-weight: 300; }
@media (min-width: 768px) {
  .community {
    overflow: hidden; }
    .community > a {
      float: left;
      width: 50%;
      padding-left: 30px;
      padding-right: 30px; } }
@media (min-width: 1200px) {
  .community > a {
    padding: 30px; }
    .community > a > h3 {
      font-size: 24px;
      letter-spacing: -1.5px; }
    .community > a > p {
      font-size: 16px;
      line-height: 21px;
      margin-top: 10px; } }
@media (min-width: 1400px) {
  .community > a > h3 {
    letter-spacing: 0; } }

.news {
  padding: 30px 15px;
  background-image: url(/assets/images/main/bg_news.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0; }
  .news > h3 {
    font-size: 22px;
    color: #fff;
    font-weight: 500; }
    .news > h3 > .more {
      position: relative;
      top: -3px;
      margin-left: 5px;
      display: inline-block; }
  .news .article-content {
    margin-top: 20px; }
    .news .article-content > a > div.item img {
      display: block;
      margin: 0 auto;
      width: 100%; }
    .news .article-content > a > div.details {
      margin-top: 20px;
      color: #fff; }
      .news .article-content > a > div.details h4 {
        font-size: 20px;
        line-height: 25px;
        font-weight: 400; }
      .news .article-content > a > div.details p {
        display: block;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        margin-top: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .news .article-content > a > div.details span {
        font-size: 14px;
        color: #ebebeb;
        display: block;
        margin-top: 15px; }
  @media (min-width: 768px) {
    .news {
      height: 250px;
      padding-left: 30px;
      padding-right: 30px; }
      .news .article-content {
        margin-top: 20px; }
        .news .article-content > a {
          display: table;
          width: 100%;
          height: 100%;
          table-layout: fixed; }
          .news .article-content > a > div {
            display: table-cell;
            vertical-align: middle; }
            .news .article-content > a > div.item {
              width: 190px; }
            .news .article-content > a > div.details {
              margin-top: 0;
              padding-left: 20px; } }
  @media (min-width: 1200px) {
    .news {
      padding: 30px; }
      .news h3 {
        font-size: 24px; }
        .news h3 > .more {
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .news h3 > .more:hover {
            opacity: .7; }
      .news .article-content > a > div.item {
        overflow: hidden;
        height: 135px; }
        .news .article-content > a > div.item img {
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
      .news .article-content > a:hover > div.item img {
        transform: scale(1.1);
        -webkit-transform: scale(1.1); } }

@media (min-width: 1200px) {
  #content {
    overflow: hidden;
    width: 100%;
    max-width: 1160px; }
    #content > section {
      float: left; }
      #content > section.main-slider {
        height: 992px;
        width: 55%;
        max-width: 620px; }
      #content > section.content-wrap {
        width: 45%;
        max-width: 540px; } }

/*# sourceMappingURL=main.css.map */
