@import 'common';

// main slider
.jumbotron {
    position: relative;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: none;
    opacity: 0;
    &.on {
        opacity: 1;
    }
    .main-slider {
        li {
            figure {
                .img-fluid {
                    width: 100%;
                }
                figcaption {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 10% 0 0 5%;
                    p {
                        font-size: 25px;
                        line-height: 30px;
                        color: #568080;
                        font-weight: 300;
                        b {
                            font-weight: 500;
                        }
                    }
                    small {
                        font-size: 12px;
                        line-height: 18px;
                        color: #485c5c;
                        font-weight: 400;
                        letter-spacing: -.5px;
                    }
                }
            }
        }
    }
    .bx-controls {
        position: absolute;
        bottom: 15px;
        left: 50%;
        display: inline-block;
        margin-left: -36px;
        text-align: center;
        .bx-pager {
            display: inline-block;
            height: 10px;
            float: right;
            .bx-pager-item {
                display: inline-block;
                > a {
                    width: 10px;
                    height: 10px;
                    display: block;
                    text-indent: -999999px;
                    @include transition();
                    border: 1px solid #fff;
                    border-radius: 50%;
                    margin: 0 2px;
                    &.active {
                        width: 30px;
                        border-radius: 30px;
                        background-color: #fff;
                    }
                }
            }
        }
        .bx-controls-auto {
            float: right;
            display: inline-block;
            height: 10px;
            .bx-controls-auto-item {
                > a {
                    display: block;
                    position: relative;
                    z-index: 1;
                    font-size: 0;
                    margin-left: 3px;
                    &:after {
                        font-family: "fontello";
                        font-size: 10px;
                        color: #fff;
                        line-height: 12px;
                    }
                    &.bx-start {
                        &:after {
                            content: "\E800";
                        }
                    }
                    &.bx-stop {
                        &:after {
                            content: "\E801";
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        .main-slider {
            li {
                figure {
                    figcaption {
                        padding: 15% 0 0 10%;
                        p {
                            font-size: 35px;
                            line-height: 42px;
                        }
                        small {
                            display: block;
                            margin-top: 10px;
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        .bx-controls {
            bottom: 30px;
            margin-left: -53px;
            .bx-pager {
                height: 16px;
                .bx-pager-item {
                    > a {
                        width: 16px;
                        height: 16px;
                        margin: 0 4px;
                    }
                }
            }
            .bx-controls-auto {
                height: 16px;
                .bx-controls-auto-item {
                    > a {
                        margin-left: 4px;
                        &:after {
                            font-family: "fontello";
                            font-size: 16px;
                            color: #fff;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
}

.puc-news {
    padding: 0 10px;
    .section-header {
        padding: 40px 0 30px;
        > h3 {
            font-size: 25px;
            color: #333;
            font-weight: 500;
            margin-bottom: 10px;
            letter-spacing: -.5px;
        }
        > p {
            font-size: 16px;
            color: #333;
            font-weight: 400;
            letter-spacing: -.5px;
        }
    }
    .section-content {
        > nav {
            position: relative;
            border-bottom: 1px solid #ececec;
            .nav-tabs {
                font-size: 0;
                > li {
                    display: inline-block;
                    min-width: 70px;
                    text-align: center;
                    margin-bottom: 0 !important;
                    > a {
                        font-size: 15px;
                        position: relative;
                        padding: 0;
                        /*padding: 0 10px;*/
                        border: 0;
                        border-radius: 0;
                        padding-bottom: 15px;
                        &:after {
                            position: absolute;
                            bottom: -1px;
                            left: 50%;
                            width: 0;
                            display: block;
                            content: "";
                            z-index: 1;
                            @include transition();
                        }
                        &.active {
                            color: #3976cf;
                            &:after {
                                width: 100%;
                                height: 2px;
                                margin-left: -50%;
                                background-color: #3976cf;
                            }
                        }
                    }
                }
            }
            .more {
                display: none;
            }
        }
        .tab-content {
            padding: 20px 0 40px;
            > .tab-pane {
                > .board-list {
                    > li {
                        > a {
                            display: block;
                            position: relative;
                            font-size: 14px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding-right: 80px;
                            line-height: 28px;
                            span {
                                position: absolute;
                                top: 0;
                                right: 0;
                                font-size: 12px;
                                color: #adadad;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: 400px) {
        .section-content {
            > nav {
                .more {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-image: url(/assets/images/btn_more.jpg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 20px 20px;
                }
            }
        }
    }
    @media(min-width: $sm) {
        .section-header {
            
        }
        .section-content {
            > nav {
                .nav-tabs {
                    > li {
                        min-width: 90px;
                    }
                }
                .more {
                    width: 27px;
                    height: 27px;
                    background-size: 27px 27px;
                }
            }
            .tab-content {
                > .tab-pane {
                    > .board-list {
                        > li {
                            > a {
                                line-height: 32px;
                                span {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.banner {
    position: relative;
    .banner-slider {
        opacity: 0;
        &.on {
            opacity: 1;
        }
        li {
            figure {
                img {
                    width: 100%;
                }
                figcaption {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 0 5%;
                    .details {
                        display: table;
                        width: 100%;
                        height: 100%;
                        > .align {
                            display: table-cell;
                            vertical-align: middle;
                            h4 {
                                font-size: 20px;
                                color: #fff;
                                font-weight: 500;
                                line-height: 26px;
                            }
                            .btn-area {
                                margin-top: 10px;
                                .btn-white {
                                    width: 150px;
                                    font-size: 12px;
                                    color: #fff;
                                    line-height: 36px;
                                    text-align: center;
                                    border-radius: 30px;
                                    border: 1px solid #fff;
                                    @include transition();
                                    &:hover {
                                        color: #39bad5;
                                        background-color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bx-controls {
        position: absolute;
        bottom: 15px;
        left: 50%;
        display: inline-block;
        margin-left: -36px;
        text-align: center;
        .bx-pager {
            display: inline-block;
            height: 10px;
            float: right;
            .bx-pager-item {
                display: inline-block;
                > a {
                    width: 10px;
                    height: 10px;
                    display: block;
                    text-indent: -999999px;
                    @include transition();
                    border: 1px solid #fff;
                    border-radius: 50%;
                    margin: 0 2px;
                    &.active {
                        width: 30px;
                        border-radius: 30px;
                        background-color: #fff;
                    }
                }
            }
        }
        .bx-controls-auto {
            float: right;
            display: inline-block;
            height: 10px;
            .bx-controls-auto-item {
                > a {
                    display: block;
                    position: relative;
                    z-index: 1;
                    font-size: 0;
                    margin-left: 3px;
                    &:after {
                        font-family: "fontello";
                        font-size: 10px;
                        color: #fff;
                        line-height: 12px;
                    }
                    &.bx-start {
                        &:after {
                            content: "\E800";
                        }
                    }
                    &.bx-stop {
                        &:after {
                            content: "\E801";
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        .banner-slider {
            li {
                figure {
                    figcaption {
                        .details {
                            > .align {
                                h4 {
                                    font-size: 30px;
                                    line-height: 36px;
                                }
                                .btn-area {
                                    margin-top: 20px;
                                    .btn-white {
                                        font-size: 13px;
                                        width: 180px;
                                        line-height: 42px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .bx-controls {
            bottom: 30px;
            margin-left: -53px;
            .bx-pager {
                height: 16px;
                .bx-pager-item {
                    > a {
                        width: 16px;
                        height: 16px;
                        margin: 0 4px;
                    }
                }
            }
            .bx-controls-auto {
                height: 16px;
                .bx-controls-auto-item {
                    > a {
                        margin-left: 4px;
                        &:after {
                            font-family: "fontello";
                            font-size: 16px;
                            color: #fff;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
}

.community {
    overflow: hidden;
    width: 100%;
    > a {
        float: left;
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        h3 {
            font-size: 18px;
            /*font-size: 22px;*/
            color: inherit;
            padding-top: 10%;
            padding-left: 5%;
        }
        p {
            font-size: 12px;
            line-height: 18px;
            margin-top: 10px;
            padding-left: 5%;
            color: inherit;
            letter-spacing: -.5px;
        }
        &.communication {
            color: #fff;
            background-image: url(/assets/images/main/bg_communication.jpg);
            background-position: 100% 100%;
        }
        &.satisfaction-research {
            color: #333;
            background-image: url(/assets/images/main/bg_research.jpg);
            background-position: 0 100%;
        }
    }
    @media(min-width: $sm) {
        > a {
            h3 {
                padding-top: 15%;
                font-size: 22px;
            }
            p {
                font-size: 15px;
                line-height: 20px;
                margin-top: 15px;
                letter-spacing: 0;
            }
        }
    }
}













































