@import 'common';

html, body {
    @media(min-width: $lg) {
        #content {
            position: absolute;
            top: 0;
            left: 0;
            padding-left: 280px;
            height: 100%;
            .jumbotron {
                float: left;
                width: 53%;
            }
            .puc-content {
                float: left;
                width: 47%;
                height: 100%;
                .puc-news {
                    height: 28%;
                }
                .banner {
                    height: 28%;
                }
                .community {
                    height: 22%;
                }
                .news {
                    height: 22%;
                }
            }
        }
    }
}


// main slider
.jumbotron {
    position: relative;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: none;
    opacity: 0;
    &.on {
        opacity: 1;
    }
    .main-slider {
        li {
            background-repeat: no-repeat;
            background-position: 50% 100%;
            background-size: cover;
            &.first {
                background-image: url(/assets/images/main/bg_slider01.jpg);
            }
            &.second {
                background-image: url(/assets/images/main/bg_slider01.jpg);
            }
            &.third {
                background-image: url(/assets/images/main/bg_slider01.jpg);
            }
            .details {
                display: block;
                padding: 10% 20px 20%;
                p {
                    font-size: 25px;
                    line-height: 30px;
                    color: #568080;
                    font-weight: lighter;
                    b {
                        font-weight: 500;
                    }
                }
                small {
                    display: block;
                    margin-top: 10px;
                    font-size: 12px;
                    line-height: 18px;
                    color: #485c5c;
                    font-weight: 400;
                    letter-spacing: -.5px;
                }
            }
        }
    }
    .bx-controls {
        position: absolute;
        bottom: 15px;
        left: 50%;
        display: inline-block;
        margin-left: -36px;
        text-align: center;
        .bx-pager {
            display: inline-block;
            height: 10px;
            float: right;
            .bx-pager-item {
                display: inline-block;
                > a {
                    width: 10px;
                    height: 10px;
                    display: block;
                    text-indent: -999999px;
                    @include transition();
                    border: 1px solid #fff;
                    border-radius: 50%;
                    margin: 0 2px;
                    &.active {
                        width: 30px;
                        border-radius: 30px;
                        background-color: #fff;
                    }
                }
            }
        }
        .bx-controls-auto {
            float: right;
            display: inline-block;
            height: 10px;
            .bx-controls-auto-item {
                > a {
                    display: block;
                    position: relative;
                    z-index: 1;
                    font-size: 0;
                    margin-left: 3px;
                    &:after {
                        font-family: "fontello";
                        font-size: 10px;
                        color: #fff;
                        line-height: 12px;
                    }
                    &.bx-start {
                        &:after {
                            content: "\E800";
                        }
                    }
                    &.bx-stop {
                        &:after {
                            content: "\E801";
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        .main-slider {
            li {
                .details {
                    padding: 15% 20px;
                    p {
                        font-size: 36px;
                        line-height: 42px;
                    }
                    small {
                        display: block;
                        margin-top: 10px;
                        font-size: 15px;
                        line-height: 22px;
                    }
                }
            }
        }
        .bx-controls {
            bottom: 30px;
            margin-left: -53px;
            .bx-pager {
                height: 16px;
                .bx-pager-item {
                    > a {
                        width: 16px;
                        height: 16px;
                        margin: 0 4px;
                        &.active {
                            width: 40px;
                        }
                    }
                }
            }
            .bx-controls-auto {
                height: 16px;
                .bx-controls-auto-item {
                    > a {
                        margin-left: 4px;
                        &:after {
                            font-family: "fontello";
                            font-size: 16px;
                            color: #fff;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        height: 100%;
        .bx-wrapper, .bx-viewport {
            height: 100% !important;
            ul {
                height: 100%;
                li {
                    height: 100%;
                    &.first {
                        background-image: url(/assets/images/main/bg_slider01_lg.jpg);
                    }
                    &.second {
                        background-image: url(/assets/images/main/bg_slider01_lg.jpg);
                    }
                    &.third {
                        background-image: url(/assets/images/main/bg_slider01_lg.jpg);
                    }
                    .details {
                        padding: 20% 0 0 40px;
                        p {
                            font-size: 68px;
                            line-height: 76px;
                        }
                        small {
                            font-size: 22px;
                            line-height: 33px;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $xl) {
        .bx-wrapper, .bx-viewport {
            ul {
                li {
                    .details {
                        padding-top: 18%;
                    }
                }
            }
        }
    }
}

.puc-news {
    padding: 0 20px;
    .section-header {
        padding: 30px 0 20px;
        > h3 {
            font-size: 20px;
            color: #333;
            font-weight: 500;
            margin-bottom: 10px;
            letter-spacing: -.5px;
        }
        > p {
            font-size: 14px;
            color: #333;
            font-weight: 400;
            letter-spacing: -.5px;
        }
    }
    .section-content {
        > nav {
            position: relative;
            border-bottom: 1px solid #ececec;
            .nav-tabs {
                font-size: 0;
                > li {
                    display: inline-block;
                    min-width: 70px;
                    text-align: center;
                    margin-bottom: 0 !important;
                    > a {
                        font-size: 14px;
                        position: relative;
                        padding: 0;
                        border: 0;
                        color: #888;
                        border-radius: 0;
                        padding-bottom: 10px;
                        &:after {
                            position: absolute;
                            bottom: -1px;
                            left: 50%;
                            width: 0;
                            display: block;
                            content: "";
                            z-index: 1;
                            @include transition();
                        }
                        &.active {
                            color: #3976cf;
                            &:after {
                                width: 100%;
                                height: 2px;
                                margin-left: -50%;
                                background-color: #3976cf;
                            }
                        }
                    }
                }
            }
            .more {
                display: none;
            }
        }
        .tab-content {
            padding: 20px 0 40px;
            > .tab-pane {
                > .board-list {
                    > li {
                        > a {
                            display: block;
                            position: relative;
                            font-size: 13px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding-right: 75px;
                            line-height: 26px;
                            span {
                                position: absolute;
                                top: 0;
                                right: 0;
                                font-size: 12px;
                                color: #adadad;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: 400px) {
        .section-content {
            > nav {
                .more {
                    position: absolute;
                    top: 4px;
                    right: 0;
                    display: block;
                    width: 16px;
                    height: 16px;
                    background-image: url(/assets/images/btn_more_black.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 16px auto;
                }
            }
        }
    }
    @media(min-width: $sm) {
        .section-header {
            padding: 40px 0 30px;
            h3 {
                font-size: 25px;
            }
            p {
                font-size: 16px;
            }
        }
        .section-content {
            > nav {
                .nav-tabs {
                    > li {
                        min-width: 85px;
                        a {
                            font-size: 18px;
                            padding-bottom: 15px;
                        }
                    }
                }
                .more {
                    width: 20px;
                    height: 20px;
                    background-size: 20px auto;
                }
            }
            .tab-content {
                > .tab-pane {
                    > .board-list {
                        > li {
                            > a {
                                font-size: 15px;
                                line-height: 32px;
                                span {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        padding: 0 30px;
        .section-header {
            padding: 30px 0 20px;
            p {
                letter-spacing: -1.2px;
            }
        }
        .section-content {
            .tab-content {
                padding-bottom: 0;
            }
        }
    }
}

.banner {
    position: relative;
    .banner-slider {
        opacity: 0;
        &.on {
            opacity: 1;
        }
        li {
            background-repeat: no-repeat;
            background-position: 100% 50%;
            background-size: cover;
            &.first {
                background-image: url(/assets/images/main/bg_banner01.jpg);
            }
            &.second {
                background-image: url(/assets/images/main/bg_banner01.jpg);
            }
            &.third {
                background-image: url(/assets/images/main/bg_banner01.jpg);
            }
            .details {
                padding: 15% 20px;
                h4 {
                    font-size: 18px;
                    color: #fff;
                    font-weight: 500;
                    line-height: 24px;
                }
                .btn-area {
                    margin-top: 10px;
                    .btn-white {
                        width: 150px;
                        font-size: 12px;
                        color: #fff;
                        line-height: 36px;
                        text-align: center;
                        border-radius: 30px;
                        border: 1px solid #fff;
                        @include transition();
                        &:hover {
                            color: #39bad5;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
    .bx-controls {
        position: absolute;
        bottom: 15px;
        left: 50%;
        display: inline-block;
        margin-left: -36px;
        text-align: center;
        .bx-pager {
            display: inline-block;
            height: 10px;
            float: right;
            .bx-pager-item {
                display: inline-block;
                > a {
                    width: 10px;
                    height: 10px;
                    display: block;
                    text-indent: -999999px;
                    @include transition();
                    border: 1px solid #fff;
                    border-radius: 50%;
                    margin: 0 2px;
                    &.active {
                        width: 30px;
                        border-radius: 30px;
                        background-color: #fff;
                    }
                }
            }
        }
        .bx-controls-auto {
            float: right;
            display: inline-block;
            height: 10px;
            .bx-controls-auto-item {
                > a {
                    display: block;
                    position: relative;
                    z-index: 1;
                    font-size: 0;
                    margin-left: 3px;
                    &:after {
                        font-family: "fontello";
                        font-size: 10px;
                        color: #fff;
                        line-height: 12px;
                    }
                    &.bx-start {
                        &:after {
                            content: "\E800";
                        }
                    }
                    &.bx-stop {
                        &:after {
                            content: "\E801";
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        .banner-slider {
            li {
               .details {
                    h4 {
                        font-size: 30px;
                        line-height: 36px;
                    }
                    .btn-area {
                        margin-top: 20px;
                        .btn-white {
                            width: 180px;
                            font-size: 14px;
                            line-height: 44px;
                        }
                    }
                }
            }
        }
        .bx-controls {
            bottom: 30px;
            margin-left: -53px;
            .bx-pager {
                height: 16px;
                .bx-pager-item {
                    > a {
                        width: 16px;
                        height: 16px;
                        margin: 0 4px;
                        &.active {
                            width: 40px;
                        }
                    }
                }
            }
            .bx-controls-auto {
                height: 16px;
                .bx-controls-auto-item {
                    > a {
                        margin-left: 4px;
                        &:after {
                            font-family: "fontello";
                            font-size: 16px;
                            color: #fff;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        .bx-wrapper, .bx-viewport {
            height: 100% !important;
        }
        .banner-slider {
            height: 100%;
            li {
                height: 100%;
               .details {
                   padding: 70px 30px 0;
                }
            }
        }
    }
}

.community {
    overflow: hidden;
    width: 100%;
    > a {
        position: relative;
        float: left;
        width: 50%;
        min-height: 200px;
        padding: 5% 0 0 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 100%;
        h3 {
            font-size: 18px;
            color: inherit;
        }
        p {
            font-size: 12px;
            line-height: 18px;
            margin-top: 10px;
            color: inherit;
        }
        &.communication {
            color: #fff;
            background-image: url(/assets/images/main/img_communication.jpg);
        }
        &.satisfaction-research {
            color: #333;
            background-image: url(/assets/images/main/img_research.jpg);
        }
    }
    @media(min-width: $sm) {
        > a {
            min-height: 270px;
            h3 {
                font-size: 22px;
            }
            p {
                font-size: 15px;
                line-height: 20px;
                margin-top: 15px;
                letter-spacing: 0;
            }
        }
    }
    @media(min-width: $lg) {
        > a {
            min-height: 100%;
            padding: 55px 0 0 30px;
        }
    }
}

.news {
    padding: 40px 20px;
    background-image: url(/assets/images/main/bg_news.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    .section-header {
        position: relative;
        h3 {
            font-size: 20px;
            color: #fff;
        }
        > .more {
            position: absolute;
            top: 2px;
            right: 0;
            display: block;
            width: 20px;
            height: 20px;
            background-image: url(/assets/images/btn_more_white.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 20px 20px;
        }
    }
    .section-content {
        margin-top: 15px;
        > a {
            display: block;
            figure {
                img {
                    width: 100%;
                }
            }
            .details {
                margin-top: 15px;
                h4 {
                    font-size: 16px;
                    color: #fff;
                    font-weight: 500;
                    line-height: 24px;
                }
                p {
                    display: block;
                    font-size: 13px;
                    color: #fff;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-top: 10px;
                }
                .date {
                    display: block;
                    font-size: 12px;
                    color: #abd5ff;
                    margin-top: 10px;
                }
            }
        }
    }
    @media(min-width: $sm) {
        .section-header {
            h3 {
                font-size: 22px;
            }
        }
        .section-content {
            > a {
                display: table;
                width: 100%;
                table-layout: fixed;
                figure {
                    display: table-cell;
                    /*width: 30%;*/
                    width: 239px;
                }
                .details {
                    display: table-cell;
                    vertical-align: middle;
                    padding-left: 30px;
                    h4 {
                        font-size: 18px;
                    }
                    p {
                        font-size: 15px;
                    }
                    .date {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        padding: 30px 30px 0;
    }
}











































