@import url(/assets/css/font/notosanskr.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button {
  outline: none !important; }
  button:hover, button:focus {
    box-shadow: none !important; }

.form-group {
  margin-bottom: 0; }

input, .form-control {
  margin-bottom: 0;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0; }

a {
  color: #666;
  outline: none !important; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none !important; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.jumbotron {
  position: relative;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  box-shadow: none;
  background: none;
  opacity: 0; }
  .jumbotron.on {
    opacity: 1; }
  .jumbotron .main-slider li figure .img-fluid {
    width: 100%; }
  .jumbotron .main-slider li figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10% 0 0 5%; }
    .jumbotron .main-slider li figure figcaption p {
      font-size: 25px;
      line-height: 30px;
      color: #568080;
      font-weight: 300; }
      .jumbotron .main-slider li figure figcaption p b {
        font-weight: 500; }
    .jumbotron .main-slider li figure figcaption small {
      font-size: 12px;
      line-height: 18px;
      color: #485c5c;
      font-weight: 400;
      letter-spacing: -.5px; }
  .jumbotron .bx-controls {
    position: absolute;
    bottom: 15px;
    left: 50%;
    display: inline-block;
    margin-left: -36px;
    text-align: center; }
    .jumbotron .bx-controls .bx-pager {
      display: inline-block;
      height: 10px;
      float: right; }
      .jumbotron .bx-controls .bx-pager .bx-pager-item {
        display: inline-block; }
        .jumbotron .bx-controls .bx-pager .bx-pager-item > a {
          width: 10px;
          height: 10px;
          display: block;
          text-indent: -999999px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          border: 1px solid #fff;
          border-radius: 50%;
          margin: 0 2px; }
          .jumbotron .bx-controls .bx-pager .bx-pager-item > a.active {
            width: 30px;
            border-radius: 30px;
            background-color: #fff; }
    .jumbotron .bx-controls .bx-controls-auto {
      float: right;
      display: inline-block;
      height: 10px; }
      .jumbotron .bx-controls .bx-controls-auto .bx-controls-auto-item > a {
        display: block;
        position: relative;
        z-index: 1;
        font-size: 0;
        margin-left: 3px; }
        .jumbotron .bx-controls .bx-controls-auto .bx-controls-auto-item > a:after {
          font-family: "fontello";
          font-size: 10px;
          color: #fff;
          line-height: 12px; }
        .jumbotron .bx-controls .bx-controls-auto .bx-controls-auto-item > a.bx-start:after {
          content: "\E800"; }
        .jumbotron .bx-controls .bx-controls-auto .bx-controls-auto-item > a.bx-stop:after {
          content: "\E801"; }
  @media (min-width: 768px) {
    .jumbotron .main-slider li figure figcaption {
      padding: 15% 0 0 10%; }
      .jumbotron .main-slider li figure figcaption p {
        font-size: 35px;
        line-height: 42px; }
      .jumbotron .main-slider li figure figcaption small {
        display: block;
        margin-top: 10px;
        font-size: 14px;
        line-height: 22px; }
    .jumbotron .bx-controls {
      bottom: 30px;
      margin-left: -53px; }
      .jumbotron .bx-controls .bx-pager {
        height: 16px; }
        .jumbotron .bx-controls .bx-pager .bx-pager-item > a {
          width: 16px;
          height: 16px;
          margin: 0 4px; }
      .jumbotron .bx-controls .bx-controls-auto {
        height: 16px; }
        .jumbotron .bx-controls .bx-controls-auto .bx-controls-auto-item > a {
          margin-left: 4px; }
          .jumbotron .bx-controls .bx-controls-auto .bx-controls-auto-item > a:after {
            font-family: "fontello";
            font-size: 16px;
            color: #fff;
            line-height: 16px; } }

.puc-news {
  padding: 0 10px; }
  .puc-news .section-header {
    padding: 40px 0 30px; }
    .puc-news .section-header > h3 {
      font-size: 25px;
      color: #333;
      font-weight: 500;
      margin-bottom: 10px;
      letter-spacing: -.5px; }
    .puc-news .section-header > p {
      font-size: 16px;
      color: #333;
      font-weight: 400;
      letter-spacing: -.5px; }
  .puc-news .section-content > nav {
    position: relative;
    border-bottom: 1px solid #ececec; }
    .puc-news .section-content > nav .nav-tabs {
      font-size: 0; }
      .puc-news .section-content > nav .nav-tabs > li {
        display: inline-block;
        min-width: 70px;
        text-align: center;
        margin-bottom: 0 !important; }
        .puc-news .section-content > nav .nav-tabs > li > a {
          font-size: 15px;
          position: relative;
          padding: 0;
          /*padding: 0 10px;*/
          border: 0;
          border-radius: 0;
          padding-bottom: 15px; }
          .puc-news .section-content > nav .nav-tabs > li > a:after {
            position: absolute;
            bottom: -1px;
            left: 50%;
            width: 0;
            display: block;
            content: "";
            z-index: 1;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          .puc-news .section-content > nav .nav-tabs > li > a.active {
            color: #3976cf; }
            .puc-news .section-content > nav .nav-tabs > li > a.active:after {
              width: 100%;
              height: 2px;
              margin-left: -50%;
              background-color: #3976cf; }
    .puc-news .section-content > nav .more {
      display: none; }
  .puc-news .section-content .tab-content {
    padding: 20px 0 40px; }
    .puc-news .section-content .tab-content > .tab-pane > .board-list > li > a {
      display: block;
      position: relative;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 80px;
      line-height: 28px; }
      .puc-news .section-content .tab-content > .tab-pane > .board-list > li > a span {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        color: #adadad;
        display: block; }
  @media (min-width: 400px) {
    .puc-news .section-content > nav .more {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 20px;
      height: 20px;
      background-image: url(/assets/images/btn_more.jpg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 20px 20px; } }
  @media (min-width: 768px) {
    .puc-news .section-content > nav .nav-tabs > li {
      min-width: 90px; }
    .puc-news .section-content > nav .more {
      width: 27px;
      height: 27px;
      background-size: 27px 27px; }
    .puc-news .section-content .tab-content > .tab-pane > .board-list > li > a {
      line-height: 32px; }
      .puc-news .section-content .tab-content > .tab-pane > .board-list > li > a span {
        font-size: 13px; } }

.banner {
  position: relative; }
  .banner .banner-slider {
    opacity: 0; }
    .banner .banner-slider.on {
      opacity: 1; }
    .banner .banner-slider li figure img {
      width: 100%; }
    .banner .banner-slider li figure figcaption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 5%; }
      .banner .banner-slider li figure figcaption .details {
        display: table;
        width: 100%;
        height: 100%; }
        .banner .banner-slider li figure figcaption .details > .align {
          display: table-cell;
          vertical-align: middle; }
          .banner .banner-slider li figure figcaption .details > .align h4 {
            font-size: 20px;
            color: #fff;
            font-weight: 500;
            line-height: 26px; }
          .banner .banner-slider li figure figcaption .details > .align .btn-area {
            margin-top: 10px; }
            .banner .banner-slider li figure figcaption .details > .align .btn-area .btn-white {
              width: 150px;
              font-size: 12px;
              color: #fff;
              line-height: 36px;
              text-align: center;
              border-radius: 30px;
              border: 1px solid #fff;
              -webkit-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.15s;
              transition-duration: 0.15s;
              -webkit-transition-timing-function: linear;
              transition-timing-function: linear;
              -webkit-transition-delay: 0s;
              transition-delay: 0s; }
              .banner .banner-slider li figure figcaption .details > .align .btn-area .btn-white:hover {
                color: #39bad5;
                background-color: #fff; }
  .banner .bx-controls {
    position: absolute;
    bottom: 15px;
    left: 50%;
    display: inline-block;
    margin-left: -36px;
    text-align: center; }
    .banner .bx-controls .bx-pager {
      display: inline-block;
      height: 10px;
      float: right; }
      .banner .bx-controls .bx-pager .bx-pager-item {
        display: inline-block; }
        .banner .bx-controls .bx-pager .bx-pager-item > a {
          width: 10px;
          height: 10px;
          display: block;
          text-indent: -999999px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          border: 1px solid #fff;
          border-radius: 50%;
          margin: 0 2px; }
          .banner .bx-controls .bx-pager .bx-pager-item > a.active {
            width: 30px;
            border-radius: 30px;
            background-color: #fff; }
    .banner .bx-controls .bx-controls-auto {
      float: right;
      display: inline-block;
      height: 10px; }
      .banner .bx-controls .bx-controls-auto .bx-controls-auto-item > a {
        display: block;
        position: relative;
        z-index: 1;
        font-size: 0;
        margin-left: 3px; }
        .banner .bx-controls .bx-controls-auto .bx-controls-auto-item > a:after {
          font-family: "fontello";
          font-size: 10px;
          color: #fff;
          line-height: 12px; }
        .banner .bx-controls .bx-controls-auto .bx-controls-auto-item > a.bx-start:after {
          content: "\E800"; }
        .banner .bx-controls .bx-controls-auto .bx-controls-auto-item > a.bx-stop:after {
          content: "\E801"; }
  @media (min-width: 768px) {
    .banner .banner-slider li figure figcaption .details > .align h4 {
      font-size: 30px;
      line-height: 36px; }
    .banner .banner-slider li figure figcaption .details > .align .btn-area {
      margin-top: 20px; }
      .banner .banner-slider li figure figcaption .details > .align .btn-area .btn-white {
        font-size: 13px;
        width: 180px;
        line-height: 42px; }
    .banner .bx-controls {
      bottom: 30px;
      margin-left: -53px; }
      .banner .bx-controls .bx-pager {
        height: 16px; }
        .banner .bx-controls .bx-pager .bx-pager-item > a {
          width: 16px;
          height: 16px;
          margin: 0 4px; }
      .banner .bx-controls .bx-controls-auto {
        height: 16px; }
        .banner .bx-controls .bx-controls-auto .bx-controls-auto-item > a {
          margin-left: 4px; }
          .banner .bx-controls .bx-controls-auto .bx-controls-auto-item > a:after {
            font-family: "fontello";
            font-size: 16px;
            color: #fff;
            line-height: 16px; } }

.community {
  overflow: hidden;
  width: 100%; }
  .community > a {
    float: left;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover; }
    .community > a h3 {
      font-size: 18px;
      /*font-size: 22px;*/
      color: inherit;
      padding-top: 10%;
      padding-left: 5%; }
    .community > a p {
      font-size: 12px;
      line-height: 18px;
      margin-top: 10px;
      padding-left: 5%;
      color: inherit;
      letter-spacing: -.5px; }
    .community > a.communication {
      color: #fff;
      background-image: url(/assets/images/main/bg_communication.jpg);
      background-position: 100% 100%; }
    .community > a.satisfaction-research {
      color: #333;
      background-image: url(/assets/images/main/bg_research.jpg);
      background-position: 0 100%; }
  @media (min-width: 768px) {
    .community > a h3 {
      padding-top: 15%;
      font-size: 22px; }
    .community > a p {
      font-size: 15px;
      line-height: 20px;
      margin-top: 15px;
      letter-spacing: 0; } }

/*# sourceMappingURL=main.css.map */
