@import 'common';

#gnb {
    @media(min-width: $lg) {
        max-height: 992px;
    }
}

.main-slider {
    position: relative;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    opacity: 0;
    ul {
        li {
            height: 320px;
            background-repeat: no-repeat;
            background-position: 90% 100%;
            background-size: cover;
            &.first {
                background-image: url(/assets/images/main/bg_visual_xs.jpg);
            }
            &.second {
                background-image: url(/assets/images/main/bg_visual_xs.jpg);
            }
            &.third {
                background-image: url(/assets/images/main/bg_visual_xs.jpg);
            }
            .slogan {
                padding: 40px 15px;
                > small {
                    position: relative;
                    top: -20px;
                    font-size: 12px;
                    font-weight: 300;
                    color: #fff;
                    letter-spacing: 1px;
                    opacity: 0;
                    @include transition($duration: .6s);
                    span {
                        &:nth-of-type(1) {
                            @include transition($duration: .6s, $delay: 1.4s);
                        }
                        &:nth-of-type(2) {
                            @include transition($duration: .6s, $delay: 1.8s);
                        }
                        &:nth-of-type(3) {
                            @include transition($duration: .6s, $delay: 2.2s);
                        }
                    }
                }
                > h3 {
                    position: relative;
                    top: -20px;
                    color: #fff;
                    font-size: 30px;
                    font-weight: lighter;
                    line-height: 38px;
                    margin-top: 10px;
                    opacity: 0;
                    @include transition($duration: .6s, $delay: .4s);
                    > strong {
                        display: block;
                        font-weight: 400;
                    }
                }
                p {
                    position: relative;
                    top: -20px;
                    font-size: 16px;
                    line-height: 22px;
                    color: #fff;
                    font-weight: lighter;
                    margin-top: 10px;
                    opacity: 0;
                    @include transition($duration: .6s, $delay: .8s);
                }
            }
            &.active {
                .slogan {
                    > small {
                        top: 0;
                        opacity: 1;
                        span {
                            color: #fffc00;
                        }
                    }
                    > h3 {
                        top: 0;
                        opacity: 1;
                    }
                }
            }
        }
    }
    &.action {
        opacity: 1;
    }
    .bx-controls {
        position: absolute;
        bottom: 15px;
        left: 50%;
        display: inline-block;
        margin-left: -36px;
        text-align: center;
        .bx-pager {
            display: inline-block;
            height: 10px;
            float: right;
            .bx-pager-item {
                display: inline-block;
                > a {
                    width: 10px;
                    height: 10px;
                    display: block;
                    text-indent: -999999px;
                    @include transition();
                    border: 1px solid #fff;
                    border-radius: 50%;
                    margin: 0 2px;
                    &.active {
                        width: 30px;
                        border-radius: 30px;
                        background-color: #fff;
                    }
                }
            }
        }
        .bx-controls-auto {
            float: right;
            display: inline-block;
            height: 10px;
            .bx-controls-auto-item {
                > a {
                    display: block;
                    position: relative;
                    z-index: 1;
                    font-size: 0;
                    margin-left: 3px;
                    &:after {
                        font-family: "fontello";
                        font-size: 10px;
                        color: #fff;
                        line-height: 12px;
                    }
                    &.bx-start {
                        &:after {
                            content: "\E800";
                        }
                    }
                    &.bx-stop {
                        &:after {
                            content: "\E801";
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        ul {
            li {
                .slogan {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }
    @media(min-width: $lg) {
        .bx-wrapper, .bx-viewport {
            height: 100.1% !important;
        }
        ul {
            height: 100% !important;
            li {
                height: 100% !important;
                &.first {
                    background-image: url(/assets/images/main/bg_visual_xl.jpg);
                }
                &.second {
                    background-image: url(/assets/images/main/bg_visual_xl.jpg);
                }
                &.third {
                    background-image: url(/assets/images/main/bg_visual_xl.jpg);
                }
                .slogan {
                    padding: 180px 50px 0;
                    small {
                        font-size: 14px;
                    }
                    h3 {
                        font-size: 48px;
                        line-height: 59px;
                        margin-top: 20px;
                    }
                    p {
                        font-size: 18px;
                        line-height: 28px;
                        margin-top: 30px;
                    }
                }
                &.active {
                    .slogan {
                        p {
                            top: 0;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .bx-controls {
            bottom: 45px;
        }
    }
}

.puc-news {
    padding: 30px 15px;
    background-color: #fff;
    > h3 {
        font-size: 22px;
        color: #333;
        font-weight: 500;
        > .more {
            position: relative;
            top: -3px;
            margin-left: 5px;
            display: inline-block;
        }
    }
    .article-content {
        margin-top: 20px;
        > .board-tab {
            border-bottom: 1px solid #e5e5e5;
            .nav-tabs {
                font-size: 0;
                border: 0;
                > li {
                    display: inline-block;
                    text-align: center;
                    a {
                        position: relative;
                        font-size: 16px;
                        color: #333;
                        border: 0;
                        letter-spacing: -.5px;
                        padding: 0 7px 10px;
                        @include transition();
                        &:before {
                            position: absolute;
                            bottom: -1px;
                            left: 50%;
                            width: 0;
                            display: block;
                            content: "";
                            z-index: 1;
                            @include transition();
                        }
                        &:after {
                            position: absolute;
                            top: 4px;
                            right: -1px;
                            display: inline-block;
                            font-size: 10px;
                            color: #666 !important;
                            content: '|';
                            z-index: 1;
                        }
                        &.active {
                            color: #3976cf;
                            &:before {
                                width: 100%;
                                height: 2px;
                                margin-left: -50%;
                                background-color: #3976cf;
                            }
                        }
                    }
                    &:last-child {
                        a {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .tab-content {
            margin-top: 15px;
            > .tab-pane {
                > .board-list {
                    > li {
                        > a {
                            position: relative;
                            display: block;
                            font-size: 14px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding-right: 75px;
                            line-height: 29px;
                            span {
                                position: absolute;
                                top: 0;
                                right: 0;
                                font-size: 14px;
                                color: #adadad;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        padding-left: 30px;
        padding-right: 30px;
        .article-content {
            > .board-tab {
                .nav-tabs {
                    > li {
                        a {
                            letter-spacing: 0px;
                            padding: 0 15px 10px;
                        }
                        &:last-child {
                            a {
                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        padding: 30px;
        h3 {
            font-size: 24px;
            > .more {
                @include transition();
                &:hover {
                    opacity: .7;
                }
            }
        }
        .article-content {
            > .board-tab {
                .nav-tabs {
                    > li {
                        > a {
                            &:hover {
                                color: $kcolor;
                                opacity: .7;
                            }
                            &.active {
                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.banner-slider {
    position: relative;
    opacity: 0;
    ul {
        li {
            height: 220px;
            background-repeat: no-repeat;
            background-position: 70% 50%;
            background-size: cover;
            > .details {
                display: table;
                width: 100%;
                height: 100%;
                padding: 0 15px;
                > div {
                    display: table-cell;
                    vertical-align: middle;
                    color: #fff;
                    > p {
                        display: block;
                        font-size: 24px;
                        color: #fff;
                        line-height: 30px;
                        font-weight: 400;
                    }
                    > .btn-white {
                        display: block;
                        width: 180px;
                        font-size: 14px;
                        color: #fff;
                        font-weight: 400;
                        line-height: 38px;
                        text-align: center;
                        border: 1px solid #fff;
                        margin-top: 20px;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
    .bx-controls {
        position: absolute;
        bottom: 15px;
        left: 50%;
        display: inline-block;
        margin-left: -36px;
        text-align: center;
        .bx-pager {
            display: inline-block;
            height: 10px;
            float: right;
            .bx-pager-item {
                display: inline-block;
                > a {
                    width: 10px;
                    height: 10px;
                    display: block;
                    text-indent: -999999px;
                    @include transition();
                    border: 1px solid #fff;
                    border-radius: 50%;
                    margin: 0 2px;
                    &.active {
                        width: 30px;
                        border-radius: 30px;
                        background-color: #fff;
                    }
                }
            }
        }
        .bx-controls-auto {
            float: right;
            display: inline-block;
            height: 10px;
            > .bx-controls-auto-item {
                > a {
                    display: block;
                    position: relative;
                    z-index: 1;
                    font-size: 0;
                    margin-left: 3px;
                    &:after {
                        font-family: "fontello";
                        font-size: 10px;
                        color: #fff;
                        line-height: 12px;
                    }
                    &.bx-start {
                        &:after {
                            content: "\E800";
                        }
                    }
                    &.bx-stop {
                        &:after {
                            content: "\E801";
                        }
                    }
                }
            }
        }
    }
    &.action {
        opacity: 1;
    }
    @media(min-width: $sm) {
        ul {
            li {
                .details {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }
    @media(min-width: $lg) {
        ul {
            li {
                .details {
                    > div {
                        > p {
                            font-size: 28px;
                            line-height: 33px;
                        }
                        .btn-white {
                            @include transition();
                            &:hover {
                                color: $kcolor;
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.community {
    > a {
        padding: 20px 15px;
        height: 220px;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 100%;
        &.communication {
            color: #fff;
            background-image: url(/assets/images/main/bg_communication.jpg);
        }
        &.satisfaction-research {
            color: #333;
            background-image: url(/assets/images/main/bg_research.jpg);
        }
        > h3 {
            font-size: 20px;
            font-weight: 400;
        }
        > p {
            font-size: 14px;
            margin-top: 5px;
            font-weight: 300;
        }
    }
    @media(min-width: $sm) {
        overflow: hidden;
        > a {
            float: left;
            width: 50%;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    @media(min-width: $lg) {
        > a {
            padding: 30px;
            > h3 {
                font-size: 24px;
                letter-spacing: -1.5px;
            }
            > p {
                font-size: 16px;
                line-height: 21px;
                margin-top: 10px;
            }
        }
    }
    @media(min-width: 1400px) {
        > a {
            > h3 {
                letter-spacing: 0;
            }
        }
    }
}

.news {
    padding: 30px 15px;
    background-image: url(/assets/images/main/bg_news.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    > h3 {
        font-size: 22px;
        color: #fff;
        font-weight: 500;
        > .more {
            position: relative;
            top: -3px;
            margin-left: 5px;
            display: inline-block;
        }
    }
    .article-content {
        margin-top: 20px;
        > a {
            > div {
                &.item {
                    img {
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                    }
                }
                &.details {
                    margin-top: 20px;
                    color: #fff;
                    h4 {
                        font-size: 20px;
                        line-height: 25px;
                        font-weight: 400;
                    }
                    p {
                        display: block;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 21px;
                        margin-top: 15px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    span {
                        font-size: 14px;
                        color: #ebebeb;
                        display: block;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        height: 250px;
        padding-left: 30px;
        padding-right: 30px;
        .article-content {
            margin-top: 20px;
            > a {
                display: table;
                width: 100%;
                height: 100%;
                table-layout: fixed;
                > div {
                    display: table-cell;
                    vertical-align: middle;
                    &.item {
                        width: 190px;
                    }
                    &.details {
                        margin-top: 0;
                        padding-left: 20px;
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        padding: 30px;
        h3 {
            font-size: 24px;
            > .more {
                @include transition();
                &:hover {
                    opacity: .7;
                }
            }
        }
        .article-content {
            > a {
                > div {
                    &.item {
                        overflow: hidden;
                        height: 135px;
                        img {
                            @include transition($duration: .3s);
                        }
                    }
                }
                &:hover {
                    > div {
                        &.item {
                            img {
                                transform: scale(1.1);
                                -webkit-transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}

#content {
    @media(min-width: $lg) {
        overflow: hidden;
        width: 100%;
        max-width: 1160px;
        > section {
            float: left;
            &.main-slider {
                height: 992px;
                width: 55%;
                max-width: 620px;
            }
            &.content-wrap {
                width: 45%;
                max-width: 540px;
            }
        }
    }
}