@import url(/assets/css/font/notosanskr.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dd {
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button {
  outline: none !important; }
  button:hover, button:focus {
    box-shadow: none !important; }

.form-group {
  margin-bottom: 0; }

input, .form-control {
  margin-bottom: 0;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0; }

a {
  color: #666;
  outline: none !important; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none !important; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

@media (min-width: 1200px) {
  html #content, body #content {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 280px;
    height: 100%; }
    html #content .jumbotron, body #content .jumbotron {
      float: left;
      width: 53%; }
    html #content .puc-content, body #content .puc-content {
      float: left;
      width: 47%;
      height: 100%; }
      html #content .puc-content .puc-news, body #content .puc-content .puc-news {
        height: 28%; }
      html #content .puc-content .banner, body #content .puc-content .banner {
        height: 28%; }
      html #content .puc-content .community, body #content .puc-content .community {
        height: 22%; }
      html #content .puc-content .news, body #content .puc-content .news {
        height: 22%; } }

.jumbotron {
  position: relative;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  box-shadow: none;
  background: none;
  opacity: 0; }
  .jumbotron.on {
    opacity: 1; }
  .jumbotron .main-slider li {
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: cover; }
    .jumbotron .main-slider li.first {
      background-image: url(/assets/images/main/bg_slider01.jpg); }
    .jumbotron .main-slider li.second {
      background-image: url(/assets/images/main/bg_slider01.jpg); }
    .jumbotron .main-slider li.third {
      background-image: url(/assets/images/main/bg_slider01.jpg); }
    .jumbotron .main-slider li .details {
      display: block;
      padding: 10% 20px 20%; }
      .jumbotron .main-slider li .details p {
        font-size: 25px;
        line-height: 30px;
        color: #568080;
        font-weight: 300; }
        .jumbotron .main-slider li .details p b {
          font-weight: 500; }
      .jumbotron .main-slider li .details small {
        display: block;
        margin-top: 10px;
        font-size: 12px;
        line-height: 18px;
        color: #485c5c;
        font-weight: 400;
        letter-spacing: -.5px; }
  .jumbotron .bx-controls {
    position: absolute;
    bottom: 15px;
    left: 50%;
    display: inline-block;
    margin-left: -36px;
    text-align: center; }
    .jumbotron .bx-controls .bx-pager {
      display: inline-block;
      height: 10px;
      float: right; }
      .jumbotron .bx-controls .bx-pager .bx-pager-item {
        display: inline-block; }
        .jumbotron .bx-controls .bx-pager .bx-pager-item > a {
          width: 10px;
          height: 10px;
          display: block;
          text-indent: -999999px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          border: 1px solid #fff;
          border-radius: 50%;
          margin: 0 2px; }
          .jumbotron .bx-controls .bx-pager .bx-pager-item > a.active {
            width: 30px;
            border-radius: 30px;
            background-color: #fff; }
    .jumbotron .bx-controls .bx-controls-auto {
      float: right;
      display: inline-block;
      height: 10px; }
      .jumbotron .bx-controls .bx-controls-auto .bx-controls-auto-item > a {
        display: block;
        position: relative;
        z-index: 1;
        font-size: 0;
        margin-left: 3px; }
        .jumbotron .bx-controls .bx-controls-auto .bx-controls-auto-item > a:after {
          font-family: "fontello";
          font-size: 10px;
          color: #fff;
          line-height: 12px; }
        .jumbotron .bx-controls .bx-controls-auto .bx-controls-auto-item > a.bx-start:after {
          content: "\E800"; }
        .jumbotron .bx-controls .bx-controls-auto .bx-controls-auto-item > a.bx-stop:after {
          content: "\E801"; }
  @media (min-width: 768px) {
    .jumbotron .main-slider li .details {
      padding: 15% 20px; }
      .jumbotron .main-slider li .details p {
        font-size: 36px;
        line-height: 42px; }
      .jumbotron .main-slider li .details small {
        display: block;
        margin-top: 10px;
        font-size: 15px;
        line-height: 22px; }
    .jumbotron .bx-controls {
      bottom: 30px;
      margin-left: -53px; }
      .jumbotron .bx-controls .bx-pager {
        height: 16px; }
        .jumbotron .bx-controls .bx-pager .bx-pager-item > a {
          width: 16px;
          height: 16px;
          margin: 0 4px; }
          .jumbotron .bx-controls .bx-pager .bx-pager-item > a.active {
            width: 40px; }
      .jumbotron .bx-controls .bx-controls-auto {
        height: 16px; }
        .jumbotron .bx-controls .bx-controls-auto .bx-controls-auto-item > a {
          margin-left: 4px; }
          .jumbotron .bx-controls .bx-controls-auto .bx-controls-auto-item > a:after {
            font-family: "fontello";
            font-size: 16px;
            color: #fff;
            line-height: 16px; } }
  @media (min-width: 1200px) {
    .jumbotron {
      height: 100%; }
      .jumbotron .bx-wrapper, .jumbotron .bx-viewport {
        height: 100% !important; }
        .jumbotron .bx-wrapper ul, .jumbotron .bx-viewport ul {
          height: 100%; }
          .jumbotron .bx-wrapper ul li, .jumbotron .bx-viewport ul li {
            height: 100%; }
            .jumbotron .bx-wrapper ul li.first, .jumbotron .bx-viewport ul li.first {
              background-image: url(/assets/images/main/bg_slider01_lg.jpg); }
            .jumbotron .bx-wrapper ul li.second, .jumbotron .bx-viewport ul li.second {
              background-image: url(/assets/images/main/bg_slider01_lg.jpg); }
            .jumbotron .bx-wrapper ul li.third, .jumbotron .bx-viewport ul li.third {
              background-image: url(/assets/images/main/bg_slider01_lg.jpg); }
            .jumbotron .bx-wrapper ul li .details, .jumbotron .bx-viewport ul li .details {
              padding: 20% 0 0 40px; }
              .jumbotron .bx-wrapper ul li .details p, .jumbotron .bx-viewport ul li .details p {
                font-size: 68px;
                line-height: 76px; }
              .jumbotron .bx-wrapper ul li .details small, .jumbotron .bx-viewport ul li .details small {
                font-size: 22px;
                line-height: 33px;
                margin-top: 20px; } }
  @media (min-width: 1400px) {
    .jumbotron .bx-wrapper ul li .details, .jumbotron .bx-viewport ul li .details {
      padding-top: 18%; } }

.puc-news {
  padding: 0 20px; }
  .puc-news .section-header {
    padding: 30px 0 20px; }
    .puc-news .section-header > h3 {
      font-size: 20px;
      color: #333;
      font-weight: 500;
      margin-bottom: 10px;
      letter-spacing: -.5px; }
    .puc-news .section-header > p {
      font-size: 14px;
      color: #333;
      font-weight: 400;
      letter-spacing: -.5px; }
  .puc-news .section-content > nav {
    position: relative;
    border-bottom: 1px solid #ececec; }
    .puc-news .section-content > nav .nav-tabs {
      font-size: 0; }
      .puc-news .section-content > nav .nav-tabs > li {
        display: inline-block;
        min-width: 70px;
        text-align: center;
        margin-bottom: 0 !important; }
        .puc-news .section-content > nav .nav-tabs > li > a {
          font-size: 14px;
          position: relative;
          padding: 0;
          border: 0;
          border-radius: 0;
          padding-bottom: 10px; }
          .puc-news .section-content > nav .nav-tabs > li > a:after {
            position: absolute;
            bottom: -1px;
            left: 50%;
            width: 0;
            display: block;
            content: "";
            z-index: 1;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
          .puc-news .section-content > nav .nav-tabs > li > a.active {
            color: #3976cf; }
            .puc-news .section-content > nav .nav-tabs > li > a.active:after {
              width: 100%;
              height: 2px;
              margin-left: -50%;
              background-color: #3976cf; }
    .puc-news .section-content > nav .more {
      display: none; }
  .puc-news .section-content .tab-content {
    padding: 20px 0 40px; }
    .puc-news .section-content .tab-content > .tab-pane > .board-list > li > a {
      display: block;
      position: relative;
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 75px;
      line-height: 26px; }
      .puc-news .section-content .tab-content > .tab-pane > .board-list > li > a span {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        color: #adadad;
        display: block; }
  @media (min-width: 400px) {
    .puc-news .section-content > nav .more {
      position: absolute;
      top: 4px;
      right: 0;
      display: block;
      width: 16px;
      height: 16px;
      background-image: url(/assets/images/btn_more_black.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 16px auto; } }
  @media (min-width: 768px) {
    .puc-news .section-header {
      padding: 40px 0 30px; }
      .puc-news .section-header h3 {
        font-size: 25px; }
      .puc-news .section-header p {
        font-size: 16px; }
    .puc-news .section-content > nav .nav-tabs > li {
      min-width: 85px; }
      .puc-news .section-content > nav .nav-tabs > li a {
        font-size: 18px;
        padding-bottom: 15px; }
    .puc-news .section-content > nav .more {
      width: 20px;
      height: 20px;
      background-size: 20px auto; }
    .puc-news .section-content .tab-content > .tab-pane > .board-list > li > a {
      font-size: 15px;
      line-height: 32px; }
      .puc-news .section-content .tab-content > .tab-pane > .board-list > li > a span {
        font-size: 13px; } }
  @media (min-width: 1200px) {
    .puc-news {
      padding: 0 30px; }
      .puc-news .section-header {
        padding: 30px 0 20px; }
        .puc-news .section-header p {
          letter-spacing: -1.2px; }
      .puc-news .section-content .tab-content {
        padding-bottom: 0; } }

.banner {
  position: relative; }
  .banner .banner-slider {
    opacity: 0; }
    .banner .banner-slider.on {
      opacity: 1; }
    .banner .banner-slider li {
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-size: cover; }
      .banner .banner-slider li.first {
        background-image: url(/assets/images/main/bg_banner01.jpg); }
      .banner .banner-slider li.second {
        background-image: url(/assets/images/main/bg_banner01.jpg); }
      .banner .banner-slider li.third {
        background-image: url(/assets/images/main/bg_banner01.jpg); }
      .banner .banner-slider li .details {
        padding: 15% 20px; }
        .banner .banner-slider li .details h4 {
          font-size: 18px;
          color: #fff;
          font-weight: 500;
          line-height: 24px; }
        .banner .banner-slider li .details .btn-area {
          margin-top: 10px; }
          .banner .banner-slider li .details .btn-area .btn-white {
            width: 150px;
            font-size: 12px;
            color: #fff;
            line-height: 36px;
            text-align: center;
            border-radius: 30px;
            border: 1px solid #fff;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
            -webkit-transition-delay: 0s;
            transition-delay: 0s; }
            .banner .banner-slider li .details .btn-area .btn-white:hover {
              color: #39bad5;
              background-color: #fff; }
  .banner .bx-controls {
    position: absolute;
    bottom: 15px;
    left: 50%;
    display: inline-block;
    margin-left: -36px;
    text-align: center; }
    .banner .bx-controls .bx-pager {
      display: inline-block;
      height: 10px;
      float: right; }
      .banner .bx-controls .bx-pager .bx-pager-item {
        display: inline-block; }
        .banner .bx-controls .bx-pager .bx-pager-item > a {
          width: 10px;
          height: 10px;
          display: block;
          text-indent: -999999px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          border: 1px solid #fff;
          border-radius: 50%;
          margin: 0 2px; }
          .banner .bx-controls .bx-pager .bx-pager-item > a.active {
            width: 30px;
            border-radius: 30px;
            background-color: #fff; }
    .banner .bx-controls .bx-controls-auto {
      float: right;
      display: inline-block;
      height: 10px; }
      .banner .bx-controls .bx-controls-auto .bx-controls-auto-item > a {
        display: block;
        position: relative;
        z-index: 1;
        font-size: 0;
        margin-left: 3px; }
        .banner .bx-controls .bx-controls-auto .bx-controls-auto-item > a:after {
          font-family: "fontello";
          font-size: 10px;
          color: #fff;
          line-height: 12px; }
        .banner .bx-controls .bx-controls-auto .bx-controls-auto-item > a.bx-start:after {
          content: "\E800"; }
        .banner .bx-controls .bx-controls-auto .bx-controls-auto-item > a.bx-stop:after {
          content: "\E801"; }
  @media (min-width: 768px) {
    .banner .banner-slider li .details h4 {
      font-size: 30px;
      line-height: 36px; }
    .banner .banner-slider li .details .btn-area {
      margin-top: 20px; }
      .banner .banner-slider li .details .btn-area .btn-white {
        width: 180px;
        font-size: 14px;
        line-height: 44px; }
    .banner .bx-controls {
      bottom: 30px;
      margin-left: -53px; }
      .banner .bx-controls .bx-pager {
        height: 16px; }
        .banner .bx-controls .bx-pager .bx-pager-item > a {
          width: 16px;
          height: 16px;
          margin: 0 4px; }
          .banner .bx-controls .bx-pager .bx-pager-item > a.active {
            width: 40px; }
      .banner .bx-controls .bx-controls-auto {
        height: 16px; }
        .banner .bx-controls .bx-controls-auto .bx-controls-auto-item > a {
          margin-left: 4px; }
          .banner .bx-controls .bx-controls-auto .bx-controls-auto-item > a:after {
            font-family: "fontello";
            font-size: 16px;
            color: #fff;
            line-height: 16px; } }
  @media (min-width: 1200px) {
    .banner .bx-wrapper, .banner .bx-viewport {
      height: 100% !important; }
    .banner .banner-slider {
      height: 100%; }
      .banner .banner-slider li {
        height: 100%; }
        .banner .banner-slider li .details {
          padding: 70px 30px 0; } }

.community {
  overflow: hidden;
  width: 100%; }
  .community > a {
    position: relative;
    float: left;
    width: 50%;
    min-height: 200px;
    padding: 5% 0 0 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%; }
    .community > a h3 {
      font-size: 18px;
      color: inherit; }
    .community > a p {
      font-size: 12px;
      line-height: 18px;
      margin-top: 10px;
      color: inherit; }
    .community > a.communication {
      color: #fff;
      background-image: url(/assets/images/main/img_communication.jpg); }
    .community > a.satisfaction-research {
      color: #333;
      background-image: url(/assets/images/main/img_research.jpg); }
  @media (min-width: 768px) {
    .community > a {
      min-height: 270px; }
      .community > a h3 {
        font-size: 22px; }
      .community > a p {
        font-size: 15px;
        line-height: 20px;
        margin-top: 15px;
        letter-spacing: 0; } }
  @media (min-width: 1200px) {
    .community > a {
      min-height: 100%;
      padding: 55px 0 0 30px; } }

.news {
  padding: 40px 20px;
  background-image: url(/assets/images/main/bg_news.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0; }
  .news .section-header {
    position: relative; }
    .news .section-header h3 {
      font-size: 20px;
      color: #fff; }
    .news .section-header > .more {
      position: absolute;
      top: 2px;
      right: 0;
      display: block;
      width: 20px;
      height: 20px;
      background-image: url(/assets/images/btn_more_white.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 20px 20px; }
  .news .section-content {
    margin-top: 15px; }
    .news .section-content > a {
      display: block; }
      .news .section-content > a figure img {
        width: 100%; }
      .news .section-content > a .details {
        margin-top: 15px; }
        .news .section-content > a .details h4 {
          font-size: 16px;
          color: #fff;
          font-weight: 500;
          line-height: 24px; }
        .news .section-content > a .details p {
          display: block;
          font-size: 13px;
          color: #fff;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-top: 10px; }
        .news .section-content > a .details .date {
          display: block;
          font-size: 12px;
          color: #abd5ff;
          margin-top: 10px; }
  @media (min-width: 768px) {
    .news .section-header h3 {
      font-size: 22px; }
    .news .section-content > a {
      display: table;
      width: 100%;
      table-layout: fixed; }
      .news .section-content > a figure {
        display: table-cell;
        /*width: 30%;*/
        width: 239px; }
      .news .section-content > a .details {
        display: table-cell;
        vertical-align: middle;
        padding-left: 30px; }
        .news .section-content > a .details h4 {
          font-size: 18px; }
        .news .section-content > a .details p {
          font-size: 15px; }
        .news .section-content > a .details .date {
          font-size: 15px; } }
  @media (min-width: 1200px) {
    .news {
      padding: 30px 30px 0; } }

/*# sourceMappingURL=main.css.map */
