@import url(/assets/css/font/noto-sans-korean.css);
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

dl {
  margin-bottom: 0; }
  dl dt {
    font-weight: 400; }
  dl dd {
    font-weight: 300;
    margin-bottom: 0; }

address {
  margin-bottom: 0; }

figure {
  margin: 0; }

button {
  outline: none !important; }
  button:hover, button:focus {
    box-shadow: none !important; }

.form-group {
  margin-bottom: 0; }

label {
  font-weight: 400;
  margin: 0; }

input, .form-control {
  margin-bottom: 0;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0; }

input[type="file"] {
  padding-top: 5px !important; }

a {
  color: #666;
  outline: none !important; }
  a:hover, a:focus {
    color: #444;
    box-shadow: none;
    text-decoration: none; }

.table {
  margin: 0; }

.btn {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none !important; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      float: left;
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 992px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.common-list .search-form {
  margin-top: 45px; }
.common-list .table-wrap {
  margin-top: 30px; }
.common-list .paging {
  margin-top: 30px; }
@media (min-width: 992px) {
  .common-list .search-form {
    margin-top: 60px; }
  .common-list .table-wrap {
    margin-top: 40px; } }

.parcelout-list .table-wrap .list-type1 thead tr th {
  display: none; }
  .parcelout-list .table-wrap .list-type1 thead tr th.subject {
    width: 68%;
    display: table-cell; }
  .parcelout-list .table-wrap .list-type1 thead tr th.state {
    width: 32%;
    display: table-cell; }
.parcelout-list .table-wrap .list-type1 tbody tr td {
  display: none; }
  .parcelout-list .table-wrap .list-type1 tbody tr td.subject {
    display: table-cell; }
  .parcelout-list .table-wrap .list-type1 tbody tr td.state {
    display: table-cell; }
    .parcelout-list .table-wrap .list-type1 tbody tr td.state span {
      display: block;
      width: 80px;
      line-height: 32px;
      color: #fff;
      margin: 0 auto; }
      .parcelout-list .table-wrap .list-type1 tbody tr td.state span.ongoing {
        background-color: #016ecd; }
      .parcelout-list .table-wrap .list-type1 tbody tr td.state span.end {
        background-color: #6f6f6f; }
@media (min-width: 768px) {
  .parcelout-list .table-wrap .list-type1 thead tr th {
    display: table-cell; }
    .parcelout-list .table-wrap .list-type1 thead tr th:nth-of-type(1) {
      width: 10%; }
    .parcelout-list .table-wrap .list-type1 thead tr th:nth-of-type(3) {
      width: 15%; }
    .parcelout-list .table-wrap .list-type1 thead tr th:nth-of-type(4) {
      width: 15%; }
    .parcelout-list .table-wrap .list-type1 thead tr th.subject {
      width: 45%; }
    .parcelout-list .table-wrap .list-type1 thead tr th.state {
      width: 15%; }
    .parcelout-list .table-wrap .list-type1 thead tr th:nth-of-type(6) {
      display: none; }
  .parcelout-list .table-wrap .list-type1 tbody tr td {
    display: table-cell; }
    .parcelout-list .table-wrap .list-type1 tbody tr td:nth-of-type(6) {
      display: none; } }
@media (min-width: 992px) {
  .parcelout-list .table-wrap .list-type1 thead tr th {
    display: table-cell; }
    .parcelout-list .table-wrap .list-type1 thead tr th:nth-of-type(1) {
      width: 8%; }
    .parcelout-list .table-wrap .list-type1 thead tr th:nth-of-type(3) {
      width: 15%; }
    .parcelout-list .table-wrap .list-type1 thead tr th:nth-of-type(4) {
      width: 15%; }
    .parcelout-list .table-wrap .list-type1 thead tr th.subject {
      width: 37%; }
    .parcelout-list .table-wrap .list-type1 thead tr th.state {
      width: 15%; }
    .parcelout-list .table-wrap .list-type1 thead tr th:nth-of-type(6) {
      width: 10%;
      display: table-cell; }
  .parcelout-list .table-wrap .list-type1 tbody tr td:nth-of-type(6) {
    display: table-cell; } }

.examination-list .table-wrap .list-type1 thead tr th {
  text-align: center;
  display: none; }
  .examination-list .table-wrap .list-type1 thead tr th.num {
    display: table-cell;
    width: 70px; }
  .examination-list .table-wrap .list-type1 thead tr th.subject {
    display: table-cell; }
.examination-list .table-wrap .list-type1 tbody tr td {
  text-align: center;
  display: none;
  line-height: 30px; }
  .examination-list .table-wrap .list-type1 tbody tr td.num {
    display: table-cell; }
    .examination-list .table-wrap .list-type1 tbody tr td.num.notice > i {
      width: 30px;
      height: 30px;
      line-height: 28px;
      text-align: center;
      display: block;
      color: #fff;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #016ecd; }
  .examination-list .table-wrap .list-type1 tbody tr td.subject {
    display: table-cell; }
@media (min-width: 768px) {
  .examination-list .table-wrap .list-type1 thead tr th {
    display: table-cell; }
    .examination-list .table-wrap .list-type1 thead tr th.num {
      width: 90px; }
    .examination-list .table-wrap .list-type1 thead tr th.subject {
      width: 45%; }
  .examination-list .table-wrap .list-type1 tbody tr td {
    display: table-cell; } }
@media (min-width: 992px) {
  .examination-list .table-wrap .list-type1 thead tr th {
    display: table-cell; }
    .examination-list .table-wrap .list-type1 thead tr th.num {
      width: 10%; }
    .examination-list .table-wrap .list-type1 thead tr th.subject {
      width: 50%; }
    .examination-list .table-wrap .list-type1 thead tr th:nth-of-type(3) {
      width: 15%; }
    .examination-list .table-wrap .list-type1 thead tr th:nth-of-type(4) {
      width: 15%; }
    .examination-list .table-wrap .list-type1 thead tr th:nth-of-type(5) {
      width: 10%; } }

.ownership article ~ article {
  margin-top: 40px; }
  @media (min-width: 992px) {
    .ownership article ~ article {
      margin-top: 60px; } }
.ownership article.required-documents .table-responsive thead tr th:last-child {
  border-right: 0; }
.ownership article.required-documents .table-responsive tbody tr td:first-child {
  text-align: left; }
.ownership article.required-documents .table-responsive tbody tr td:last-child {
  border-right: 0; }
.ownership article.required-documents .table-responsive tbody tr:nth-of-type(2) td {
  background-color: #fbfbfb; }
.ownership article.purchase > dl {
  overflow: hidden; }
  .ownership article.purchase > dl > dt {
    display: inline-block;
    float: left;
    clear: both;
    font-size: 14px;
    color: #333;
    float: left;
    margin-bottom: 10px; }
    .ownership article.purchase > dl > dt:after {
      content: "=";
      margin: 0 5px; }
  .ownership article.purchase > dl > dd {
    float: left;
    display: inline;
    float: left;
    font-size: 14px;
    color: #666;
    font-weight: 300;
    margin-bottom: 10px; }
  @media (min-width: 1200px) {
    .ownership article.purchase > dl dt {
      font-size: 16px; }
    .ownership article.purchase > dl dd {
      font-size: 16px; } }
.ownership article.purchase > .attention {
  font-size: 14px;
  color: #666;
  line-height: 22px;
  font-weight: 300; }
  @media (min-width: 1200px) {
    .ownership article.purchase > .attention {
      font-size: 16px; } }
.ownership article.purchase > strong {
  font-size: 16px;
  display: block;
  color: #016ecd;
  margin-top: 30px; }
.ownership article.purchase .table-responsive {
  margin-top: 20px; }
  .ownership article.purchase .table-responsive .table thead tr th:last-child {
    border-right: 0; }
  .ownership article.purchase .table-responsive .table thead tr:nth-of-type(2) th {
    background-color: #fbfbfb; }
  .ownership article.purchase .table-responsive .table tbody tr td:last-child {
    border-right: 0; }

.taxguide article ~ article {
  margin-top: 40px; }
  @media (min-width: 992px) {
    .taxguide article ~ article {
      margin-top: 60px; } }
.taxguide article strong {
  display: block;
  color: #016ecd;
  font-size: 14px; }
  .taxguide article strong ~ strong {
    margin-top: 30px; }
  @media (min-width: 1200px) {
    .taxguide article strong {
      font-size: 16px; } }
.taxguide article > p {
  font-size: 14px;
  color: #666;
  font-weight: 300;
  line-height: 20px;
  margin-top: 10px; }
  @media (min-width: 1200px) {
    .taxguide article > p {
      font-size: 16px;
      line-height: 26px; } }
.taxguide article > ul {
  margin-top: 10px; }
  .taxguide article > ul > li ~ li {
    margin-top: 5px; }
  .taxguide article > ul > li > dl > dt {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400; }
    .taxguide article > ul > li > dl > dt:after {
      content: ': '; }
  .taxguide article > ul > li > dl > dd {
    display: inline;
    color: #666;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300; }
  @media (min-width: 992px) {
    .taxguide article > ul > li > dl dt {
      font-size: 16px;
      line-height: 26px; }
    .taxguide article > ul > li > dl dd {
      font-size: 16px;
      line-height: 26px; } }

@media (min-width: 768px) {
  .examination-view .view-head .information li {
    border-bottom: 0 !important; } }

.faqlist .search-form {
  margin-top: 45px; }
.faqlist .faq-list {
  margin-top: 30px; }
.faqlist .paging {
  margin-top: 30px; }
@media (min-width: 992px) {
  .faqlist .search-form {
    margin-top: 60px; }
  .faqlist .faq-list {
    margin-top: 40px; } }

.request-write .box .content > .btn-area {
  margin-top: 20px;
  text-align: center; }
  .request-write .box .content > .btn-area .btn-default {
    width: 180px;
    line-height: 38px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
    background-color: #f8b500;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .request-write .box .content > .btn-area .btn-default:hover {
      opacity: .7; }
@media (min-width: 768px) {
  .request-write .box .content {
    position: relative;
    padding-right: 220px; }
    .request-write .box .content .btn-area {
      position: absolute;
      top: 50%;
      right: 40px;
      line-height: 45px;
      margin-top: -23px; }
      .request-write .box .content .btn-area .btn-default {
        font-size: 16px; } }
.request-write .write-form .table-wrap {
  text-align: right;
  margin-top: 30px; }
  @media (min-width: 768px) {
    .request-write .write-form .table-wrap {
      margin-top: 40px; } }
  @media (min-width: 1200px) {
    .request-write .write-form .table-wrap {
      margin-top: 60px; } }
  .request-write .write-form .table-wrap > .indispensable {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px; }
    .request-write .write-form .table-wrap > .indispensable:before {
      content: '* ';
      color: #016ecd; }
    @media (min-width: 1200px) {
      .request-write .write-form .table-wrap > .indispensable {
        font-size: 16px; } }
  .request-write .write-form .table-wrap tbody tr td .form-group textarea {
    padding: 10px !important;
    width: 100% !important;
    height: 140px !important; }
  .request-write .write-form .table-wrap tbody tr td.lot-number .form-group span {
    vertical-align: top;
    display: inline-block;
    line-height: 40px; }
    .request-write .write-form .table-wrap tbody tr td.lot-number .form-group span:first-child {
      display: block;
      margin-right: 10px; }
    .request-write .write-form .table-wrap tbody tr td.lot-number .form-group span:last-child {
      margin-left: 10px; }
  .request-write .write-form .table-wrap tbody tr td.lot-number .form-group .form-control {
    width: 150px;
    display: inline-block; }
  .request-write .write-form .table-wrap tbody tr td.apply .form-group ~ .form-group {
    margin-top: 10px; }
  .request-write .write-form .table-wrap tbody tr td.apply .form-group label {
    margin-right: 10px; }
  .request-write .write-form .table-wrap tbody tr td.apply .form-group .form-control {
    width: 76%;
    display: inline-block; }
  .request-write .write-form .table-wrap tbody tr td.contact .form-group ~ .form-group {
    margin-top: 10px; }
  .request-write .write-form .table-wrap tbody tr td.contact .form-group label {
    margin-right: 10px; }
  .request-write .write-form .table-wrap tbody tr td.contact .form-group .form-control {
    display: inline-block;
    width: 22%;
    padding-left: 3px;
    padding-right: 3px; }
  @media (min-width: 768px) {
    .request-write .write-form .table-wrap tbody .form-group textarea {
      height: 200px !important; }
    .request-write .write-form .table-wrap tbody tr td.lot-number .form-group span:first-child {
      display: inline-block; }
    .request-write .write-form .table-wrap tbody tr td.lot-number .form-group .form-control {
      width: 300px; }
    .request-write .write-form .table-wrap tbody tr td.apply .form-group {
      display: inline-block; }
      .request-write .write-form .table-wrap tbody tr td.apply .form-group ~ .form-group {
        margin: 0;
        margin-left: 30px; }
      .request-write .write-form .table-wrap tbody tr td.apply .form-group .form-control {
        width: 215px; }
    .request-write .write-form .table-wrap tbody tr td.contact .form-group .form-control {
      width: 70px;
      padding: 0 10px; }
      .request-write .write-form .table-wrap tbody tr td.contact .form-group .form-control:nth-of-type(1) {
        margin-right: 5px; }
      .request-write .write-form .table-wrap tbody tr td.contact .form-group .form-control:nth-of-type(2) {
        margin: 0 5px; }
      .request-write .write-form .table-wrap tbody tr td.contact .form-group .form-control:nth-of-type(3) {
        margin-left: 5px; } }
  @media (min-width: 992px) {
    .request-write .write-form .table-wrap tbody tr td.apply .form-group .form-control {
      width: 200px; } }
  @media (min-width: 1200px) {
    .request-write .write-form .table-wrap tbody tr td.apply .form-group .form-control.addr {
      width: 310px; }
    .request-write .write-form .table-wrap tbody tr td.contact .form-group {
      display: inline-block; }
      .request-write .write-form .table-wrap tbody tr td.contact .form-group:last-child {
        margin-left: 30px; } }
  @media (min-width: 1400px) {
    .request-write .write-form .table-wrap tbody tr td.apply .form-group {
      position: relative;
      padding-left: 45px; }
      .request-write .write-form .table-wrap tbody tr td.apply .form-group:first-child {
        width: 30%; }
      .request-write .write-form .table-wrap tbody tr td.apply .form-group:last-child {
        width: 60%; }
      .request-write .write-form .table-wrap tbody tr td.apply .form-group .form-control {
        width: 100% !important; }
      .request-write .write-form .table-wrap tbody tr td.apply .form-group label {
        position: absolute;
        top: 0;
        left: 0; } }
.request-write .write-form .btn-area {
  text-align: center;
  margin-top: 30px; }
  .request-write .write-form .btn-area .btn-submit {
    width: 150px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #016ecd;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .request-write .write-form .btn-area .btn-submit:hover {
      opacity: .7; }
  @media (min-width: 768px) {
    .request-write .write-form .btn-area {
      margin-top: 45px; }
      .request-write .write-form .btn-area .btn-submit {
        font-size: 16px;
        width: 180px;
        line-height: 45px; } }

.compensation .section-content figure {
  margin-top: 30px; }
  .compensation .section-content figure img {
    width: 100%; }
  @media (min-width: 992px) {
    .compensation .section-content figure {
      margin-top: 60px; } }

#modal-popup {
  padding-right: 0 !important; }
  #modal-popup .modal-dialog {
    margin-top: 150px;
    margin-bottom: 150px; }
    #modal-popup .modal-dialog .modal-content {
      border: 0;
      border-radius: 0; }
      #modal-popup .modal-dialog .modal-content .modal-header {
        padding: 10px;
        text-align: left;
        border-radius: 0;
        background-color: #016ecd; }
        #modal-popup .modal-dialog .modal-content .modal-header > h6 {
          font-size: 20px;
          color: #fff;
          font-weight: 400;
          line-height: 40px; }
      #modal-popup .modal-dialog .modal-content .modal-body {
        border: 0;
        padding: 10px; }
        #modal-popup .modal-dialog .modal-content .modal-body figure img {
          width: 100%; }
      #modal-popup .modal-dialog .modal-content .modal-footer {
        display: block;
        text-align: center;
        border: 0;
        padding-top: 10px;
        padding-bottom: 20px; }
        #modal-popup .modal-dialog .modal-content .modal-footer .btn-close {
          display: block;
          font-size: 16px;
          color: #fff;
          width: 138px;
          line-height: 38px;
          margin: 0 auto;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          background-color: #016ecd; }
          #modal-popup .modal-dialog .modal-content .modal-footer .btn-close:hover {
            opacity: .7; }
    @media (min-width: 992px) {
      #modal-popup .modal-dialog {
        max-width: 800px; }
        #modal-popup .modal-dialog .modal-content .modal-header {
          padding: 10px 20px; }
        #modal-popup .modal-dialog .modal-content .modal-body {
          padding: 20px; }
        #modal-popup .modal-dialog .modal-content .modal-footer {
          padding-bottom: 30px; }
          #modal-popup .modal-dialog .modal-content .modal-footer .btn-close {
            width: 180px;
            line-height: 45px; } }

/*# sourceMappingURL=parcelout.css.map */
