@import 'common';

.parcelout {
    
}

.common-list {
    .search-form {
        margin-top: 45px;
    }
    .table-wrap {
        margin-top: 30px;
    }
    .paging {
        margin-top: 30px;
    }
    @media(min-width: $md) {
        .search-form {
            margin-top: 60px;
        }
        .table-wrap {
            margin-top: 40px;
        }
    }
}
.parcelout-list {
    .table-wrap {
        .list-type1 {
            thead {
                tr {
                    th {
                        display: none;
                        &.subject {
                            width: 68%;
                            display: table-cell;
                        }
                        &.state {
                            width: 32%;
                            display: table-cell;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        display: none;
                        &.subject {
                            display: table-cell;
                        }
                        &.state {
                            display: table-cell;
                            span {
                                display: block;
                                width: 80px;
                                line-height: 32px;
                                color: #fff;
                                margin: 0 auto;
                                &.ongoing {
                                    background-color: $kcolor;
                                }
                                &.end {
                                    background-color: #6f6f6f;
                                }
                            }
                        }
                    }
                }
            }
            @media(min-width: $sm) {
                thead {
                    tr {
                        th {
                            display: table-cell;
                            &:nth-of-type(1) {
                                width: 10%;
                            }
                            &:nth-of-type(3) {
                                width: 15%;
                            }
                            &:nth-of-type(4) {
                                width: 15%;
                            }
                            &.subject {
                                width: 45%;
                            }
                            &.state {
                                width: 15%;
                            }
                            &:nth-of-type(6) {
                                display: none;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            display: table-cell;
                            &:nth-of-type(6) {
                                display: none;
                            }
                        }
                    }
                }
            }
            @media(min-width: $md) {
                thead {
                    tr {
                        th {
                            display: table-cell;
                            &:nth-of-type(1) {
                                width: 8%;
                            }
                            &:nth-of-type(3) {
                                width: 15%;
                            }
                            &:nth-of-type(4) {
                                width: 15%;
                            }
                            &.subject {
                                width: 37%;
                            }
                            &.state {
                                width: 15%;
                            }
                            &:nth-of-type(6) {
                                width: 10%;
                                display: table-cell;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            &:nth-of-type(6) {
                                display: table-cell;
                            }
                        }
                    }
                }
            }
        }
    }
}
.examination-list {
    .table-wrap {
        .list-type1 {
            thead {
                tr {
                    th {
                        text-align: center;
                        display: none;
                        &.num {
                            display: table-cell;
                            width: 70px;
                        }
                        &.subject {
                            display: table-cell;
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        text-align: center;
                        display: none;
                        line-height: 30px;
                        &.num {
                            display: table-cell;
                            &.notice {
                                > i {
                                    width: 30px;
                                    height: 30px;
                                    line-height: 28px;
                                    text-align: center;
                                    display: block;
                                    color: #fff;
                                    margin: 0 auto;
                                    border-radius: 50%;
                                    background-color: $kcolor;
                                }
                            }
                        }
                        &.subject {
                            display: table-cell;
                        }
                    }
                }
            }
            @media(min-width: $sm) {
                thead {
                    tr {
                        th {
                            display: table-cell;
                            &.num {
                                width: 90px;
                            }
                            &.subject {
                                width: 45%;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            display: table-cell;
                        }
                    }
                }
            }
            @media(min-width: $md) {
                thead {
                    tr {
                        th {
                            display: table-cell;
                            &.num {
                                width: 10%;
                            }
                            &.subject {
                                width: 50%;
                            }
                            &:nth-of-type(3) {
                                width: 15%;
                            }
                            &:nth-of-type(4) {
                                width: 15%;
                            }
                            &:nth-of-type(5) {
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ownership {
    article {
        & ~ article {
            margin-top: 40px;
            @media(min-width: $md) {
                margin-top: 60px;
            }
        }
        &.required-documents {
            .table-responsive {
                thead {
                    tr {
                        th {
                            &:last-child {
                                border-right: 0;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            &:first-child {
                                text-align: left;
                            }
                            &:last-child {
                                border-right: 0;
                            }
                        }
                        &:nth-of-type(2) {
                            td {
                                background-color: #fbfbfb;
                            }
                        }
                    }
                }
            }
        }
        &.purchase {
            > dl {
                overflow: hidden;
                > dt {
                    display: inline-block;
                    float: left;
                    clear: both;
                    font-size: 14px;
                    color: #333;
                    float: left;
                    margin-bottom: 10px;
                    &:after {
                        content: "=";
                        margin: 0 5px;
                    }
                }
                > dd {
                    float: left;
                    display: inline;
                    float: left;
                    font-size: 14px;
                    color: #666;
                    font-weight: 300;
                    margin-bottom: 10px;
                }
                @media(min-width: $lg){
                    dt {
                        font-size: 16px;
                    }
                    dd {
                        font-size: 16px;
                    }
                }
            }
            > .attention {
                font-size: 14px;
                color: #666;
                line-height: 22px;
                font-weight: 300;
                @media(min-width: $lg){
                    font-size: 16px;
                }
            }
            > strong {
                font-size: 16px;
                display: block;
                color: $kcolor;
                margin-top: 30px;
            }
            .table-responsive {
                margin-top: 20px;
                .table {
                    thead {
                        tr {
                            th {
                                &:last-child {
                                    border-right: 0;
                                }
                            }
                            &:nth-of-type(2) {
                                th {
                                    background-color: #fbfbfb;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                &:last-child {
                                    border-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.taxguide {
    article {
        & ~ article {
            margin-top: 40px;
            @media(min-width: $md) {
                margin-top: 60px;
            }
        }
        strong {
            display: block;
            color: $kcolor;
            font-size: 14px;
            & ~ strong {
                margin-top: 30px;
            }
            @media(min-width: $lg) {
                font-size: 16px;
            }
        }
        > p {
            font-size: 14px;
            color: #666;
            font-weight: 300;
            line-height: 20px;
            margin-top: 10px;
            @media(min-width: $lg) {
                font-size: 16px;
                line-height: 26px;
            }
        }
        > ul {
            margin-top: 10px;
            > li {
                & ~ li {
                    margin-top: 5px;
                }
                > dl {
                    > dt {
                        display: inline-block;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 400;
                        &:after {
                            content: ': ';
                        }
                    }
                    > dd {
                        display: inline;
                        color: #666;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 300;
                    }
                    @media(min-width: $md) {
                        dt {
                            font-size: 16px;
                            line-height: 26px;
                        }
                        dd {
                            font-size: 16px;
                            line-height: 26px;
                        }
                    }
                }
            }
        }
    }
}

.examination-view {
    @media(min-width: $sm) {
        .view-head {
            .information {
                li {
                    border-bottom: 0 !important;
                }
            }
        }
    }
}

.faqlist {
    .search-form {
        margin-top: 45px;
    }
    .faq-list {
        margin-top: 30px;
    }
    .paging {
        margin-top: 30px;
    }
    @media(min-width: $md) {
        .search-form {
            margin-top: 60px;
        }
        .faq-list {
            margin-top: 40px;
        }
    }
}

.request-write {
    .box {
        .content {
            > .btn-area {
                margin-top: 20px;
                text-align: center;
                .btn-default {
                    width: 180px;
                    line-height: 38px;
                    font-size: 14px;
                    display: inline-block;
                    color: #fff;
                    background-color: #f8b500;
                    @include transition();
                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
        @media(min-width: $sm) {
            .content {
                position: relative;
                padding-right: 220px;
                .btn-area {
                    position: absolute;
                    top: 50%;
                    right: 40px;
                    line-height: 45px;
                    margin-top: -23px;
                    .btn-default {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .write-form {
        .table-wrap {
            text-align: right;
            margin-top: 30px;
            @media(min-width: $sm) {
                margin-top: 40px;
            }
            @media(min-width: $lg) {
                margin-top: 60px;
            }
            > .indispensable {
                display: inline-block;
                font-size: 14px;
                color: #666;
                margin-bottom: 10px;
                &:before {
                    content: '* ';
                    color: $kcolor;
                }
                @media(min-width: $lg) {
                    font-size: 16px;
                }
            }
            tbody {
                tr {
                    td {
                        .form-group {
                            textarea {
                                padding: 10px !important;
                                width: 100% !important;
                                height: 140px !important;
                            }
                        }
                        &.lot-number {
                            .form-group {
                                span {
                                    vertical-align: top;
                                    display: inline-block;
                                    line-height: 40px;
                                    &:first-child {
                                        display: block;
                                        margin-right: 10px;
                                    }
                                    &:last-child {
                                        margin-left: 10px;
                                    }
                                }
                                .form-control {
                                    width: 150px;
                                    display: inline-block;
                                }
                            }
                        }
                        &.apply {
                            .form-group {
                                & ~ .form-group {
                                    margin-top: 10px;
                                }
                                label {
                                    margin-right: 10px;
                                }
                                .form-control {
                                    width: 76%;
                                    display: inline-block;
                                }
                            }
                        }
                        &.contact {
                            .form-group {
                                & ~ .form-group {
                                    margin-top: 10px;
                                }
                                label {
                                    margin-right: 10px;
                                }
                                .form-control {
                                    display: inline-block;
                                    width: 22%;
                                    padding-left: 3px;
                                    padding-right: 3px;
                                }
                            }
                        }
                    }
                }
                @media(min-width: $sm) {
                    .form-group {
                            textarea {
                                height: 200px !important;
                            }
                        }
                    tr {
                        td {
                            &.lot-number {
                                .form-group {
                                    span {
                                        &:first-child {
                                            display: inline-block;
                                        }
                                    }
                                    .form-control {
                                        width: 300px;
                                    }
                                }
                            }
                            &.apply {
                                .form-group {
                                    display: inline-block;
                                    & ~ .form-group {
                                        margin: 0;
                                        margin-left: 30px;
                                    }
                                    .form-control {
                                        width: 215px;
                                    }
                                }
                            }
                            &.contact {
                                .form-group {
                                    .form-control {
                                        width: 70px;
                                        padding: 0 10px;
                                        &:nth-of-type(1) {
                                            margin-right: 5px;
                                        }
                                        &:nth-of-type(2) {
                                            margin: 0 5px;
                                        }
                                        &:nth-of-type(3) {
                                            margin-left: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @media(min-width: $md) {
                    tr {
                        td {
                            &.apply {
                                .form-group {
                                    .form-control {
                                        width: 200px;
                                    }
                                }
                            }
                        }
                    }
                }
                @media(min-width: $lg) {
                    tr {
                        td {
                            &.apply {
                                .form-group {
                                    .form-control {
                                        &.addr {
                                            width: 310px;
                                        }
                                    }
                                }
                            }
                            &.contact {
                                .form-group {
                                    display: inline-block;
                                    &:last-child {
                                        margin-left: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
                @media(min-width: 1400px) {
                    tr {
                        td {
                            &.apply {
                                .form-group {
                                    position: relative;
                                    padding-left: 45px;
                                    &:first-child {
                                        width: 30%;
                                    }
                                    &:last-child {
                                        width: 60%;
                                    }
                                    .form-control {
                                        width: 100% !important;
                                    }
                                    label {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-area {
            text-align: center;
            margin-top: 30px;
            .btn-submit {
                width: 150px;
                line-height: 40px;
                font-size: 14px;
                text-align: center;
                color: #fff;
                background-color: $kcolor;
                @include transition();
                &:hover {
                    opacity: .7;
                }
            }
            @media(min-width: $sm) {
                margin-top: 45px;
                .btn-submit {
                    font-size: 16px;
                    width: 180px;
                    line-height: 45px;
                }
            }
        }
    }
}

.compensation {
    .section-content {
        figure {
            margin-top: 30px;
            img {
                width: 100%;
            }
            @media(min-width: $md) {
                margin-top: 60px;
            }
        }
    }
}




#modal-popup {
    padding-right: 0 !important;
    .modal-dialog {
        margin-top: 150px;
        margin-bottom: 150px;
        .modal-content {
            border: 0;
            border-radius: 0;
            .modal-header {
                padding: 10px;
                text-align: left;
                border-radius: 0;
                background-color: $kcolor;
                > h6 {
                    font-size: 20px;
                    color: #fff;
                    font-weight: 400;
                    line-height: 40px;
                }
            }
            .modal-body {
                border: 0;
                padding: 10px;
                figure {
                    img {
                        width: 100%;
                    }
                }
            }
            .modal-footer {
                display: block;
                text-align: center;
                border: 0;
                padding-top: 10px;
                padding-bottom: 20px;
                .btn-close {
                    display: block;
                    font-size: 16px;
                    color: #fff;
                    width: 138px;
                    line-height: 38px;
                    margin: 0 auto;
                    @include transition();
                    background-color: $kcolor;
                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
        @media(min-width: $md) {
            max-width: 800px;
            .modal-content {
                .modal-header {
                    padding: 10px 20px;
                }
                .modal-body {
                    padding: 20px;
                }
                .modal-footer {
                    padding-bottom: 30px;
                    .btn-close {
                        width: 180px;
                        line-height: 45px;
                    }
                }
            }
        }
    }
}