@import 'common';

#header {
    @media(min-width: $lg) {
        position: relative;
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 100%;
            z-index: 300;
            content: '';
            border-right: 1px solid #e5e5e5;
        }
    }
}

.sub {
    .side-quick {
        display: none;
        > .quick-list {
            padding: 60px 30px 0;
            > li {
                display: block;
                width: 100%;
                padding: 45px 0;
                text-align: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%;
                & ~ li {
                    margin-top: 20px;
                }
                &:nth-of-type(1) {
                    background-image: url(/assets/images/sub/bg_quick01.jpg);
                }
                &:nth-of-type(2) {
                    background-image: url(/assets/images/sub/bg_quick02.jpg);
                }
                &:nth-of-type(3) {
                    background-image: url(/assets/images/sub/bg_quick03.jpg);
                }
                > strong {
                    display: block;
                    font-size: 22px;
                    color: #fff;
                    font-weight: 500;
                }
                .btn-more {
                    width: 86px;
                    font-size: 14px;
                    color: #fff;
                    line-height: 22px;
                    margin-top: 5px;
                    text-align: center;
                    border: 1px solid #fff;
                    border-radius: 30px;
                    @include transition();
                    &:hover {
                        color: #0148ea;
                        background-color: #fff;
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        width: 100%;
    }
    @media(min-width: 1400px) {
        overflow: hidden;
        > section {
            float: left;
            width: 70%;
            padding: 0 40px;
        }
        .side-quick {
            position: relative;
            width: 30%;
            height: 100%;
            float: left;
            display: block;
            background-image: url(/assets/images/sub/bg_side_quick.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
    }
}

.section-header {
    text-align: center;
    padding: 20px 10px 30px;
    border-bottom: 1px solid #333;
    .page-path {
        > h3 {
            display: none;
        }
        > .breadcrumb {
            display: block;
            text-align: center;
            margin: 0;
            padding: 0;
            border-radius: 0;
            background: none;
            > li {
                display: inline-block;
                font-size: 14px;
                color: #333;
                font-weight: 400;
                margin-right: 10px;
                &:first-child {
                    font-weight: 300;
                    color: #787878;
                    &:after {
                        font-family: "fontello";
                        content: "\E807";
                        margin-left: 10px;
                        display: inline-block;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .title {
        font-size: 26px;
        color: #333;
        font-weight: 500;
        margin-top: 20px;
    }
    .summary {
        display: none;
    }
    @media(min-width: $md) {
        padding: 30px 20px 50px;
        border-bottom: 1px solid #e5e5e5;
        .page-path {
            overflow: hidden;
            > h3 {
                display: inline-block;
                float: left;
                font-size: 24px;
                color: #333;
            }
            > .breadcrumb {
                display: inline-block;
                float: right;
            }
        }
        .title {
            font-size: 32px;
            margin-top: 60px;
        }
        .summary {
            display: block;
            font-size: 18px;
            color: #666;
            font-weight: 400;
            margin-top: 15px;
        }
    }
}

.nav-tab {
    max-width: 300px;
    display: block;
    margin: 0 auto 30px;
    > .btn-secondary {
        width: 100%;
        font-size: 16px;
        color: $kcolor !important;
        line-height: 46px;
        padding: 0 10px;
        text-align: left;
        border: 1px solid #e5e5e5 !important;
        background: none !important;
        &:after {
            font-family: "fontello";
            content: "\E802";
            border: 0;
            margin: 0;
            color: #9e9e9e;
            @include transition();
            float: right;
        }
    }
    .dropdown-menu {
        width: 100%;
        padding: 0;
        margin: 0;
        transform: translate3d(0px, 48px, 0px) !important;
        -webkit-transform: translate3d(0px, 48px, 0px) !important;
        border-top: 0;
        border-color: #e5e5e5;
        > ul {
            > li {
                > a {
                    display: block;
                    font-size: 16px;
                    font-weight: 300;
                    padding: 0 10px;
                    line-height: 46px;
                    border-bottom: 1px solid #e5e5e5;
                }
                &:last-child {
                    > a {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
    &.show {
        .btn-secondary {
            &:after {
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
            }
        }
    }
    @media(min-width: $md) {
        margin-bottom: 60px;
        > .btn-secondary {
            font-size: 18px;
            line-height: 54px;
            &:after {
                font-family: "fontello";
                content: "\E802";
                border: 0;
                margin: 0;
                color: #9e9e9e;
                @include transition();
                float: right;
            }
        }
        .dropdown-menu {
            transform: translate3d(0px, 56px, 0px) !important;
            -webkit-transform: translate3d(0px, 56px, 0px) !important;
            > ul {
                > li {
                    > a {
                        font-size: 18px;
                        line-height: 54px;
                    }
                    &:last-child {
                        > a {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: 1400px) {
        max-width: 100%;
        height: 56px;
        .btn-secondary {
            display: none;
        }
        .dropdown-menu {
            display: block;
            border: 0;
            z-index: 1 !important;
            transform: none !important;
            top: 0 !important;
            left: 0 !important;
            > ul {
                display: table;
                width: 100%;
                table-layout: fixed;
                > li {
                    display: table-cell;
                    width: 1%;
                    height: 54px;
                    vertical-align: middle;
                    > a {
                        text-align: center;
                        font-size: 16px;
                        color: #666;
                        font-weight: 400;
                        height: 56px;
                        padding: 0;
                        border: 0;
                        border: 1px solid #e5e5e5;
                        border-right: 0;
                        border-bottom: 2px solid $kcolor;
                        letter-spacing: -.5px;
                        @include transition();
                        &:hover {
                            color: $kcolor;
                            opacity: .8;
                        }
                    }
                    &.active {
                        > a {
                            font-weight: 500;
                            color: #333;
                            border: 2px solid $kcolor !important;
                            border-bottom: 0 !important;
                            &:hover {
                                color: #333;
                                opacity: 1;
                            }
                        }
                    }
                    &:last-child {
                        > a {
                            border-right: 1px solid #e5e5e5;
                            border-bottom: 2px solid $kcolor;
                        }
                    }
                }
            }
        }
    }
}

.section-content {
    padding: 30px 10px 60px;
    @media(min-width: $md) {
        padding: 40px 20px 80px; 
    }
    @media(min-width: $lg) {
        padding-top: 70px;
        padding-bottom: 120px;
    }
    @media(min-width: 1400px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.section-title {
    font-size: 24px;
    color: #333;
    font-weight: 500;
    @media(min-width: $md) {
        font-size: 30px;
    }
}

.sub-title {
    position: relative;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    padding-left: 15px;
    font-weight: 400;
    &:before {
        position: absolute;
        top: 2px;
        left: 0;
        width: 5px;
        height: 20px;
        content: "";
        background-color: $kcolor;
    }
    @media(min-width: $md) {
        font-size: 22px;
    }
}

.square-list {
    > li {
        position: relative;
        font-size: 16px;
        color: #666;
        padding-left: 10px;
        line-height: 24px;
        & ~ li {
            margin-top: 15px;
            @media(min-width: $lg) {
                margin-top: 20px;
            }
        }
        &:before {
            position: absolute;
            top: 10px;
            left: 0;
            width: 4px;
            height: 4px;
            display: block;
            content: "";
            background-color: $kcolor;
        }
        @media(min-width: $md) {
            line-height: 26px;
            &:before {
                top: 12px;
            }
        }
    }
}

.dashed-list {
    > li {
        position: relative;
        font-size: 16px;
        line-height: 24px;
        padding-left: 10px;
        &:before {
            position: absolute;
            top: -2px;
            left: 0;
            content: "-";
        }
        @media(min-width: $md) {
            line-height: 26px;
        }
    }
}

.dot-list {
    > li {
        position: relative;
        font-size: 16px;
        line-height: 24px;
        padding-left: 10px;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '·';
        }
        @media(min-width: $md) {
            line-height: 26px;
        }
    }
}

.decimal-list {
    > li {
        position: relative;
        font-size: 16px;
        color: #666;
        padding-left: 15px;
        line-height: 24px;
        counter-increment: list-index;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            @include noto();
            content: counter(list-index)'.';
        }
        @media(min-width: $md) {
            line-height: 26px;
        }
    }
    &.type-2 {
        > li {
            padding-left: 18px;
            counter-increment: sub-list-index;
            &:before {
                content: counter(sub-list-index)")" ;
            }
        }
    }
}


.table-wrap {
    > .table {
        text-align: center;
        width: 100%;
        table-layout: fixed;
        border-top: 1px solid #272727;
        thead {
            tr {
                th {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #333;
                    vertical-align: middle;
                    padding: 10px;
                    border: 1px solid #e5e5e5;
                    border-right: 0;
                    border-top: 0;
                    background-color: #f6f6f6;
                    &:first-child {
                        border-left: 0;
                    }
                    @media(min-width: $md) {
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    font-size: 16px;
                    color: #666;
                    font-weight: 300;
                    padding: 10px;
                    line-height: 24px;
                    border: 1px solid #e5e5e5;
                    border-right: 0;
                    border-top: 0;
                    &:first-child {
                        border-left: 0;
                    }
                    @media(min-width: $md) {
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
        &.write {
            tbody {
                tr {
                    th {
                        width: 90px;
                        font-size: 14px;
                        color: #333;
                        font-weight: 400;
                        vertical-align: middle;
                        text-align: left;
                        padding-left: 10px;
                        border: 0;
                        border-bottom: 1px solid #ddd;
                        background-color: #f6f6f6;
                        &.indispensable {
                            &:before {
                                color: $kcolor;
                                content: '* ';
                            }
                        }
                        @media(min-width: $sm) {
                            font-size: 16px;
                            width: 130px;
                        }
                    }
                    td {
                        text-align: left;
                        font-size: 14px;
                        padding: 10px;
                        border: 0;
                        border-bottom: 1px solid #ddd;
                        label {
                            display: inline-block;
                            line-height: 40px;
                            vertical-align: top;
                        }
                        .form-group {
                            .form-control {
                                font-size: 14px;
                                height: 40px;
                                padding: 0 10px;
                                border: 1px solid #e5e5e5;
                            }
                        }
                        @media(min-width: $sm) {
                            font-size: 16px;
                            .form-group {
                                .form-control {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
                @media(min-width: $md) {
                    tr {
                        th {
                            padding: 10px 20px;
                        }
                        td {
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }
        &.list-type1 {
            thead {
                tr {
                    th {
                        border: 0;
                        border-bottom: 1px solid #ddd;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 15px 5px;
                        border: 0;
                        border-bottom: 1px solid #ddd;
                        &.subject {
                            text-align: left !important;
                            > a {
                                display: block;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
}

.table-responsive {
    > .table {
        thead {
            tr {
                th {
                    white-space: nowrap;
                    font-size: 16px;
                    line-height: 24px;
                    color: #333;
                    font-weight: 400;
                    vertical-align: middle;
                    text-align: center;
                    padding: 15px;
                    border: 1px solid #ddd;
                    background-color: #f6f6f6;
                    &:first-child {
                        border-left: 1px solid rgba(#ddd, .0);
                    }
                }
                &:first-child {
                    th {
                        border-top: 1px solid #000;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    white-space: nowrap;
                    font-size: 16px;
                    color: #666;
                    font-weight: 300;
                    text-align: center;
                    vertical-align: middle;
                    padding: 15px;
                    line-height: 24px;
                    border: 1px solid #ddd;
                    &:first-child {
                        border-left: 1px solid rgba(#ddd, .0);
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .table {
            thead {
                tr {
                    th {
                        padding: 20px;
                        line-height: 24px;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        line-height: 24px;
                    }
                }
            }
        }
    }
}


.attention {
    font-size: 16px;
    color: #666;
    font-weight: 300;
    line-height: 24px;
    &:before {
        content: "※ ";
    }
    &.red {
        color: #e51a22;
    }
}

.faq-list {
    border-top: 1px solid #000;
    > ul {
        > .item {
            border-bottom: 1px solid #ddd;
            .question {
                position: relative;
                display: block;
                font-size: 15px;
                line-height: 26px;
                padding: 15px;
                padding-left: 55px;
                color: #666;
                font-weight: 300;
                background-color: #fff;
                @include transition();
                &:before {
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    width: 26px;
                    height: 26px;
                    font-size: 18px;
                    color: #333;
                    text-align: center;
                    line-height: 26px;
                    border-radius: 50%;
                    display: block;
                    content: 'Q';
                    font-weight: bold;
                    font-family: Arial, sans-serif;
                    @include transition();
                }
            }
            .answer {
                position: relative;
                width: 100%;
                height: 0;
                opacity: 0;
                border-top: 1px solid #ddd;
                transform: scaleY(0);
                -webkit-transform: scaleY(0);
                @include transition($duration: .3s);
                .content {
                    font-size: 15px;
                    color: #666;
                    font-weight: 300;
                    line-height: 26px;
                    padding: 15px;
                    padding-left: 55px;
                    &:before {
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        width: 26px;
                        height: 26px;
                        font-size: 18px;
                        color: #fff;
                        text-align: center;
                        line-height: 26px;
                        border-radius: 50%;
                        display: block;
                        content: 'A';
                        font-weight: bold;
                        font-family: Arial, sans-serif; 
                        @include transition();
                        background-color: #ff6262;
                    }
                }
            }
            &.active {
                .question {
                    color: #333;
                    font-weight: 400;
                    background-color: #f6f6f6;
                    &:before {
                        color: #fff;
                        background-color: $kcolor;
                    }
                    &:hover {
                        color: #333;
                    }
                }
                .answer {
                    opacity: 1;
                    height: auto;
                    display: block;
                    transform: scaleY(1);
                    -webkit-transform: scaleY(1);
                }
            }
        }
    }
    @media(min-width: $md) {
        > ul {
            > .item {
                .question {
                    font-size: 16px;
                    padding: 18px 30px;
                    padding-left: 125px;
                    &:before {
                        top: 10px;
                        left: 30px;
                        font-size: 26px;
                        width: 44px;
                        height: 44px;
                        line-height: 44px;
                    }
                }
                .answer {
                    .content {
                        font-size: 16px;
                        padding: 18px 30px;
                        padding-left: 125px;
                        &:before {
                            top: 10px;
                            left: 30px;
                            font-size: 26px;
                            width: 44px;
                            height: 44px;
                            line-height: 44px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        > ul {
            > .item {
                .question {
                    &:hover {
                        color: $kcolor;
                    }
                }
            }
        }
    }
}

.box {
    font-size: 16px;
    color: #666;
    line-height: 22px;
    text-align: center;
    padding: 75px 20px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-image: url(/assets/images/sub/bg_box_icon01.png);
    background-repeat: no-repeat;
    background-position: 50% 20px;
    strong {
        display: block;
        font-size: 18px;
        color: #333;
        font-weight: 500;
        ~ p {
            margin-top: 10px;
        }
    }
    p {
        font-size: 16px;
        color: #666;
        line-height: 24px;
        font-weight: 300;
    }
    &.gray {
        border-color: #ddd;
        background: none;
        background-color: #f6f6f6;
    }
    @media(min-width: $sm) {
        text-align: left;
        padding: 35px 40px 35px 115px;
        background-position: 40px 50%;
        strong {
            font-size: 22px;
        }
        p {
            font-size: 18px;
            line-height: 30px;
        }
    }
}

.search-form {
    .form-group {
        position: relative;
        width: 100%;
        max-width: 330px;
        margin: 0 auto;
        .form-control {
            width: 100%;
            height: 48px;
            padding: 10px;
            padding-right: 60px;
            font-size: 16px;
            font-weight: 300;
            border: 1px solid #e5e5e5;
            background-color: #f6f6f6;
            &::-webkit-input-placeholder {
                color: #999;
            }
            &:-moz-placeholder {
                color: #999;
            }
            &::-moz-placeholder {
                color: #999;
            }
            &:-ms-input-placeholder {
                color: #999;
            }
        }
        .btn-search {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 16px;
            width: 48px;
            line-height: 48px;
            display: block;
            color: #777;
            @include transition();
            &:hover {
                opacity: .7;
            }
        }
    }
}

.board-view {
    border-top: 2px solid #000;
    .view-head {
        .title {
            font-size: 18px;
            color: #333;
            font-weight: 400;
            line-height: 24px;
            padding: 20px 10px;
            background-color: #f6f6f6;
        }
        .information {
            overflow: hidden;
            font-size: 0;
            padding: 10px 0;
            border-top: 1px solid #ddd;
            > li {
                display: inline-block;
                margin-right: 10px;
                line-height: 18px;
                letter-spacing: -.5px;
                &:last-child {
                    margin-left: 0;
                }
                dl {
                    dt {
                        float: left;
                        clear: both;
                        font-size: 12px;
                        color: #333;
                        font-weight: 400;
                        &:after {
                            position: relative;
                            top: -1px;
                            font-size: 10px;
                            color: #666;
                            display: inline-block;
                            margin: 0 5px;
                            content: "|";
                        }
                    }
                    dd {
                        font-size: 12px;
                        color: #666;
                        font-weight: 300;
                        display: inline;
                    }
                }
            }
        }
    }
    .view-content {
        font-size: 16px;
        color: #666;
        line-height: 24px;
        font-weight: 300;
        padding: 20px 10px 30px;
        border-top: 1px solid #ddd;
    }
    .attach {
        position: relative;
        padding: 10px 0;
        padding-left: 90px;
        border-top: 1px solid #ddd;
        border-bottom: 2px solid #000;
        > dt {
            position: absolute;
            top: 10px;
            left: 0;
            font-size: 16px;
            color: #333;
            font-weight: 400;
            line-height: 24px;
            width: 80px;
            text-align: center;
            &:after {
                position: relative;
                left: 1px;
                font-size: 12px;
                color: #ddd;
                content: '|';
                float: right;
            }
        }
        > dd {
            padding-right: 10px;
            font-weight: 300;
            > a {
                display: block;
                font-size: 16px;
                color: $kcolor;
                line-height: 24px;
            }
        }
    }
    .btn-area {
        margin: 30px 0;
        text-align: center;
        > .btn-default {
            display: inline-block;
            width: 138px;
            line-height: 38px;
            font-size: 16px;
            color: #fff;
            text-align: center;
            @include transition();
            background-color: #016ecd;
            &:hover {
                opacity: .8;
            }
        }
    }
    .page-move {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        > li {
            > dl {
                position: relative;
                padding-left: 90px;
                > dt {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 80px;
                    font-size: 16px;
                    color: #333;
                    padding-right: 10px;
                    text-align: right;
                    line-height: 40px;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: #666;
                        font-family: 'fontello';
                    }
                }
                > dd {
                    padding-right: 10px;
                    font-weight: 300;
                    a {
                        width: 100%;
                        font-size: 16px;
                        line-height: 40px;
                        color: #666;
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
            &:first-child {
                border-bottom: 1px solid #ddd;
                > dl {
                    > dt {
                        &:before {
                            content: '\E804';
                        }
                    }
                }
            }
            &:last-child {
                > dl {
                    > dt {
                        &:before {
                            content: '\E802';
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        .view-head {
            .title {
                padding: 20px;
            }
            .information {
                overflow: hidden;
                padding: 0;
                > li {
                    float: left;
                    width: 33.33%;
                    padding-left: 20px;
                    margin-right: 0;
                    border-bottom: 1px solid #ddd;
                    &:nth-of-type(3) ~ li {
                        border-bottom: 0;
                    }
                    &:nth-of-type(3n + 1) {
                        clear: both;
                    }
                    dl {
                        dt {
                            font-size: 16px;
                            line-height: 42px;
                            &:after {
                                top: -3px;
                                font-size: 12px;
                                margin: 0 10px;
                            }
                        }
                        dd {
                            font-size: 16px;
                            line-height: 42px;
                        }
                    }
                }
            }
        }
        .view-content {
            padding: 30px 20px 60px;
        }
        .attach {
            padding: 15px 10px 15px 110px;
            > dt {
                top: 15px;
                width: 100px;
                &:after {
                    left: -4px;
                }
            }
            > dd {
                padding: 0;
            }
        }
        .btn-area {
            margin: 30px 0 40px;
            > .btn-default {
                width: 180px;
                line-height: 46px;
            }
        }
        .page-move {
            > li {
                > dl {
                    padding-left: 140px;
                    > dt {
                        text-align: center;
                        width: 140px;
                        line-height: 48px;
                        padding-left: 10px;
                        padding-right: 0;
                        &:before {
                            left: 10px;
                        }
                    }
                    > dd {
                        a {
                            line-height: 48px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        .view-head {
            .information {
                > li {
                    dl {
                        dt {
                            line-height: 48px;
                            &:after {
                                top: -3px;
                                margin: 0 15px;
                            }
                        }
                        dd {
                            line-height: 48px;
                        }
                    }
                }
            }
        }
        .view-content {
            padding: 40px 20px 80px;
            min-height: 450px;
        }
        .attach {
            padding: 20px 10px 20px 110px;
            > dt {
                top: 20px;
            }
        }
    }
}


.paging {
    .pagination {
        display: block;
        font-size: 0;
        text-align: center;
        > li {
            display: inline-block;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            > a {
                display: block;
                font-size: 14px;
                width: 34px;
                color: #777;
                line-height: 32px;
                border: 1px solid #ddd;
                @include transition();
                &:hover {
                    color: #fff;
                    background-color: $kcolor;
                    border-color: $kcolor;
                    opacity: .7;
                }
            }
            &.active {
                > a {
                    color: #fff;
                    background-color: $kcolor;
                    border-color: $kcolor;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}