
.icon-play-circled:before { content: '\e800'; } /* '' */
.icon-pause-circled:before { content: '\e801'; } /* '' */
.icon-down-open-big:before { content: '\e802'; } /* '' */
.icon-dot:before { content: '\e803'; } /* '' */
.icon-up-open-big:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-left-open-big:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */
.icon-right-open-big:before { content: '\e809'; } /* '' */
.icon-volume-up:before { content: '\e80a'; } /* '' */
.icon-right-circle:before { content: '\e80b'; } /* '' */
.icon-floppy:before { content: '\e80c'; } /* '' */