
.icon-play-circled:before { content: '\e800'; } /* '' */
.icon-pause-circled:before { content: '\e801'; } /* '' */
.icon-down-open-big:before { content: '\e802'; } /* '' */
.icon-dot:before { content: '\e803'; } /* '' */
.icon-up-open-big:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */